<div class="sidebar_widget">

    <div class="sidebar_title">
        <h4 class="caps"><%= t(:ours_services) %></h4></div>
    <ul class="arrows_list1">
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:website_development), services_sub_1_path %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:web_based_software_development), services_sub_2_path %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:e_commerce), services_sub_3_path %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:google_apps_for_bussiness), services_sub_4_path %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:outsourcing), services_sub_5_path %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:research_and_development), services_sub_6_path %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:systems_integration), services_sub_7_path %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i> '.html_safe + t(:email_marketing), services_sub_8_path %></li>
    </ul>

</div>
<!-- end section -->

<div class="margin_top4"></div>
<div class="clearfix"></div>

<div class="sidebar_widget">

    <div id="tabs">

        <ul class="tabs">
            <li class="active"><a href="#tab1"><%= t(:lastest_news) %></a></li>
            <li class="last"><a href="#tab2"><%= t(:tags) %></a></li>
        </ul>
        <!-- /# end tab links -->

        <div class="tab_container">
            <div id="tab1" class="tab_content">
                
                <ul class="recent_posts_list">
                    <% Article.get_active_articles.limit(4).each do |item| %>
                        <li>
                            <span><a href="#"><img src="<%= item.image_url.hksoft_square_image %>" alt="" /></a></span>
                            <%= link_to item.title, blog_post_path(news_id: item) %>
                            <i><%= item.created_at.strftime("%d %B %Y") %></i>
                        </li>
                    <% end %>
                </ul>

            </div>
            <!-- end popular posts -->

            <div id="tab2" class="tab_content">
                <ul class="tags">
                    
                    <% @program_languages.each do |item| %>
                    <li><a href="#<%= item.name %>"><%= item.name %></a></li>
                    <% end %>
                
                </ul>
            </div>

        </div>

    </div>

</div>
<!-- end section -->