<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty10">
        <div class="container">

            <h1>Web hosting services, blogs <br />web site builder tools</h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix margin_bottom7"></div>


    <div class="container">

        <div class="one_half">
            <h3 class="light">Alteration some form injected or randomised words which don't look even as slightly believable you are needs to be sure chunks is therefore always.</h3>

            <p>Put her into the belt and made on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane over the years, sometimes by sometimes on purpose Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>

        <div class="one_half last">
            <div class="pro_bar">

                <h5>Website Design</h5>
                <div id="progress_bar" class="ui-progress-bar ui-container">
                    <div class="ui-progress"><span class="ui-label"><b class="value">90%</b></span></div>
                </div>
                <!-- end section -->

                <br />

                <h5>Javascript</h5>
                <div id="progress_bar3" class="ui-progress-bar ui-container">
                    <div class="ui-progress three"><span class="ui-label"><b class="value">80%</b></span></div>
                </div>
                <!-- end section -->

                <br />

                <h5>Development</h5>
                <div id="progress_bar4" class="ui-progress-bar ui-container">
                    <div class="ui-progress four"><span class="ui-label"><b class="value">94%</b></span></div>
                </div>
                <!-- end section -->

                <br />

                <h5>Marketing</h5>
                <div id="progress_bar5" class="ui-progress-bar ui-container">
                    <div class="ui-progress five"><span class="ui-label"><b class="value">85%</b></span></div>
                </div>
                <!-- end section -->

            </div>
        </div>

    </div>
    <!-- end section -->


    <div class="clearfix"></div>


    <div class="feature_section4">
        <div class="container">

            <div class="left">
                <strong><em>Secure-Fast-Reliable</em>
    Shared Hosting</strong>
                <img src="/frontend/images/site-img10.png" alt="" />
                <h4 class="white light">All hosting features used tempalte</h4>
                <br />
                <a href="#" class="button three">Learn More</a>
            </div>
            <!-- end left -->

            <div class="center">
                <strong><em>Trust Partner your Choice</em>
    Reseller Hosting</strong>
                <img src="/frontend/images/site-img11.png" alt="" />
                <h4 class="white light">All hosting features used tempalte</h4>
                <br />
                <a href="#" class="button three">Learn More</a>
            </div>
            <!-- end left -->

            <div class="right">
                <strong><em>Storing Resources</em>
    Cloud Computing</strong>
                <img src="/frontend/images/site-img12.png" alt="" />
                <h4 class="light">All hosting features used tempalte</h4>
                <br />
                <a href="#" class="button three dark">Learn More</a>
            </div>
            <!-- end left -->

        </div>
    </div>
    <!-- end featured section 4 -->


    <div class="clearfix"></div>


    <div class="parallax_section5">
        <div class="container">

            <h1 class="caps white"><strong>What more we offer</strong></h1>

            <div class="clearfix margin_bottom1"></div>

            <div class="tabs detached hide-title cross-fade">

                <section>
                    <h1><span>Hosting</span></h1>
                    <img src="/frontend/images/site-img5.png" alt="" />
                    <h2>Web hosting packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section id="nested-instance">
                    <h1><span>Websites</span></h1>
                    <img src="/frontend/images/site-img6.png" alt="" />
                    <h2>Website Builder packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section>
                    <h1><span>Domains</span></h1>
                    <img src="/frontend/images/site-img7.png" alt="" />
                    <h2>Domain packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section>
                    <h1><span>eCommerce</span></h1>
                    <img src="/frontend/images/site-img8.png" alt="" />
                    <h2>eCommerce packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section>
                    <h1><span>Mobile</span></h1>
                    <img src="/frontend/images/site-img9.png" alt="" />
                    <h2>Mobile website packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

            </div>

        </div>
    </div>
    <!-- end parallax section 5 -->


    <div class="clearfix"></div>


    <div class="feature_section3">
        <div class="container">

            <div class="one_half">

                <h2 class="caps">Latest News / Blogs</h2>

                <div class="clearfix margin_bottom1"></div>


                <div id="owl-demo13" class="owl-carousel">

                    <div class="lstblogs">
                        <div>
                            <a href="#"><img src="/frontend/images/site-img1.jpg" alt="" /></a>
                            <a href="#" class="date"><strong>12</strong> Aug</a>
                            <h4 class="white light"><a href="#" class="tcont">Galley of type and scrambled it to make typesets specimen book with the release sheets.</a> <div class="hline"></div></h4>
                        </div>
                    </div>
                    <!-- end this slide -->

                    <div class="lstblogs">
                        <div>
                            <a href="#"><img src="/frontend/images/site-img2.jpg" alt="" /></a>
                            <a href="#" class="date"><strong>11</strong> Aug</a>
                            <h4 class="white light"><a href="#" class="tcont">Desktop type and scrambled it to make typesets specimen book with the release sheets.</a> <div class="hline"></div></h4>
                        </div>
                    </div>
                    <!-- end this slide -->

                    <div class="lstblogs">
                        <div>
                            <a href="#"><img src="/frontend/images/site-img3.jpg" alt="" /></a>
                            <a href="#" class="date"><strong>10</strong> Aug</a>
                            <h4 class="white light"><a href="#" class="tcont">Packages of type and scrambled it to make specimen book with the release sheets.</a> <div class="hline"></div></h4>
                        </div>
                    </div>
                    <!-- end this slide -->

                </div>

            </div>
            <!-- end latest news / blogs section -->


            <div class="one_half last">

                <h2 class="caps">Have Questions?</h2>

                <div class="clearfix margin_bottom1"></div>

                <div id="st-accordion-six" class="st-accordion-six">

                    <ul>

                        <li>
                            <a href="#">3 Diffrent Hosting Websites<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>She packed her seven versalia, put her into the belt and made on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane over the years, sometimes by sometimes on purpose.</p>
                            </div>
                        </li>

                        <li>
                            <a href="#">Fully Responsive Well Structured<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            </div>
                        </li>

                        <li>
                            <a href="#">Free Support Free Lifetime Updates<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>O my friend - but it is too much for my strength - I sink under the weight of the splendour of these visions!</p>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </li>

                        <li>
                            <a href="#">Premium Sliders Portfolios and Forms<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?"</p>
                                <p>He thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </div>
    <!-- end feature section 3 -->


    <div class="clearfix"></div>


    <div class="feature_section15">
        <div class="container">

            <h2 class="caps"><strong>Our Management Team</strong></h2>

            <div class="clearfix margin_bottom3"></div>

            <div class="one_fourth_less">
                <img src="/frontend/images/peop-img33.jpg" alt="" />
                <h5 class="sitecolor">Mark Anderson <em>Chief Executive Officer</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

            <div class="one_fourth_less">
                <img src="/frontend/images/peop-img34.jpg" alt="" />
                <h5 class="sitecolor">Ashtyn Hailey <em>Support Supervisor</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

            <div class="one_fourth_less">
                <img src="/frontend/images/peop-img35.jpg" alt="" />
                <h5 class="sitecolor">Felipe Keshawn <em>Support Representative</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

            <div class="one_fourth_less last">
                <img src="/frontend/images/peop-img41.jpg" alt="" />
                <h5 class="sitecolor">Moody Jonathan <em>Office Manager</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

            <div class="clearfix margin_bottom5"></div>

            <div class="one_fourth_less">
                <img src="/frontend/images/peop-img43.jpg" alt="" />
                <h5 class="sitecolor">Gargionay Smith <em>Software Engineer</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

            <div class="one_fourth_less">
                <img src="/frontend/images/peop-img36.jpg" alt="" />
                <h5 class="sitecolor">Eva Keely <em>Product Director</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

            <div class="one_fourth_less">
                <img src="/frontend/images/peop-img43.jpg" alt="" />
                <h5 class="sitecolor">Gargionay Smith <em>Software Engineer</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

            <div class="one_fourth_less last">
                <img src="/frontend/images/peop-img42.jpg" alt="" />
                <h5 class="sitecolor">Eva Keely <em>Product Director</em></h5>
                <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 15 -->


    <div class="clearfix"></div>


    <%= render "/home/customer_showcase" %>
    <!-- end this logos -->


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->


</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- get jQuery used for the theme - only services page -->
<script src="/frontend/js/tabs2/index.js"></script>
<script>
    (function($) {
        "use strict";

        $('.accordion, .tabs').TabsAccordion({
            hashWatch: true,
            pauseMedia: true,
            responsiveSwitch: 'tablist',
            saveState: sessionStorage,
        });

    })(jQuery);
</script>