<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty13">
        <div class="container">

            <h1>
                <% if @content_management_system.present? %>
                    <% if params[:locale] == "vi" %>
                        <%= @content_management_system.first.title_vi if !@content_management_system.first.title_vi.nil? %>
                    <% else %>
                        <%= @content_management_system.first.title if !@content_management_system.first.title.nil? %>
                    <% end %>
                <% end %>   
            </h1>
            <div class="pagenation">&nbsp;<%= link_to t(:home_page), root_path %> <i>/</i> <%= link_to t(:services), services_sub_1_path %> <i>/</i>
                <% if @content_management_system.present? %>
                    <% if params[:locale] == "vi" %>
                        <%= @content_management_system.first.title_vi if !@content_management_system.first.title_vi.nil? %>
                    <% else %>
                        <%= @content_management_system.first.title if !@content_management_system.first.title.nil? %>
                    <% end %>
                <% end %>
            </div>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="content_fullwidth less2">
        <div class="container">

            <div class="content_left">

                <div class="blog_post">
                    <% @content_management_system.each do |item| %>
                    <div class="blog_postcontent">
                        <div class="image_frame">
                            <%= image_tag item.image_url.hksoft_large_image %>
                        </div>
                        <% if params[:locale] == "vi" %>
                            <h3><%= item.title_vi %></h3>
                        <% else %>
                            <h3><%= item.title %></h3>
                        <% end %>
                        <ul class="post_meta_links">
                            <li><a href="#created_at" class="date">
                            <% if params[:locale] == "en" %><%= item.created_at.strftime("%d %B %Y") %><% else %><%= item.created_at.strftime("%d/%m/%Y") %><% end %>
                            </a></li>
                            <li class="post_by"><i><%= t(:by) %>:</i> <a href="#global_naturesoft">Global Naturesoft</a></li>
                            <li class="post_categoty"><i><%= t(:in) %>:</i> <a href="#content_management_system"><%= t(:content_management_system) %></a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="margin_top1"></div>
                        <% if params[:locale] == "vi" %>
                            <div class="text-justify"><%= item.content_vi.html_safe %></div>
                        <% else %>
                            <div class="text-justify"><%= item.content.html_safe %></div>
                        <% end %>
                    </div>
                    <% end %>
                </div>
                <!-- /# end post -->

                <div class="clearfix divider_line9 lessm"></div>
               
                <div class="content_fullwidth fullwidth_fix_last">
        
                    <div class="container">
                
                        <div class="stcode_title4">
                            <h3><span class="line"></span><span class="text"><strong><%= t(:available_options_features_comparison) %></strong><span></span></span></h3>
                        </div>
                        
                        <div class="margin_top1"></div>
                        <div class="clearfix"></div>
                
                        <div class="pritable ltp pritable_fix">
                            <div class="container">
                
                                <div class="pacdetails related">
                
                                    <div class="title">
                                        <h2>Basic</h2>
                                    </div>
                
                                    <ul>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> One Design Concept</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 2 Revisions</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 1 – 5 Page Web Design</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Home Page slideshow</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Gallery / Portfolio Page</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></i></strong> Pages Data Entry</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Contact Form</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Location Maps</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> CMS</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mobile Friendly Website</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Newsletter Signup Area</li>
                                    </ul>
                
                                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>
                
                                </div>
                                <!-- end section -->
                
                                <div class="pacdetails related three">
                
                                    <div class="title">
                                        <h2>Professional</h2>
                                    </div>
                
                                    <ul>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Two Design Concept</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 4 Revisions</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 6 – 10 Page Web Design</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Home Page slideshow</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Gallery / Portfolio Page</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Pages Data Entry</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Contact Form</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Location Maps</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> CMS</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mobile Friendly Website</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Newsletter Signup Area</li>
                                    </ul>
                
                                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>
                
                                </div>
                                <!-- end section -->
                
                                <div class="pacdetails related four">
                
                                    <div class="title">
                                        <h2>Advanced</h2>
                                    </div>
                
                                    <ul>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Three Design Concept</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 4 Revisions</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> 8 – 12 Page Web Design</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Home Page slideshow</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Gallery / Portfolio Page</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Pages Data Entry</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Contact Form</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Location Maps</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> CMS</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mobile Friendly Website</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Newsletter Signup Area</li>
                                    </ul>
                
                                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>
                
                                </div>
                                <!-- end section -->
                
                            </div>
                        </div>
                        <!-- end section -->
                
                    </div>
                </div>
                
                <div class="clearfix divider_line9 lessm"></div>
                
                <%= render 'modules/related_project' %>

            </div>
            <!-- end content left side -->


            <!-- right sidebar starts -->
            <div class="right_sidebar">

                <%= render "/services/right_sidebar" %>

            </div>
            <!-- end right sidebar -->

        </div>
        
    </div>


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>