<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty13">
        <div class="container">

            <h1>
                <% if @real_estate_site.present? %>
                    <% if params[:locale] == "vi" %>
                        <%= @real_estate_site.first.title_vi if !@real_estate_site.first.title_vi.nil? %>
                    <% else %>
                        <%= @real_estate_site.first.title if !@real_estate_site.first.title.nil? %>
                    <% end %>
                <% end %>
            </h1>
            <div class="pagenation">&nbsp;<%= link_to t(:home_page), root_path %> <i>/</i> <%= link_to t(:services), services_sub_2_path %> <i>/</i> 
                <% if @real_estate_site.present? %>
                    <% if params[:locale] == "vi" %>
                        <%= @real_estate_site.first.title_vi if !@real_estate_site.first.title_vi.nil? %>
                    <% else %>
                        <%= @real_estate_site.first.title if !@real_estate_site.first.title.nil? %>
                    <% end %>
                <% end %>
            </div>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="content_fullwidth less2">
        <div class="container">

            <div class="content_left">

                <div class="blog_post">
                    <% @real_estate_site.each do |item| %>
                    <div class="blog_postcontent">
                        <div class="image_frame">
                            <%= image_tag item.image_url.hksoft_large_image %>
                        </div>
                        <% if params[:locale] == "vi" %>
                            <h3><%= item.title_vi %></h3>
                        <% else %>
                            <h3><%= item.title %></h3>
                        <% end %>
                        <ul class="post_meta_links">
                            <li><a href="#created_at" class="date">
                            <% if params[:locale] == "en" %><%= item.created_at.strftime("%d %B %Y") %><% else %><%= item.created_at.strftime("%d/%m/%Y") %><% end %>
                            </a></li>
                            <li class="post_by"><i><%= t(:by) %>:</i> <a href="#global_naturesoft">Global Naturesoft</a></li>
                            <li class="post_categoty"><i><%= t(:in) %>:</i> <a href="#web_based_software_development"><%= t(:web_based_software_development) %></a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="margin_top1"></div>
                        <% if params[:locale] == "vi" %>
                            <div class="text-justify"><%= item.content_vi.html_safe if !item.content_vi.nil? %></div>
                        <% else %>
                            <div class="text-justify"><%= item.content.html_safe if !item.content.nil? %></div>
                        <% end %>
                    </div>
                    <% end %>
                </div>
                <!-- /# end post -->
                
                <div class="clearfix divider_line9 lessm"></div>
                
                <div class="content_fullwidth fullwidth_fix_last">
        
                    <div class="container">
                
                        <div class="stcode_title4">
                            <h3><span class="line"></span><span class="text"><strong><%= t(:available_options_features_comparison) %></strong><span></span></span></h3>
                        </div>
                        
                        <div class="margin_top1"></div>
                        <div class="clearfix"></div>
                
                        <div class="pritable ltp pritable_fix">
                            <div class="container">
                
                                <div class="pacdetails related">
                
                                    <div class="title">
                                        <h2>Basic</h2>
                                    </div>
                
                                    <ul>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Custom website design</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> iPhone & iPad Compatable</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Solution Independent Realtors</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Solution Real Estate Agencies</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Property Picture Slide Show</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Multi-Agent Login</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Add Virtual Tours</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Listing printable version</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Compare Properties</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Property Marker Ribbons</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Map Integration</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Advance Search Facility</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Easy Administration</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Agent Profile</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Agent Other Properties</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Contact/Enquiries form</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Search Friendly URLs</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Content Management System</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Multiple Currencies</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Multiple Languages</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Export Data Feed</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> SMS Notifications</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Social Media Linking</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Mortgage Calculators</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Loan Calculators</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Content Management System</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Newsletter Management</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Mobile Version of website</li>
                                    </ul>
                
                                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>
                
                                </div>
                                <!-- end section -->
                
                                <div class="pacdetails related three">
                
                                    <div class="title">
                                        <h2>Professional</h2>
                                    </div>
                
                                    <ul>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Custom website design</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> iPhone & iPad Compatable</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Solution Independent Realtors</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Solution Real Estate Agencies</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Property Picture Slide Show</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Multi-Agent Login</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Add Virtual Tours</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Listing printable version</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Compare Properties</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Property Marker Ribbons</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Map Integration</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Advance Search Facility</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Easy Administration</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Agent Profile</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Agent Other Properties</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Contact/Enquiries form</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Search Friendly URLs</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Content Management System</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Multiple Currencies</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Multiple Languages</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Export Data Feed</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> SMS Notifications</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Social Media Linking</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Mortgage Calculators</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Loan Calculators</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Content Management System</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Newsletter Management</li>
                                        <li><strong><i class="fa fa-times gray"></i></strong> Mobile Version of website</li>
                                    </ul>
                
                                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>
                
                                </div>
                                <!-- end section -->
                
                                <div class="pacdetails related four">
                
                                    <div class="title">
                                        <h2>Advanced</h2>
                                    </div>
                
                                    <ul>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Custom website design</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> iPhone & iPad Compatable</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Solution Independent Realtors</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Solution Real Estate Agencies</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Property Picture Slide Show</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Multi-Agent Login</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Add Virtual Tours</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Listing printable version</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Compare Properties</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Property Marker Ribbons</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Google Map Integration</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Advance Search Facility</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Easy Administration</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Agent Profile</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Agent Other Properties</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Contact/Enquiries form</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Search Friendly URLs</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Content Management System</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Multiple Currencies</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Multiple Languages</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Export Data Feed</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> SMS Notifications</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Social Media Linking</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mortgage Calculators</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Loan Calculators</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Content Management System</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Newsletter Management</li>
                                        <li><strong><i class="fa fa-check sitecolor"></i></strong> Mobile Version of website</li>
                                    </ul>
                
                                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>
                
                                </div>
                                <!-- end section -->
                
                            </div>
                        </div>
                        <!-- end section -->
                
                    </div>
                </div>
                
                <div class="clearfix divider_line9 lessm"></div>
                
                <% if @real_estate_site.first.present? and @real_estate_site.first.projects.present? %>
                    <%= render 'modules/related_project', related_projects: @real_estate_site %>
                <% end %>

            </div>
            <!-- end content left side -->


            <!-- right sidebar starts -->
            <div class="right_sidebar">

                <%= render "/services/right_sidebar" %>

            </div>
            <!-- end right sidebar -->

        </div>
        
    </div>


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>