<p>-------- NewDiscovery.vn - Đăng ký vé mý bay --------</p>
<p>Họ & Tên: <%= @booking_plane.full_name %></p>
<p>Email: <%= @booking_plane.email %></p>
<p>Số điện thoại: <%= @booking_plane.phone %></p>
<p>Địa chỉ: <%= @booking_plane.address %></p>
<p>ID/Passport: <%= @booking_plane.passport %></p>
<p>Số người lớn: <%= @booking_plane.adult %></p>
<p>Số trẻ em: <%= @booking_plane.child %></p>
<p>Loại vé: <%= @booking_plane.ticket_type %></p>
<p>Địa điểm khởi hành: <%= @booking_plane.address_from %></p>
<p>Địa điểm đến: <%= @booking_plane.address_to %></p>
<p>Ngày đi: <%= @booking_plane.date_from.strftime("%d/%m/%Y") %></p>
<p>Ngày về: <%= @booking_plane.date_to.strftime("%d/%m/%Y") %></p>
<p>Lời nhắn: <%= @booking_plane.message.html_safe %></p>
<p>Ngày gửi: <%= @booking_plane.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %> (GMT+07:00)</p>