<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span></span> <i class="icon-menu"></i></li>
            <li class="<%= "active" if ["admin/main"].include?(params[:controller]) %>"><%= link_to '<i class="icon-home4"></i> <span>'.html_safe + t(:dashboard) +'</span>'.html_safe, { controller: "main", action: "index" } %></li>
            
            <li>
                <a href="#"><i class="icon-files-empty2"></i> <span><%= t(:project) %></span></a>
                <ul>
                    <li class="<%= "active" if ["admin/projects"].include?(params[:controller]) %>">
                        <%= link_to t(:projects), admin_projects_path %>
                    </li>
                    <li class="<%= "active" if ["admin/project_categories"].include?(params[:controller]) %>">
                        <%= link_to t(:project_categories), admin_project_categories_path %>
                    </li>
                    <li class="<%= "active" if ["admin/program_languages"].include?(params[:controller]) %>">
                        <%= link_to t(:program_languages), admin_program_languages_path %>
                    </li>
                </ul>
            </li>
            
            <% if can?(:read, Article) or can?(:read, ArticleCategory) or can?(:read, CodeStatus) %>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-pencil"></i> <span><%= t(:article) %></span></a>
                    <ul>
                        <% if can? :read, Article %>
                            <li class="<%= "active" if ["admin/articles"].include?(params[:controller]) %>">
                                <%= link_to t(:articles), admin_articles_path %>
                            </li>
                        <% end %>
                        <% if can? :read, ArticleCategory %>
                            <li class="<%= "active" if ["admin/article_categories"].include?(params[:controller]) %>">
                                <%= link_to t(:article_categories), admin_article_categories_path %>
                            </li>
                        <% end %>
                        <% if can? :read, CodeStatus %>
                            <li class="<%= "active" if ["admin/code_statuses"].include?(params[:controller]) %>">
                                <%= link_to t(:code_statuses), admin_code_statuses_path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
            
            <% if can?(:read, User) or can?(:read, UserGroup) %>
                
                <li>
                    <a href="#"><i class="icon-users"></i> <span><%= t(:user) %></span></a>
                    <ul>
                        <% if can? :read, User %>
                            <li class="<%= "active" if ["admin/users"].include?(params[:controller]) %>">
                                <%= link_to t(:users), admin_users_path %>
                            </li>
                        <% end %>
                        <% if can? :read, UserGroup %>
                            <li class="<%= "active" if ["admin/user_groups"].include?(params[:controller]) %>">
                                <%= link_to t(:user_groups), admin_user_groups_path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            
            <% end %>
            
            <% if can?(:read, Company) %>
                <li>
                    <a href="#"><i class="icon-office"></i> <span><%= t(:company) %></span></a>
                    <ul>
                        <% if can? :read, Company %>
                            <li class="<%= "active" if ["admin/companies"].include?(params[:controller]) %>">
                                <%= link_to t(:branch_office), admin_companies_path %>
                            </li>
                        <% end %>
                        <% if can? :read, Company %>
                            <li>
                                <%= link_to t(:head_office), admin_head_office_path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </div>
</div>