<div class="pageWrap">
	
    <%= render "/home/tp_bar" %>
    <!-- /tp-bar -->

    <%= render "/home/main_bar" %>
    <!-- /main-bar -->

	<div class="section-banner">
		<div class="container">
			<ul class="breadcrumb">
				<li><%= link_to "Trang Chủ", root_path %></li>
				<li>
					<% if !@category.parent.empty? %>
						<%= link_to @category.parent.first.name, { controller: "category", action: "index", category_id: @category.parent.first.id } %>
					<% end %>
				</li>
				<li class="dropdown active breadcrumb-search">
					<% if Category.get_all_categories(params).count == 0%>
						<%= link_to @category.name, "#" %>
					<% else %>
						<%= link_to (@category.name + '<i class="caret"></i>').html_safe, "#", "data-toggle" => "dropdown", "id" => "one" %>
					<% end %>
					<ul class="dropdown-menu" aria-labelledby="one">
                        <% Category.get_all_categories(params).each do |item| %>
							<li>
								<%= link_to item.name, { controller: "category", action: "category_sub_2", category_id: item.id } %>
							</li>
                        <% end %>
					</ul>
				</li>
				<li>
					<div class="bar-form">
						<form method="post" action="#">
							<input type="search" placeholder="Tìm kiếm sản phẩm">
							<input type="submit">
						</form>
					</div><!-- /bar-form -->
				</li>
			</ul>
		</div>
	</div><!-- /section-banner -->

	<section class="section-compact">
		<div class="container">
			<header class="heading-3 page-heading">
				<h4> <%= @category.name %> <small>(<%= @category.get_products_for_categories(params).count %>)</small></h4>
			</header>
			
			<div class="row">
				<div class="col-md-3">
                    
                    <% Category.get_all_categories(params).each do |category| %>
						<div class="widget widget-prod-categrories">
							<header class="widget-heading-3">
								<h4>
									<span class="caret"></span>
									<%= link_to category.name, { controller: "category", action: "category_sub_1", category_id: category.id } %>
									<em><%= category.children.order(:ordered).count %></em>
								</h4>
							</header>
							<ul class="list-align">
								<% category.children.order(:ordered).each do |child_2| %>
									<li><%= link_to child_2.name, { controller: "category", action: "category_sub_2", category_id: child_2.id } %></li>
									<!--<li><a href="#">Các Bộ Dưỡng Da <span class="right">0</span></a></li>-->
								<% end %>
							</ul>
						</div><!-- /widget-prod-categrories -->
					<% end %>

				</div>
				<div class="col-md-9">
					
					<div class="filter-head">
                        
					</div><!-- /filter-head -->
					<ul class="filter-list">
						<% @products.each do |product| %>
							<li class="mix rating pricefresh">
								<div class="thumbnail thumbnail-product">
								  <figure class="image-zoom">
									<% if product.get_main_image.present? %>
										<%= image_tag(product.get_main_image.image_url.medium_image) %>
									<% else %>
										<img src="frontend/images/resource/no-image.png" alt="image">
									<% end %>
								  </figure>
									<div class="caption">
										<div class="text-wrap">
											<h5><%= link_to product.name, { controller: "product", action: "index", product_id: product.id }, title: product.name %></h5>
											<p class="prod-price text-primary"><%= format_number(product.price) %> VNĐ</p>
											<div class="filter-list-disp">
												<%= link_to "Xem Sản Phẩm", { controller: "product", action: "index", product_id: product.id }, class: "btn btn-default view-detail" %>
											</div>
										</div><!-- /text-wrap -->
									</div>
								</div><!-- /thumbail -->
							</li>
						<% end %>
					</ul><!-- filter-list -->
					
					<div class="pagination-right">
						
						<%= will_paginate @products.get_active_products, previous_label: '<i class="flaticon-arrowhead7"></i>', next_label: '<i class="flaticon-arrow487"></i>', renderer: BootstrapPagination::Rails %>
					
					</div><!-- /pagination-right -->

				</div>
			</div>
		</div>
	</section>

	<%= render "/home/footer" %>

</div><!-- /pageWrap -->

<div class="preloader-container">
  <div id="loading-center-absolute">
    <div class="object" id="object_one"></div>
    <div class="object" id="object_two"></div>
    <div class="object" id="object_three"></div>
    <div class="object" id="object_four"></div>
    <div class="object" id="object_five"></div>
    <div class="object" id="object_six"></div>
    <div class="object" id="object_seven"></div>
    <div class="object" id="object_eight"></div>
    <div class="object" id="object_big"></div>
  </div><!-- /loading-center-absolute -->
</div><!-- /preloader-container -->


<!-- JavaScript
================================================== -->
<%= javascript_include_tag "/frontend/js/jquery-1.11.2.min.js" %>
<%= javascript_include_tag "/frontend/js/bootstrap.min.js" %>
<%= javascript_include_tag "/frontend/js/jquery.mixitup.min.js" %>

<%= javascript_include_tag "/frontend/js/jquery-ui.min.js" %>

<%= javascript_include_tag "/frontend/js/script.js" %>

<%= javascript_include_tag "/frontend/js/ie10-viewport-bug-workaround.js" %>
<%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>