<div class="travelo-box">
		<h5 class="box-title"><strong>CHĂM SÓC KHÁCH HÀNG</strong></h5>
		<ul class="check box">
			<li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_1") %>"><%= link_to "Chính sách thanh toán", info_system_1_path %></li>
            <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_2") %>"><%= link_to "Chính sách đổi trả voucher & hoàn tiền", info_system_2_path %></li>
            <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_3") %>"><%= link_to "Chính sách bảo mật thông tin khách hàng", info_system_3_path %></li>
            <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_4") %>"><%= link_to "Chính sách giải quyết tranh chấp, khiếu nại", info_system_4_path %></li>
            <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_5") %>"><%= link_to "Điều khoản mua bán hàng hóa", info_system_5_path %></li>
		</ul>
</div>