<p id="notice"><%= notice %></p>

<p>
  <strong>Title 1:</strong>
  <%= @visa.title_1 %>
</p>

<p>
  <strong>Content 1:</strong>
  <%= @visa.content_1 %>
</p>

<p>
  <strong>Title 2:</strong>
  <%= @visa.title_2 %>
</p>

<p>
  <strong>Content 2:</strong>
  <%= @visa.content_2 %>
</p>

<p>
  <strong>Title 3:</strong>
  <%= @visa.title_3 %>
</p>

<p>
  <strong>Content 3:</strong>
  <%= @visa.content_3 %>
</p>

<p>
  <strong>Title 4:</strong>
  <%= @visa.title_4 %>
</p>

<p>
  <strong>Content 4:</strong>
  <%= @visa.content_4 %>
</p>

<p>
  <strong>Title 5:</strong>
  <%= @visa.title_5 %>
</p>

<p>
  <strong>Content 5:</strong>
  <%= @visa.content_5 %>
</p>

<p>
  <strong>Title 6:</strong>
  <%= @visa.title_6 %>
</p>

<p>
  <strong>Content 6:</strong>
  <%= @visa.content_6 %>
</p>

<%= link_to 'Edit', edit_visa_path(@visa) %> |
<%= link_to 'Back', visas_path %>
