<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Tour Nước Ngoài</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Tour Du Lịch</a></li>
                <li class="active">Tour Nước Ngoài</li>
            </ul>
        </div>
    </div>

    <section id="content" class="tour">
        <div id="slideshow" class="slideshow-bg full-screen">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/1.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/2.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/3.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/4.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/5.jpg);"></div>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="table-wrapper full-width">
                    <div class="table-cell">
                        <div class="box">
                            <img src="/frontend/images/tour/home/logo.png" alt="">
                        </div>
                        <div class="heading box">
                            <h1 class="title">DU LỊCH NƯỚC NGOÀI</h1>
                            <h3 class="sub-title">Get 20% discount on single tour package</h3>
                        </div>
                        <div class="search-box">
                            <form>
                                <div class="row">
                                    <div class="col-sm-4 col-md-3 form-group">
                                        <input type="text" class="input-text full-width" placeholder="Gõ Từ Khóa Cần Tìm...">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 form-group">
                                        <div class="datepicker-wrap">
                                            <input type="text" name="date_from" class="input-text full-width" placeholder="Chọn Lịch Khởi Hành" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 form-group">
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="">Chủ Đề Tour</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5 row">
                                        <div class="col-xs-6 col-sm-4 form-group">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="">Điểm Đến Hot</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 form-group">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="">Tiêu Chuẩn</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 form-group">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="">Theo Miền</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="text-center">
                            <a href="#hotline" class="button btn-medium sky-blue1 uppercase">HOTLINE: (84) 3 85 333 18 - (84) 3 85 333 21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section white-bg">
            <div class="container">
                <div class="text-center description block">
                    <h1>DANH SÁCH TOUR NƯỚC NGOÀI</h1>
                </div>
                
                <div id="main">
                    <div class="row add-clearfix image-box style1 tour-locations">
                        <% @tours.each do |item| %>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <article class="box">
                                    <figure>
                                        <%= link_to image_tag("/frontend/images/tour/simple-packages/4-col/3.jpg"), tour_detail_path(tour_id: item), class: "hover-effect" %>
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title text-justify"><%= item.name %></h4>
                                        <span class="price"><% if item.new_price == 0 %>Liên hệ<% else %><%= format_number(item.new_price) %> VND<% end %></span>
                                        <hr>
                                        <div class="text-justify"><%= truncate(strip_tags(item.description), length: 100) %></div>
                                        <hr>
                                        <div class="text-center">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="">Lịch khởi hành - [<%= item.get_count_tour_schedules %>]</option>
                                                    <% item.tour_schedules.each do |schedule| %>
                                                        <option value=""><%= schedule.from_date.strftime("%d/%m/%Y") %> - <%= schedule.to_date.strftime("%d/%m/%Y") %></option>
                                                    <% end %>
                                                </select>
                                            </div>
                                            <div class="time">
                                                <i class="soap-icon-clock yellow-color"></i>
                                                <span>Tour sớm nhất: <br/><% if item.tour_schedules.count > 0 %><%= item.get_lastest_tour_from_date %> - <%= item.get_lastest_tour_to_date %><% else %>Chưa có lịch cho tour<% end %></span>
                                            </div>
                                        </div>
                                        <%= link_to "XEM TOUR", tour_detail_path(tour_id: item), class: "button btn-small full-width" %>
                                    </div>
                                </article>
                            </div>
                        <% end %>
                    </div>
                    <ul class="pagination clearfix">
                        <li class="prev disabled"><a href="#">Trang trước</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li class="next"><a href="#">Trang sau</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script type="text/javascript">
    tjq("#slideshow .flexslider").flexslider({
        animation: "fade",
        controlNav: false,
        animationLoop: true,
        directionNav: false,
        slideshow: true,
        slideshowSpeed: 5000
    });
</script>