<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>

    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title transform-capitalize"><%= @tour.name %></h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= link_to "Tour Du Lịch", tour_path %></li>
                <% if @tour.article_category.present? %>
                <li>
                    <% if @tour.article_category.parent.first.description == "domestic_tour" %>
                        <%= link_to @tour.article_category.parent.first.name, domestic_tour_path %>
                    <% else %>
                        <%= link_to @tour.article_category.parent.first.name, foreign_tour_path %>
                    <% end %>
                </li>
                <li><%= link_to @tour.article_category.name, tour_packages_path(tour_packages_id: @tour.article_category) %></li>
                <% end %>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container tour-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-gallery image-box tour-image-box">
                        <% if @tour.is_sale == true %><span class="discount"><span class="discount-text">Giảm giá <%= @tour.discount_percent %>%</span></span><% end %>
                        <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                            <ul class="slides">
                                <li><img src="<%= @tour.image_url.big_image %>" alt="" /></li>
                                <% @tour.tour_images.each do |item| %>
                                <li><img src="<%= item.image_url.big_image %>" alt="" /></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="flexslider image-carousel style1" id="post-carousel1"  data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                            <ul class="slides">
                                <li><img src="<%= @tour.image_url.small_image %>" alt="" /></li>
                                <% @tour.tour_images.each do |item| %>
                                <li><img src="<%= item.image_url.small_image %>" alt="" /></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>

                    <div id="tour-details" class="travelo-box">
                        <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
                            <div class="image-container table-cell">
                                <img src="<%= @tour.image_url.detail_image %>" alt="">
                                <div class="selector detail-schedules">
                                    <select class="full-width">
                                        <option value="">Lịch khởi hành - [<%= @tour.get_count_tour_schedules %>]</option>
                                        <% @tour.tour_schedules.get_tour_schedules.each do |schedule| %>
                                            <option value=""><% if !schedule.from_date.nil? %><%= schedule.from_date.strftime("%d/%m/%Y") %><% end %><% if !schedule.to_date.nil? %> - <%= schedule.to_date.strftime("%d/%m/%Y") %><% end %></option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                            <div class="table-cell">
                                <dl class="term-description">
                                    <dt>Thời gian chuyến tour:</dt><dd><%= @tour.time_line %></dd>
                                    <dt>Phương tiện:</i></dt><dd><% if @tour.get_transportations.include?("car") %>Xe du lịch. <% end %> <% if @tour.get_transportations.include?("plane") %>Máy bay. <% end %><% if @tour.get_transportations.include?("trunk") %>Tàu cao tốc. <% end %></dd>
                                    <dt>Khách sạn:</i></dt><dd><%= @tour.hotel %></dd>
                                    <dt>Phụ thu cuối tuần:</i></dt><dd><% if !@tour.surcharge_1.nil? %><% if @tour.surcharge_1 == 0 %>Liên hệ<% else %><%= format_number(@tour.surcharge_1) %> VNĐ/Khách<% end %><% end %></dd>
                                    <dt>Phụ thu lễ tết:</i></dt><dd><% if !@tour.surcharge_2.nil? %><% if @tour.surcharge_2 == 0 %>Liên hệ<% else %><%= format_number(@tour.surcharge_2) %> VNĐ/Khách<% end %><% end %></dd>
                                </dl>
                            </div>
                            <div class="price-section table-cell custom-tour-price">
                                <div class="price"><small>Giá tour</small><% if @tour.is_sale == true %><del><% if @tour.old_price == 0 %>Liên hệ<% else %><%= format_number(@tour.old_price) %> VNĐ<% end %></del><br><% end %><% if @tour.new_price == 0 %>Liên hệ<% else %><span class="color-price"><%= format_number(@tour.new_price) %> VNĐ</span><% end %></div>
                                <%= link_to "ĐẶT TOUR", tour_booking_path(tour_booking_id: @tour, tour_name: @tour.url_friendly), class: "button btn-small sky-blue1 uppercase" %>
                            </div>
                        </div>
                        <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
                            <div class="tab-container style1">
                                <ul class="tabs full-width tab-custom">
                                    <li class="active"><a href="#tab-control-1" data-toggle="tab">Điểm nổi bật</a></li>
                                    <li><a href="#tab-control-2" data-toggle="tab">Lịch khởi hành</a></li>
                                    <li><a href="#tab-control-3" data-toggle="tab">Điều kiện</a></li>
                                    <li><a href="#tab-control-4" data-toggle="tab">Lưu ý</a></li>
                                    <li><a href="#tab-control-5" data-toggle="tab">Đánh giá</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-control-1">
                                        <h4><strong>Điểm nổi bật</strong></h4>
                                        <div class="text-justify">
                                            <% if !@tour.tab_content_1.nil? %>
                                            <%= @tour.tab_content_1.html_safe %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="tab-control-2">
                                        <h4><strong>Lịch khởi hành</strong></h4>
                                        <div class="text-justify">
                                            <% if !@tour.tab_content_2.nil? %>
                                            <%= @tour.tab_content_2.html_safe %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="tab-control-3">
                                        <h4><strong>Điều kiện</strong></h4>
                                        <div class="text-justify">
                                            <% if !@tour.tab_content_3.nil? %>
                                            <%= @tour.tab_content_3.html_safe %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="tab-control-4">
                                        <h4><strong>Lưu ý</strong></h4>
                                        <div class="text-justify">
                                            <% if !@tour.tab_content_4.nil? %>
                                            <%= @tour.tab_content_4.html_safe %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade in" id="tab-control-5">
                                        <h4><strong>Đánh giá</strong></h4>
                                        <div class="text-justify">
                                            <div class="fb-comments" data-href="http://www.newdiscovery.vn/" data-colorscheme="light" data-numposts="5" data-width="100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>THÔNG TIN CHI TIẾT</h2>
                        <div class="post-content text-justify">
                            <%= @tour.content.html_safe %>
                        </div>
                        <hr>
                        <h2>VỊ TRÍ</h2>
                        <div class="tour-google-map block"></div>
                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <%= render "/tour/related_tours" %>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script type="text/javascript">
    tjq(".tour-google-map").gmap3({
        map: {
            options: {
                center: [<%= @tour.position %>],
                zoom: 12
            }
        },
        marker:{
            values: [
                {latLng:[<%= @tour.position %>], data:"<%= @tour.name %>"}

            ],
            options: {
                draggable: false
            },
        }
    });

    function showTourDetailedDiscount() {
        tjq(".featured-gallery .discount").css("visibility", "visible");
    }
</script>