<!-- Main navbar -->
<%= render "/admin/main/main_navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <%= render "/admin/main/user_menu" %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <%= render "/admin/main/main_menu" %>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">
        
            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold">Danh sách đăng ký tour</span></h4>
                    </div>
                </div>
            
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to '<i class="icon-home2 position-left"></i>'.html_safe + t(:home), { controller: "main", action: "index" } %></li>
                        <li><a href="<%= admin_booking_tours_path %>">Quản lý đăng ký</a></li>
                        <li class="active">Danh sách đăng ký tour</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
            
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading col-md-12">
                        <h5 class="panel-title col-md-6"><span class="text-semibold">Danh sách đăng ký tour</span></h5>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr class="bg-teal-800">
                                <th>Thông tin khách hàng</th>
                                <th>Thông tin đăng ký</th>
                                <th>Lời nhắn</th>
                                <th>Ngày tạo đơn đăng ký</th>
                                <th class="text-center"><%= t(:actions) %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @booking_tours.each do |item| %>
                                <tr>
                                    <td>
                                        <strong>Tên khách hàng:</strong> <%= item.full_name %><br/>
                                        <strong>Địa chỉ:</strong> <%= item.address %><br/>
                                        <strong>Số điện thoại:</strong> <%= item.phone %><br/>
                                        <strong>Email:</strong> <%= item.email %><br/>
                                        <strong>ID/Passport:</strong> <%= item.passport %>
                                    </td>
                                    <td>
                                        <strong>Tour:</strong> <%= item.tour_name %><br/>
                                        <strong>Giá tour:</strong> <% if item.price == 0 %>Liên hệ<% else %><%= format_number(item.price) %> VND<% end %><br/>
                                        <strong>Ngày đặt tour:</strong> <%= item.tour_schedule.from_date.strftime("%d/%m/%Y") %> - <%= item.tour_schedule.to_date.strftime("%d/%m/%Y") %><br/>
                                        <strong>Số người lớn:</strong> <%= item.adult %><br/>
                                        <strong>Số trẻ em (Từ 11 tuổi trở lên):</strong> <%= item.child %><br/>
                                        <strong>Số trẻ em (Từ 5 tuổi đến dưới 11 tuổi):</strong> <%= item.child_2 %><br/>
                                        <strong>Số trẻ em (Dưới 5 tuổi):</strong> <%= item.child_3 %><br/>
                                    </td>
                                    <td><%= item.message %></td>
                                    <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center">
                                        <% if can?(:delete, item) %>
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <% if can? :delete, item %>
                                                            <li>
                                                                <%= link_to '<i class="icon-cross2"></i>'.html_safe + t(:delete), "#booking_hotel", url: admin_booking_hotel_path(item) , class: "backend_delete_item" %>
                                                            </li>
                                                        <% end %>
                                                    </ul>
                                                </li>
                                            </ul>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="dataTables_wrapper no-footer">
                        <div class="datatable-footer showed">
                            <div class="dataTables_info" ><%= page_entries_info @booking_hotels %></div>
                            <div class="dataTables_paginate paging_simple_numbers">
                                <%= will_paginate @booking_hotels, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /basic datatable -->
            
                <!-- Footer -->
                <%= render '/admin/main/footer' %>
                <!-- /footer -->
            
            </div>
            <!-- /content area -->
        
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_categories.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>