<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty9">
        <div class="container">

            <h1><%= @project.name %></h1>
            <div class="pagenation">&nbsp;<%= link_to t(:home_page), root_path %> <i>/</i> <%= link_to t(:works), works_path %> <i>/</i> <%= @project.name %></div>

        </div>
    </div>
    <!-- end page title -->

    <div class="clearfix"></div>


    <div class="content_fullwidth less2">
        <div class="container">

            <div class="portfolio_area">

                <div class="portfolio_area_left">
                    
                    <a href="#" target="_blank"><img src="<%= @project.image_url.large %>" alt="" /></a><br />
                    
                    <% @project.project_images.each do |item| %>
                    
                        <img src="<%= item.image_url.large %>" alt="" /><br />
                        
                    <% end %>
                    
                </div>

                <div class="portfolio_area_right">
                
                    <h3 class="caps"><strong><%= t(:project_description) %></strong></h3>

                    <p class="text-justify"><%= @project.description %></p>

                    <div class="project_details">
                        
                        <h3 class="caps"><%= t(:project_details) %></h3>
                        
                        <span><strong><%= t(:name) %></strong> <em><%= @project.name %></em></span>
                        <span><strong><%= t(:start_date) %></strong> <em><%= @project.start_date.strftime("%d %B %Y") %></em></span>
                        <span><strong><%= t(:end_date) %></strong> <em><%= @project.end_date.strftime("%d %B %Y") %></em></span>
                        <span><strong><%= t(:program_languages) %></strong> <em><% @project.program_languages.each do |item| %><a href="#<%= item.name %>"><%= item.name %></a> <% end %> </em></span>
                        <span><strong><%= t(:author) %></strong> <em><%= @project.author %></em></span>
                        <% if @project.website != "" %>
                            <div class="clearfix margin_top5"></div>
                            <a href="<%= @project.website %>" class="but_medium1" target="_blank"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; <%= t(:visit_site) %></a>
                        <% end %>
                    </div>

                </div>

            </div>


        </div>
    </div>



    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- portfolio -->
<%= javascript_include_tag "/frontend/js/portfolio/pretty/js/jquery.prettyPhoto.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/modernizr.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/jquery_002.js" %>

<%= javascript_include_tag "/frontend/js/portfolio/page.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/evenheights.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/homepage.js" %>

<script type="text/javascript" charset="utf-8">
    var site_url = "/Shuffle";
    
    (function($) {
        "use strict";

        $(document).ready(function() {
            $("area[rel^='prettyPhoto']").prettyPhoto();

            $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({
                animation_speed: 'normal',
                theme: 'light_square',
                slideshow: 3000,
                autoplay_slideshow: true
            });
            $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({
                animation_speed: 'fast',
                slideshow: 10000,
                hideflash: true
            });

            $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
                custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
                changepicturecallback: function() {
                    initialize();
                }
            });

            $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
                custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
                changepicturecallback: function() {
                    _bsap.exec();
                }
            });
        });

    })(jQuery);
</script>