<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->

    <div class="clearfix"></div>

    <%= render "/home/header" %>
    <!-- end header -->

    <div class="clearfix"></div>

    <div class="page_title1 sty9">
        <div class="container">

            <h1>Works</h1>
            <div class="pagenation">&nbsp;<%= link_to "Home", root_path %> <i>/</i> Works</div>

        </div>
    </div>
    <!-- end page title -->

    <div class="clearfix"></div>

    <div class="content_fullwidth less2">
        <div class="container">

            <div class="row-fluid">

                <div class="alicent">
                    <div class="filter-options">
                        <button class="btn btn--warning active" data-group="all">All</button>
                        <% @project_categories.each do |item| %>
                            <% if item.projects.count > 0 %>
                                <button class="btn btn--warning" data-group="a<%= item.id %>"><%= item.name %></button>
                            <% end %>
                        <% end %>
                    </div>
                </div>

            </div>
            <!-- end filter buttons -->


            <div class="container-fluid">

                <div id="grid" class="row-fluid m-row shuffle--container shuffle--fluid">
                    
                    <% @projects.each do |item| %>
                    
                        <figure class="span4 m-span3 picture-item gallery" data-groups='<%= item.get_category_ids.html_safe %>' data-date-created="<%= item.created_at.strftime("%d %B %Y") %>" data-title="<%= item.name %>">
                            <img src="<%= item.image_url.medium %>" class="zoomimg" alt="<%= item.name %>" />
                            <div class="textbox">
                                <div class="text">
                                    <p>
                                        <a href="<%= item.image_url.large %>" rel="prettyPhoto[gallery1]" title="">View Image</a>
                                        <%= link_to "View Detail", work_detail_path(project_id: item.id) %>
                                    </p>
                                </div>
                            </div>
                        </figure>
                        <!-- end item -->
                        
                    <% end %>

                    <div class="span4 m-span3 shuffle__sizer"></div>

                </div>

            </div>

        </div>
        
    </div>

    <div class="clearfix"></div>

    <%= render "/home/footer" %>
    <!-- end footer -->

    <div class="clearfix"></div>

    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>

<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- portfolio -->
<%= javascript_include_tag "/frontend/js/portfolio/pretty/js/jquery.prettyPhoto.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/modernizr.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/jquery_002.js" %>

<%= javascript_include_tag "/frontend/js/portfolio/page.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/evenheights.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/homepage.js" %>

<script type="text/javascript" charset="utf-8">
    var site_url = "/Shuffle";
    
    (function($) {
        "use strict";

        $(document).ready(function() {
            $("area[rel^='prettyPhoto']").prettyPhoto();
            
            $(".gallery a[rel^='prettyPhoto']").prettyPhoto({
                animation_speed: 'fast',
                slideshow: 10000,
                hideflash: true
            });

            $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
                custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
                changepicturecallback: function() {
                    initialize();
                }
            });

            $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
                custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
                changepicturecallback: function() {
                    _bsap.exec();
                }
            });
        });

    })(jQuery);
</script>