<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style4">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title"><%= @hotel.name %></h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= link_to "Đặt Khách Sạn", hotel_listing_path %></li>
                <li class="active"><%= @hotel.name %></li>
            </ul>
        </div>
    </div>
    
    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="hotel-main-content">
                        <ul class="tabs">
                            <li class="pull-right"><a class="button btn-small yellow-bg white-color popup-map" href="#" data-box="<%= @hotel.position %>">Xem Bản Đồ</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="photos-tab" class="tab-pane fade in active">
                                <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                                    <ul class="slides">
                                        <% @hotel.hotel_images.each do |item| %>
                                            <li><img src="<%= item.image_url.big_image %>" alt="" /></li>
                                        <% end %>
                                    </ul>
                                </div>
                                <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                                    <ul class="slides">
                                        <% @hotel.hotel_images.each do |item| %>
                                            <li><img src="<%= item.image_url.small_image %>" alt="" /></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="hotel-features" class="tab-container">
                        <ul class="tabs">
                            <li class="active"><a href="#hotel-description" data-toggle="tab">Giới thiệu khách sạn</a></li>
                            <li><a href="#hotel-availability" data-toggle="tab">Danh sách phòng - Đặt phòng</a></li>
                            <li><a href="#hotel-amenities" data-toggle="tab">Dịch vụ</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="hotel-description">
                                <div class="intro table-wrapper full-width hidden-table-sms">
                                    <div class="col-sm-5 col-lg-5 features table-cell">
                                        <ul>
                                            <li><label>Loại phòng:</label><%= @hotel.hotel_rooms.count %> loại</li>
                                            <% if @hotel.type_resort.present? %>
                                            <li><label>Loại Resort:</label><%= @hotel.type_resort %></li>
                                            <% elsif !@hotel.hotel_type = "Chọn khách sạn" %>
                                            <li><label>Loại khách sạn:</label><%= @hotel.hotel_type %></li>
                                            <% end %>
                                            <% if @hotel.area_name.present? %>
                                            <li><label>Khu vực:</label><%= @hotel.area_name %></li>
                                            <% end %>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 col-lg-7 table-cell testimonials">
                                        <div class="testimonial style1">
                                            <ul class="slides ">
                                                <li>
                                                    <p class="description text-justify"><%= @hotel.description %></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="long-description">
                                    <h2><%= @hotel.name %></h2>
                                    <div class="text-justify">
                                        <%= @hotel.content.html_safe %>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="hotel-availability">
                                <h2>Danh sách loại phòng của khách sạn</h2>
                                <div class="room-list listing-style3 hotel">
                                    <% @hotel.hotel_rooms.each do |item| %>
                                        <article class="box">
                                            <figure class="col-sm-4 col-md-3">
                                                <img width="230" height="161" src="<%= item.image_url.large_image %>" alt="">
                                            </figure>
                                            <div class="details col-xs-12 col-sm-8 col-md-9">
                                                <div>
                                                    <div>
                                                        <div class="box-title">
                                                            <h4 class="title"><%= item.room_type %></h4>
                                                            <dl class="description">
                                                                <dt>Số lượng:</dt>
                                                                <dd><%= item.people_number.to_i %> khách</dd>
                                                            </dl>
                                                        </div>
                                                        <div class="amenities">
                                                            <i class="soap-icon-wifi circle"></i>
                                                            <i class="soap-icon-fitnessfacility circle"></i>
                                                            <i class="soap-icon-fork circle"></i>
                                                            <i class="soap-icon-television circle"></i>
                                                        </div>
                                                    </div>
                                                    <div class="price-section">
                                                        <span class="price"><% if item.price == 0 %>Liên hệ<% else %><%= format_number(item.price) %> VNĐ<% end %></span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="text-justify"><%= item.description %></p>
                                                    <div class="action-section">
                                                        <%= link_to "Đặt phòng", hotel_booking_path(hotel_booking_id: @hotel, hotel_name: @hotel.url_friendly, hotel_room_booking_id: item), class: "button btn-small full-width text-center sky-blue1" %>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    <% end %>
                                </div>  
                            </div>
                            <div class="tab-pane fade" id="hotel-amenities">
                                <h2>Tiện Nghi - Dịch Vụ</h2>
                                
                                <ul class="amenities clearfix style2">
                                    <% if @hotel.get_services.include?("t_24_hour_reception") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:t_24_hour_reception) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("t_24_hour_room_service") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:t_24_hour_room_service) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("airport_shuttles_service") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:airport_shuttles_service) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("childcare_service") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:childcare_service) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("bar") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:bar) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("convention_center") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:convention_center) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("car_rentals") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:car_rentals) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("coffee_shops") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:coffee_shops) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("guides") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:guides) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("money_exchange") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:money_exchange) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("elevator") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:elevator) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("laundry_service") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:laundry_service) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("luggage_storage") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:luggage_storage) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("meeting_room_devices") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:meeting_room_devices) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("bar_near_pool") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:bar_near_pool) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("restaurant") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:restaurant) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("housekeeping") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:housekeeping) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("safe") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:safe) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("travel_service") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:travel_service) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("beauty_salon") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:beauty_salon) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("smoking_room") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:smoking_room) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("free_buffet_breakfast") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:free_buffet_breakfast) %></div>
                                        </li>
                                    <% end %>
                                </ul>
                                <br />
                                
                                <h2>Tiện Nghi - Dịch Vụ</h2>
                                
                                <ul class="amenities clearfix style2">
                                    <% if @hotel.get_services.include?("outdoor_pool") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:outdoor_pool) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("massage") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:massage) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("sauna") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:sauna) %></div>
                                        </li>
                                    <% end %>
                                </ul>
                                <br />
                                
                                <h2>Internet</h2>
                                
                                <ul class="amenities clearfix style2">
                                    <% if @hotel.get_services.include?(:wifi) %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:wifi) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?(:outdoor_wifi) %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:outdoor_wifi) %></div>
                                        </li>
                                    <% end %>
                                </ul>
                                <br />
                                
                                <h2>Đậu Xe</h2>
                                
                                <ul class="amenities clearfix style2">
                                    <% if @hotel.get_services.include?("car_park") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:car_park) %></div>
                                        </li>
                                    <% end %>
                                </ul>
                                <br />
                                
                                <h2>Ngôn Ngữ Sử Dụng</h2>
                                
                                <ul class="amenities clearfix style2">
                                    <% if @hotel.get_services.include?("vietnamese") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:vietnamese) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("english") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:english) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("japanese") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:japanese) %></div>
                                        </li>
                                    <% end %>
                                    <% if @hotel.get_services.include?("chinese") %>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-right"></i><%= t(:chinese) %></div>
                                        </li>
                                    <% end %>
                                </ul>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <article class="detailed-logo">
                        <div class="details">
                            <h2 class="box-title"><%= @hotel.name %></h2>
                            <div class="feedback clearfix">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                                    <% if @hotel.hotel_type == "Khách sạn 1 sao" %>
                                        <span class="five-stars" style="width: 20%;"></span>
                                    <% end %>
                                    <% if @hotel.hotel_type == "Khách sạn 2 sao" %>
                                        <span class="five-stars" style="width: 40%;"></span>
                                    <% end %>
                                    <% if @hotel.hotel_type == "Khách sạn 3 sao" %>
                                        <span class="five-stars" style="width: 60%;"></span>
                                    <% end %>
                                    <% if @hotel.hotel_type == "Khách sạn 4 sao" %>
                                        <span class="five-stars" style="width: 80%;"></span>
                                    <% end %>
                                    <% if @hotel.hotel_type == "Khách sạn 5 sao" %>
                                        <span class="five-stars" style="width: 100%;"></span>
                                    <% end %>
                                </div>
                            </div>
                            <%= link_to "Chọn Phòng", hotel_booking_path(hotel_booking_id: @hotel, hotel_name: @hotel.url_friendly), class: "button sky-blue1 full-width uppercase btn-small" %>
                        </div>
                    </article>
                    <%= render "/home/need_help" %>
                    <%= render "/travel_news/right_sidebar" %>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script type="text/javascript">
    tjq(document).ready(function() {
        // calendar panel
        var cal = new Calendar();
        var unavailable_days = [17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
        var price_arr = {3: '$170', 4: '$170', 5: '$170', 6: '$170', 7: '$170', 8: '$170', 9: '$170', 10: '$170', 11: '$170', 12: '$170', 13: '$170', 14: '$170', 15: '$170', 16: '$170', 17: '$170'};

        var current_date = new Date();
        var current_year_month = (1900 + current_date.getYear()) + "-" + (current_date.getMonth() + 1);
        tjq("#select-month").find("[value='" + current_year_month + "']").prop("selected", "selected");
        cal.generateHTML(current_date.getMonth(), (1900 + current_date.getYear()), unavailable_days, price_arr);
        tjq(".calendar").html(cal.getHTML());
        
        tjq("#select-month").change(function() {
            var selected_year_month = tjq("#select-month option:selected").val();
            var year = parseInt(selected_year_month.split("-")[0], 10);
            var month = parseInt(selected_year_month.split("-")[1], 10);
            cal.generateHTML(month - 1, year, unavailable_days, price_arr);
            tjq(".calendar").html(cal.getHTML());
        });
        
        
        tjq(".goto-writereview-pane").click(function(e) {
            e.preventDefault();
            tjq('#hotel-features .tabs a[href="#hotel-write-review"]').tab('show')
        });
        
        // editable rating
        tjq(".editable-rating.five-stars-container").each(function() {
            var oringnal_value = tjq(this).data("original-stars");
            if (typeof oringnal_value == "undefined") {
                oringnal_value = 0;
            } else {
                //oringnal_value = 10 * parseInt(oringnal_value);
            }
            tjq(this).slider({
                range: "min",
                value: oringnal_value,
                min: 0,
                max: 5,
                slide: function( event, ui ) {
                    
                }
            });
        });
    });
    
    tjq('a[href="#map-tab"]').on('shown.bs.tab', function (e) {
        var center = panorama.getPosition();
        google.maps.event.trigger(map, "resize");
        map.setCenter(center);

        panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
        map.setStreetView(panorama);
    });
    tjq('a[href="#steet-view-tab"]').on('shown.bs.tab', function (e) {
        fenway = panorama.getPosition();
        panoramaOptions.position = fenway;
        panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
        map.setStreetView(panorama);
    });
    var map = null;
    var panorama = null;
    var fenway = new google.maps.LatLng(48.856614, 2.352222);
    var mapOptions = {
        center: fenway,
        zoom: 12
    };
    var panoramaOptions = {
        position: fenway,
        pov: {
            heading: 34,
            pitch: 10
        }
    };
    function initialize() {
        tjq("#map-tab").height(tjq("#hotel-main-content").width() * 0.6);
        map = new google.maps.Map(document.getElementById('map-tab'), mapOptions);
        panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
        map.setStreetView(panorama);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>