<div id="page-wrapper">
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Đặt Phòng Thành Công</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= link_to @page_name.name, hotel_listing_path %></li>
                <li class="active">Đặt Phòng Thành Công</li>
            </ul>
        </div>
    </div>
    
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-12 col-md-12">
                    <div class="booking-information travelo-box">
                        <h2>Đặt Phòng Thành Công</h2>
                        <hr />
                        <div class="booking-confirmation clearfix">
                            <i class="soap-icon-recommend icon circle"></i>
                            <div class="message">
                                <h4 class="main-message">New Discovery Travel! Xin cám ơn quý khách. Quý khách vui lòng đợi trong giây lát sẽ có Tư Vấn Viên liên hệ.</h4>
                                <p>Trong vòng 5 phút chưa nhận được thông tin từ Tư Vấn Viên. Vui lòng liên hệ Hotline: <strong><a href="tel:0919 515 059">0919 515 059</a></strong> - <strong><a href="tel:0919 623 535">0919 623 535</a> - <strong><a href="tel:0918 805 227">0918 805 227</a></strong></strong> để được hỗ trợ nhanh.</p>
                            </div>
                            <%= link_to "Về Trang Chủ", root_path, class: "button btn-small print-button uppercase sky-blue1" %>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>