<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Đặt Phòng</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= link_to "Đặt Khách Sạn", hotel_listing_path %></li>
                <li><%= link_to @hotel_booking.name, book_hotel_detail_path(hotel_id: @hotel_booking) %></li>
                <li class="active">Đặt Phòng Khách Sạn</li>
            </ul>
        </div>
    </div>
    
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        <%= form_for @hotel_checkout, html: {class: "booking-form", id: "booking_hotel"} do |f| %>
                            <%= f.hidden_field :hotel_id, value: @hotel_booking.id %>
                            <div class="person-information">
                                <h2>ĐĂNG KÝ KHÁCH SẠN TẠI ĐÂY</h2>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-10">
                                        <label>Tên khách hàng <span class="text-required">*</span></label>
                                        <%= f.text_field :full_name, class: "input-text full-width required" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Địa Chỉ <span class="text-required">*</span></label>
                                        <%= f.text_field :address, class: "input-text full-width required" %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>ID/Passport</label>
                                        <%= f.text_field :passport, class: "input-text full-width" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số điện thoại <span class="text-required">*</span></label>
                                        <%= f.text_field :phone, class: "input-text full-width required" %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Địa chỉ email <span class="text-required">*</span></label>
                                        <%= f.text_field :email, class: "input-text full-width required email" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Ngày nhận phòng <span class="text-required">*</span></label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="booking_hotel[date_from]" id="booking_hotel_date_from" class="input-text full-width required" placeholder="yy/mm/dd" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Ngày giao phòng <span class="text-required">*</span></label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="booking_hotel[date_to]" id="booking_hotel_date_to" class="input-text full-width required" placeholder="yy/mm/dd" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số người lớn <span class="text-required">*</span></label>
                                        <%= f.text_field :adult, class: "input-text full-width required", placeholder: "Mặc định số  người lớn: 1" %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số trẻ em <span class="text-required">*</span></label>
                                        <%= f.text_field :child, class: "input-text full-width required", placeholder: "Nhập 0 nếu không có trẻ em" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số phòng cần đặt <span class="text-required">*</span></label>
                                        <%= f.text_field :room_number, class: "input-text full-width required" %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Loại phòng <span class="text-required">*</span></label>
                                        <div class="selector">
                                            <select name="booking_hotel[hotel_room_id]" id="booking_hotel_hotel_room_id" class="full-width required">
                                                <% @hotel_booking.hotel_rooms.each do |item| %>
                                                    <% if params[:hotel_room_booking_id].present? %>
                                                        <option <% if params[:hotel_room_booking_id].to_i == item.id %>selected<% end %> value="<%= item.id %>"><%= item.room_type %></option>
                                                    <% else %>
                                                        <option value="<%= item.id %>"><%= item.room_type %> - <% if item.price == 0 %>Liên hệ<% else %><%= format_number(item.price) %> VND<% end %>/<%= item.people_number.to_i %> khách</option>
                                                    <% end %>
                                                <% end %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label>Lời Nhắn</label>
                                        <%= f.text_area :message, rows: '8', class: "input-text full-width" %>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large">ĐẶT PHÒNG KHÁCH SẠN</button>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                    <div class="booking-details travelo-box">
                        <h4><%= @hotel_booking.name %></h4>
                        <article class="image-box hotel listing-style1">
                            <figure class="clearfix">
                                <small class="uppercase"><strong>Loại phòng:</strong> <%= @hotel_booking.hotel_rooms.count %> loại</small><br/>
                                <small class="uppercase"><strong>Loại khách sạn:</strong> <%= @hotel_booking.hotel_type %></small><br/>
                                <small class="uppercase"><strong>Khu vực:</strong> <%= @hotel_booking.area.name %></small><br/>
                                <small class="uppercase"><strong>Địa chỉ:</strong> <%= @hotel_booking.address %></small><br/><br/>
                                <%= link_to "Xem", book_hotel_detail_path(hotel_id: @hotel_booking), class: "button" %>
                            </figure>
                            <div class="details">
                                <div class="feedback">
                                    <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars">
                                        <% if @hotel_booking.hotel_type == "Khách sạn 1 sao" %>
                                            <span class="five-stars" style="width: 20%;"></span>
                                        <% end %>
                                        <% if @hotel_booking.hotel_type == "Khách sạn 2 sao" %>
                                            <span class="five-stars" style="width: 40%;"></span>
                                        <% end %>
                                        <% if @hotel_booking.hotel_type == "Khách sạn 3 sao" %>
                                            <span class="five-stars" style="width: 60%;"></span>
                                        <% end %>
                                        <% if @hotel_booking.hotel_type == "Khách sạn 4 sao" %>
                                            <span class="five-stars" style="width: 80%;"></span>
                                        <% end %>
                                        <% if @hotel_booking.hotel_type == "Khách sạn 5 sao" %>
                                            <span class="five-stars" style="width: 100%;"></span>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </article>
                        
                        <h4>THÔNG TIN CHI TIẾT</h4>
                        <dl class="other-details">
                            <% @hotel_booking.hotel_rooms.each do |item| %>
                                <dt class="feature"><%= item.room_type %>:</dt><dd class="value"><% if item.price == 0 %>Liên hệ<% else %><%= format_number(item.price) %> VND<% end %>/<%= item.people_number.to_i %> khách</dd>
                            <% end %>
                        </dl>
                    </div>
                    
                    <%= render "/home/need_help" %>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script>
    jQuery(document).ready(function($){
        $("#booking_hotel").validate();
    });
</script>