<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style4">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Đặt Khách Sạn</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li class="active">Đặt Khách Sạn</li>
            </ul>
        </div>
    </div>
    
    <section id="content">
        <div class="container">
            <div id="main">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="toggle-container filters-container">
                            <% if HotelArea.get_hotel_areas.count > 0 %>
                            <div class="toggle-container filters-container">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#modify-search-panel" aria-expanded="true">Khu vực khách sạn</a>
                                    </h4>
                                    <div id="modify-search-panel" class="panel-collapse collapse in">
                                        <div class="panel-content">
                                            <ul class="circle box">
                                                <% HotelArea.get_hotel_areas.each do |item| %>
                                                <li<% if params[:hotel_area_id].to_i == item.id %> class="active"<% end %>><%= link_to item.name, hotel_listing_path(hotel_area_id: item.id), class: "country-size" %></li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <% end %>
                            <article class="detailed-logo">
                                <div class="details">
                                    <h2 class="box-title">Đăng Ký Khách Sạn Khác</h2>
                                    <%= link_to "ĐĂNG KÝ", quick_booking_hotel_path, class: "button sky-blue1 full-width uppercase btn-small" %>
                                </div>
                            </article>
                            <%= render "/home/need_help" %>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <div class="hotel-list">
                            <div class="row image-box hotel listing-style3">
                                <% @hotels.each do |item| %>                                    
                                    <article class="box">
                                        <figure class="col-sm-5 col-md-4">
                                            <a title="" href="<%= slideshow_popup_path(hotel_id: item.id) %>" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="<%= item.image_url.medium_image %>"></a>
                                        </figure>
                                        <div class="details col-sm-7 col-md-8">
                                            <div>
                                                <div>
                                                    <h4 class="box-title"><%= link_to item.name, book_hotel_detail_path(hotel_id: item, name: item.url_friendly), class: "transform-capitalize" %></h4>
                                                    <div class="amenities">
                                                        <i class="soap-icon-wifi circle"></i>
                                                        <i class="soap-icon-fitnessfacility circle"></i>
                                                        <i class="soap-icon-fork circle"></i>
                                                        <i class="soap-icon-television circle"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="five-stars-container">
                                                        <% if item.hotel_type == "Khách sạn 1 sao" %>
                                                            <span class="five-stars" style="width: 20%;"></span>
                                                        <% end %>
                                                        <% if item.hotel_type == "Khách sạn 2 sao" %>
                                                            <span class="five-stars" style="width: 40%;"></span>
                                                        <% end %>
                                                        <% if item.hotel_type == "Khách sạn 3 sao" %>
                                                            <span class="five-stars" style="width: 60%;"></span>
                                                        <% end %>
                                                        <% if item.hotel_type == "Khách sạn 4 sao" %>
                                                            <span class="five-stars" style="width: 80%;"></span>
                                                        <% end %>
                                                        <% if item.hotel_type == "Khách sạn 5 sao" %>
                                                            <span class="five-stars" style="width: 100%;"></span>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 170) %></p>
                                                <div>
                                                    <span class="price"><%= format_number(item.avg_price) %> VNĐ</span>
                                                    <%= link_to "XEM THÊM", book_hotel_detail_path(hotel_id: item, name: item.url_friendly), class: "button btn-small full-width text-center sky-blue1" %>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                <% end %>
                            </div>
                        </div>
                        <%= will_paginate @hotels, previous_label: 'TRANG TRƯỚC', next_label: 'TRANG SAU', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script type="text/javascript">
    tjq(document).ready(function() {
        tjq("#price-range").slider({
            range: true,
            min: 0,
            max: 1000,
            values: [ 100, 800 ],
            slide: function( event, ui ) {
                tjq(".min-price-label").html( "$" + ui.values[ 0 ]);
                tjq(".max-price-label").html( "$" + ui.values[ 1 ]);
            }
        });
        tjq(".min-price-label").html( "$" + tjq("#price-range").slider( "values", 0 ));
        tjq(".max-price-label").html( "$" + tjq("#price-range").slider( "values", 1 ));
        
        tjq("#rating").slider({
            range: "min",
            value: 40,
            min: 0,
            max: 50,
            slide: function( event, ui ) {
                
            }
        });
    });
</script>