<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style4">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Thuê Xe Ô Tô</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= link_to "Thuê Xe Ô Tô", car_hire_path %></li>
                <li><%= link_to @car_booking.article_category.name, car_grid_view_path(car_category_id: @car_booking.article_category_id) %></li>
                <li><%= link_to @car_booking.name, car_detail_path(car_id: @car_booking) %></li>
            </ul>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        <%= form_for @car_checkout, html: {class: "booking-form", id: "booking_car"} do |f| %>
                            <%= f.hidden_field :car_id, value: @car_booking.id %>
                            <div class="person-information">
                                <h2>ĐĂNG KÝ THUÊ XE Ô TÔ TẠI ĐÂY</h2>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-10">
                                        <label>Tên Khách Hàng <span class="text-required">*</span></label>
                                        <%= f.text_field :full_name, class: "input-text full-width required", placeholder: "Vui lòng nhập họ & tên khách hàng đăng ký tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Địa Chỉ <span class="text-required">*</span></label>
                                        <%= f.text_field :address, class: "input-text full-width required", placeholder: "Vui lòng nhập địa chỉ tại đây....." %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>ID/Passport</label>
                                        <%= f.text_field :passport, class: "input-text full-width", placeholder: "Vui lòng nhập id/passport (nếu có) tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số Điện Thoại <span class="text-required">*</span></label>
                                        <%= f.text_field :phone, class: "input-text full-width required", placeholder: "Vui lòng nhập số điện thoại tại đây....." %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Địa chỉ email <span class="text-required">*</span></label>
                                        <%= f.text_field :email, class: "input-text full-width required email", placeholder: "Vui lòng nhập địa chỉ email tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Lộ Trình (Điểm khởi hành) <span class="text-required">*</span></label>
                                        <%= f.text_field :address_from, class: "input-text full-width required", placeholder: "Vui lòng nhập điểm khởi hành tại đây....." %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Lộ Trình (Điểm đến) <span class="text-required">*</span></label>
                                        <%= f.text_field :address_to, class: "input-text full-width required", placeholder: "Vui lòng nhập điểm đến tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Ngày đi <span class="text-required">*</span></label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="booking_car[date_from]" id="booking_car_date_from" class="input-text full-width required" placeholder="Chọn ngày khởi hành (yy-mm-dd)" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Ngày về <span class="text-required">*</span></label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="booking_car[date_to]" id="booking_car_date_to" class="input-text full-width required" placeholder="Chọn ngày về (yy-mm-dd)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label>Lời Nhắn</label>
                                        <%= f.text_area :message, rows: '8', class: "input-text full-width", placeholder: "Nhằm nâng cao chất lượng dịch vụ của dịch vụ thuê xe du lịch. Quý khách hàng vui lòng nhập những yêu cầu khác (nếu có) tại đây....." %>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large sky-blue1">THUÊ XE Ô TÔ</button>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                    <div class="booking-details travelo-box">
                        <h4>Thông Tin Thuê Xe</h4>
                        <article class="car-detail">
                            <figure class="clearfix">
                                <a title="" href="<%= car_detail_path(car_id: @car_booking, name: @car_booking.url_friendly) %>" class="middle-block"><img class="middle-item" alt="" src="<%= @car_booking.image_url.square_small_image %>"></a>
                                <div class="travel-title">
                                    <h5 class="box-title"><%= @car_booking.name %><% if !@car_booking.manufacturer_id.nil? %><small><%= @car_booking.manufacturer.name %></small><% end %></h5>
                                    <%= link_to "Chọn gói thuê khác", car_hire_path, class: "button sky-blue1" %>
                                </div>
                            </figure>
                        </article>
                        <dl class="other-details">
                            <dt class="total-price">Giá Thuê</dt><dd class="total-price-value"><% if @car_booking.price == 0 %>Liên Hệ<% else %><%= format_number(@car_booking.price) %> VNĐ<% end %></dd>
                        </dl>
                    </div>
                    
                    <%= render "/home/need_help" %>
                </div>
            </div>
        </div>
    </section>
    
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script>
    jQuery(document).ready(function($){
        $("#booking_car").validate();
    });
</script>