<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title">
                <h2 class="entry-title">Tour Giá Sock</h2>
            </div>
            <ul class="breadcrumbs">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li class="active">Tour Giá Sock</li>
            </ul>
        </div>
    </div>

    <section id="content" class="tour">
        <div id="slideshow" class="slideshow-bg full-screen">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/1.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/2.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/3.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/4.jpg);"></div>
                    </li>
                    <li>
                        <div class="slidebg" style="background-image: url(/frontend/images/tour/home/slider/5.jpg);"></div>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="table-wrapper full-width">
                    <div class="table-cell">
                        <div class="box">
                            <img src="/frontend/images/logo_new_discovery_tour.png" alt="">
                        </div>
                        <div class="heading box">
                            <h1 class="title">Tìm Kiếm Tour Du Lịch Yêu Thích Tại Đây</h1>
                        </div>
                        <div class="search-box">
                            <%= form_tag(tour_path, method: "get") do %>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-3 form-group">
                                        <div class="selector">
                                            <select class="full-width" name="type_name">
                                                <option value="">Loại tour cần tìm</option>
                                                <option value="Tour Trong Nước">Tour Trong Nước</option>
                                                <option value="Tour Nước Ngoài">Tour Nước Ngoài</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-4 form-group">
                                        <input type="text" name="name" class="input-text full-width" placeholder="Nhập địa điểm du lịch cần tìm...">
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-2 form-group">
                                        <div class="datepicker-wrap">
                                            <input type="text" name="from_date" class="input-text full-width" placeholder="Ngày khởi hành" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-3 form-group">
                                        <button class="button btn-medium full-width uppercase sky-blue1">Tìm Tour</button>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="text-center">
                            <a href="#hotline" class="button btn-medium sky-blue1 uppercase">HOTLINE: (84) 3 85 333 18 - (84) 3 85 333 21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white-bg">
            <div class="container">
                
                <div class="text-center description block">
                    <h1>DANH SÁCH TOUR GIÁ SOCK</h1>
                </div>
                
                <div id="main">
                    <div class="row add-clearfix image-box discount-label style1 tour-locations">
                        <% @tours.each do |item| %>
                            <div class="col-sm-6 col-md-4">
                                <% if item.is_hot == true %><span class="discount"><span class="discount-text tour-hot">Tour hot</span></span><% end %>
                                <article class="box">
                                    <figure>
                                        <%= link_to image_tag(item.image_url.larger_image), tour_detail_path(tour_id: item, tour_name: item.url_friendly), class: "hover-effect" %>
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title text-justify transform-capitalize"><%= link_to item.name, tour_detail_path(tour_id: item, tour_name: item.url_friendly) %></h4>
                                        <% if item.is_sale == true %><span class="price-1"><% if item.old_price == 0 %>Liên hệ<% else %><%= format_number(item.old_price) %> VNĐ<% end %></span><% end %>
                                        <span class="price"><% if item.new_price == 0 %>Liên hệ<% else %><%= format_number(item.new_price) %> VNĐ<% end %></span>
                                        <hr>
                                        <div class="transform-capitalize line-height-short"><strong>Phương tiện: </strong><% if item.get_transportations.include?("car") %>Xe du lịch. <% end %> <% if item.get_transportations.include?("plane") %>Máy bay. <% end %><% if item.get_transportations.include?("trunk") %>Tàu cao tốc. <% end %></div>
                                        <% if item.tour_highlights.count > 0 %>
                                        <div class="transform-capitalize line-height-short"><strong>Điểm nổi bật: </strong></div>
                                        <ul class="features check line-height-short text-justify">
                                            <% item.tour_highlights.each do |item| %>
                                            <li class="tour-highlights"><%= item.title %></li>
                                            <% end %>
                                        </ul>
                                        <% end %>
                                        <div class="transform-capitalize line-height-short"><strong>Thời gian: </strong><%= item.time_line %></div>
                                        <div class="text-justify"><%= truncate(strip_tags(item.description), length: 160) %></div>
                                        <hr>
                                        <div class="text-center">
                                            <div class="selector star-custom">
                                                <i class="soap-icon-error"></i><i class="soap-icon-error"></i><i class="soap-icon-error"></i><i class="soap-icon-error"></i><i class="soap-icon-error"></i>
                                            </div>
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="">Lịch khởi hành - [<%= item.get_count_tour_schedules %>]</option>
                                                    <% item.tour_schedules.get_tour_schedules.each do |schedule| %>
                                                        <option value=""><% if !schedule.from_date.nil? %><%= schedule.from_date.strftime("%d/%m/%Y") %><% end %><% if !schedule.to_date.nil? %> - <%= schedule.to_date.strftime("%d/%m/%Y") %><% end %></option>
                                                    <% end %>
                                                </select>
                                            </div>
                                            <div class="time">
                                                <i class="soap-icon-clock yellow-color"></i>
                                                Tour sớm nhất:<span> <% if item.tour_schedules.get_tour_schedules.count > 0 %><% if !item.get_lastest_tour_from_date.nil? %><%= item.get_lastest_tour_from_date %><% end %><% if !item.get_lastest_tour_to_date.nil? %> - <%= item.get_lastest_tour_to_date %><% end %><% else %>Chưa có lịch cho tour<% end %></span>
                                            </div>
                                        </div>
                                        <%= link_to "XEM TOUR", tour_detail_path(tour_id: item, tour_name: item.url_friendly), class: "button btn-small full-width sky-blue1" %>
                                    </div>
                                </article>
                            </div>
                        <% end %>
                    </div>
                    <%= will_paginate @tours, previous_label: 'TRANG TRƯỚC', next_label: 'TRANG SAU', renderer: BootstrapPagination::Rails %>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script type="text/javascript">
    tjq("#slideshow .flexslider").flexslider({
        animation: "fade",
        controlNav: false,
        animationLoop: true,
        directionNav: false,
        slideshow: true,
        slideshowSpeed: 5000
    });
</script>