<%= form_for(@booking_plane) do |f| %>
  <% if @booking_plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking_plane.errors.count, "error") %> prohibited this booking_plane from being saved:</h2>

      <ul>
      <% @booking_plane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :adult %><br>
    <%= f.number_field :adult %>
  </div>
  <div class="field">
    <%= f.label :child %><br>
    <%= f.number_field :child %>
  </div>
  <div class="field">
    <%= f.label :seat_number %><br>
    <%= f.number_field :seat_number %>
  </div>
  <div class="field">
    <%= f.label :date_from %><br>
    <%= f.datetime_select :date_from %>
  </div>
  <div class="field">
    <%= f.label :date_to %><br>
    <%= f.datetime_select :date_to %>
  </div>
  <div class="field">
    <%= f.label :ticket_type %><br>
    <%= f.text_field :ticket_type %>
  </div>
  <div class="field">
    <%= f.label :address_from %><br>
    <%= f.text_field :address_from %>
  </div>
  <div class="field">
    <%= f.label :address_to %><br>
    <%= f.text_field :address_to %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
