<div class="pageWrapper">
    <!-- Top bar start -->
    <%= render "/home/top_bar" %>
    <!-- Top bar end -->
    
    <!-- Header start -->
    <header class="top-head minimal">
        <div class="container">
            <!-- Logo start -->
            <%= render "/home/logo" %>
            <!-- Logo end -->
            
            <div class="responsive-nav">
                <!-- top navigation menu start -->
                <%= render "/home/top_navigation_menu" %>
                <!-- top navigation menu end -->
                <div class="f-right">
                    <!-- top search start -->
                    <%= render "/home/top_search" %>
                    <!-- top search end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header start -->
    
    <!-- Content start -->
    <div class="pageContent">
        
        <div class="page-title tbg">
            <div class="container">
                <h1><%= @article_category.name %></h1>
            </div>
        </div>
        <div class="breadcrumbs">
            <div class="container">

                <%= link_to "Home", root_path %><i class="fa fa-long-arrow-right main-color"></i><span><%= @article_category.parent.first.name %></span><i class="fa fa-long-arrow-right main-color"></i><span><%= @article_category.name %></span>

            </div>
        </div>
        
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-9 md-padding main-content">

                    <div class="blog-single">
                        
                        <div class="post-item">
                            
                            <article class="post-content">
                                
                                <div class="text-justify">
                                    <% if !@article.nil? %>
                                        <%= @article.content.html_safe %>
                                    <% end %>
                                </div>
                                
                                <div class="post-tools">
                                    <div class="post-tags">
                                    </div>

                                    <div class="share-post">
                                        <div class="f-left m-t-2 custom-font font-15 main-color">Share This Post on :</div>
                                        <div class="f-right" id="share_btns" data-easyshare data-easyshare-url="">
                                            
                                            <button class="facebook" data-easyshare-button="facebook">
                                                <span class="fa fa-facebook"></span>
                                                <span class="share_num" data-easyshare-button-count="facebook"></span>
                                            </button>
                                            
                                            <button class="twitter" data-easyshare-button="twitter" data-easyshare-tweet-text="">
                                                <span class="fa fa-twitter"></span>
                                                <span class="share_num" data-easyshare-button-count="twitter"></span>
                                            </button>
                                            
                                            <button class="googleplus" data-easyshare-button="google">
                                                <span class="fa fa-google-plus"></span>
                                                <span class="share_num" data-easyshare-button-count="google"></span>
                                            </button>
                                            
                                            <button class="linkedin" data-easyshare-button="linkedin">
                                                  <span class="fa fa-linkedin"></span>
                                                  <span class="share_num" data-easyshare-button-count="linkedin"></span>
                                            </button>
                                            
                                            <button class="pinterest" data-easyshare-button="pinterest">
                                                  <span class="fa fa-pinterest-p"></span>
                                                  <span class="share_num" data-easyshare-button-count="pinterest"></span>
                                            </button>
                                            
                                            <button class="xing" data-easyshare-button="xing">
                                                  <span class="fa fa-xing"></span>
                                                  <span class="share_num" data-easyshare-button-count="xing"></span>
                                            </button>

                                            <button class="total-shrs" data-easyshare-button="total">
                                                <span data-easyshare-total-count>0</span>
                                                <span class="share_num">Shares</span>
                                            </button>
                                            
                                            <div data-easyshare-loader>Loading...</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </article>
                        </div><!-- .post-item end -->
                    </div>
                </div>
                
                <div class="col-md-3 md-padding sidebar">
                    <div class="sidebar-widgets">
                        <ul>
							
							<% if !@article_category.parent.first.nil? %>
								<li class="widget widget-categories">
									<h4 class="widget-title"><span class="main-color"></span><%= @article_category.parent.first.name %></h4>
									<div class="widget-content">
										<ul>
											<% @article_category.parent.first.children.each do |child_1| %>
												<li<% if params[:category_id] == child_1.id.to_s %> class="active"<% end %>><%= link_to child_1.name, post_detail_path(category_id: child_1.id, parent_name: child_1.parent.first.url_friendly, name: child_1.url_friendly) %></li>
											<% end %>
										</ul>
									</div>
								</li>
							<% end %>
							
                            <li class="widget w-recent-posts">
                                <h4 class="widget-title"><span class="main-color">Recent </span>Posts</h4>
                                <div class="widget-content">
                                    <ul>
                                        <li>
                                            <div class="post-img">
                                                <a href="blog-single.html"><img src="/frontend/assets/images/blog/small/1.jpg" alt=""></a>
                                            </div>
                                            <div class="widget-post-info">
                                                <h5><a href="blog-single.html">Blog post title with Image</a></h5>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-img">
                                                <a href="blog-single.html"><img src="/frontend/assets/images/blog/small/2.jpg" alt=""></a>
                                            </div>
                                            <div class="widget-post-info">
                                                <h5><a href="blog-single.html">Blog post title</a></h5>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-img">
                                                <a href="blog-single.html"><img src="/frontend/assets/images/blog/small/3.jpg" alt=""></a>
                                            </div>
                                            <div class="widget-post-info">
                                                <h5><a href="blog-single.html">Blog post title with Image</a></h5>
                                                <div class="meta">
                                                    <span><i class="fa fa-clock-o"></i>Dec 28, 2013,</span><a href="blog-single.html"><i class="fa fa-comments"></i>15</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>			    			    
    <!-- Content start -->

    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->
	
</div>

<!-- Back to top Link -->
<a id="to-top" href="#"><span class="fa fa fa-angle-up"></span></a>

<%= render "/home/js_files" %>

<%= javascript_include_tag "/frontend/assets/js/easyshare.js" %>