<div class="content_fullwidth fullwidth_fix_last">
        
    <div class="container">

        <div class="stcode_title4">
            <h3><span class="line"></span><span class="text"><strong><%= t(:quotation_services) %></strong><span></span></span></h3>
        </div>
        
        <div class="margin_top1"></div>
        <div class="clearfix"></div>

        <div class="pritable ltp pritable_fix">
            <div class="container">

                <div class="pacdetails related">

                    <div class="title">
                        <h2>Start</h2>
                    </div>

                    <ul>
                        <li><strong>600MB</strong> <%= t(:web_space) %></li>
                        <li><strong>15GB</strong> <%= t(:bandwidth) %></li>
                        <li><strong>15</strong> <%= t(:email_accounts) %></li>
                    </ul>

                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>

                </div>
                <!-- end section -->

                <div class="pacdetails related three">

                    <div class="title">
                        <h6>hot</h6>
                        <h2>Silver</h2>
                    </div>

                    <ul>
                        <li><strong>1.100MB</strong> <%= t(:web_space) %></li>
                        <li><strong><%= t(:unlimited) %></strong> <%= t(:bandwidth) %></li>
                        <li><strong>40</strong> <%= t(:email_accounts) %></li>
                    </ul>

                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>

                </div>
                <!-- end section -->

                <div class="pacdetails related four">

                    <div class="title">
                        <h2>Gold</h2>
                    </div>

                    <ul>
                        <li><strong>1.5000MB</strong> <%= t(:web_space) %></li>
                        <li><strong><%= t(:unlimited) %></strong> <%= t(:bandwidth) %></li>
                        <li><strong><%= t(:unlimited) %></strong> <%= t(:email_accounts) %></li>
                    </ul>

                    <div class="bottom"><%= link_to t(:call_us), contact_path %></div>

                </div>
                <!-- end section -->

            </div>
        </div>
        <!-- end section -->

    </div>
</div>