<footer>

    <div class="footer">

        <div class="ftop">
            <div class="container">

                <div class="left">
                    
                    <h4 class="caps light"><strong><%= t(:need_help) %></strong> <%= t(:call_us) %></h4>
                    <h1><%= Company.get_company.hotline %></h1>
                
                </div>
                <!-- end left -->

                <div class="right">
                    
                    <p><%= t(:sign_up_newsletter) %></p>
                    
                    <%= form_for Newsletter.new, html: {id: 'newsletter_form_validate'} do |f| %>
                        <%= f.email_field :email, placeholder: t(:placeholder_newsletter), class: "newsle_eminput required email" %>
                        <input value="<%= t(:sign_up) %>" class="input_submit" type="submit">
                    <% end %>
                
                </div>
                <!-- end right -->

            </div>
        </div>
        <!-- end top section -->

        <div class="clearfix"></div>

        <div class="secarea">
            <div class="container">

                <div class="one_fourth">
                    <h4 class="white"><%= t(:follow_us) %></h4>
                    <ul class="foosocial">
                        <li class="faceboox"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="linkdin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- end section -->

                <div class="one_fourth">
                    <h4 class="white"><%= t(:resources) %></h4>
                    <ul class="foolist">
                        <li><a href="#">Domains & Hosting</a></li>
                        <li><a href="#">How to Transfer a Website</a></li>
                        <li><a href="#">Start a Web Hosting Business</a></li>
                        <li><a href="#">How to Start a Blog</a></li>
                    </ul>
                </div>
                <!-- end section -->

                <div class="one_fourth">
                    <h4 class="white"><%= t(:our_services) %></h4>
                    <ul class="foolist">
                        <li><%= link_to t(:website_development), services_sub_1_path %></li>
                        <li><%= link_to t(:web_based_software_development), services_sub_2_path %></li>
                        <li><%= link_to t(:e_commerce), services_sub_3_path %></li>
                        <li><%= link_to t(:google_apps_for_bussiness), services_sub_4_path %></li>
                        <li><%= link_to t(:outsourcing), services_sub_5_path %></li>
                        <li><%= link_to t(:research_and_development), services_sub_6_path %></li>
                        <li><%= link_to t(:systems_integration), services_sub_7_path %></li>
                        <li><%= link_to t(:email_marketing), services_sub_8_path %></li>
                    </ul>
                </div>
                <!-- end section -->
                
                <div class="one_fourth last aliright">
                    <div class="address">
                        <img src="/frontend/images/logo_hksoft.png" alt="" />
                        <br /><br /> <%= Company.get_company.head_office_address %>
                        <div class="clearfix margin_bottom1"></div>
                        <strong><i class="fa fa-phone"></i></strong> <b> <%= Company.get_company.phone %></b><br />
                        <strong><i class="fa fa-envelope-o"></i></strong> <a href="mailto:<%= Company.get_company.email %>"><%= Company.get_company.email %></a><br />
                        <%= link_to t(:view_directions), contact_path, class: "smbut" %>

                    </div>

                </div>
                <!-- end section -->

            </div>
        </div>


        <div class="clearfix"></div>


        <div class="copyrights">
            <div class="container">
        
                <div class="one_half">Copyright &copy; 2016 Global Naturesoft. All rights reserved.</div>
                <div class="one_half last aliright"><%= link_to t(:home_page), root_path %>|<%= link_to t(:home_support), support_path %>|<%= link_to t(:home_contact), contact_path %></div>
        
            </div>
        </div>
        <!-- end copyrights -->


    </div>

</footer>