<footer id="footer" class="style3">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h2>TRỢ GIÚP</h2>
                    <ul class="discover triangle hover row">
                        <li class="<%= "active" if (params[:controller] == "home" && params[:action] == "sitemap") %> col-xs-12"><%= link_to "Sitemap", sitemap_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "index") %> col-xs-12"><%= link_to "Giới thiệu", about_us_path %></li>
                        <li class="col-xs-12"><%= link_to "Hồ sơ năng lực", "https://drive.google.com/file/d/0B70r8qS7CHHpWkFBdDgtSDNycmc/view?usp=sharing", target: "_blank" %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "activities_photos") %> col-xs-12"><%= link_to "Hình ảnh hoạt động", activities_photos_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_1") %> col-xs-12"><%= link_to "Phương thức thanh toán", info_system_1_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_2") %> col-xs-12"><%= link_to "Chính sách đổi trả & hoàn tiền", info_system_2_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_3") %> col-xs-12"><%= link_to "Chính sách bảo mật thông tin khách hàng", info_system_3_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_4") %> col-xs-12"><%= link_to "Chính sách giải quyết tranh chấp, khiếu nại", info_system_4_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_5") %> col-xs-12"><%= link_to "Điều khoản mua bán hàng hóa", info_system_5_path %></li>
                        <li class="col-xs-12">
                            <a data-fancybox="gallery" href="/frontend/images/award.png">
                                Thành tích đạt được
                                <img src="/frontend/images/award-footer.png" style="max-width: 100%; border: 2px solid #AAA;" >
                            </a>
                        </li>
                        <li class="col-xs-12">
                            <a data-fancybox="gallery" href="/frontend/images/award-2.png">
                                Thành tích đạt được
                                <img src="/frontend/images/award-2-footer.png" style="max-width: 100%; border: 2px solid #AAA;" >
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>CẨM NANG DU LỊCH</h2>
                    <ul class="travel-news">
                        <% ArticleCategory.get_tour_handbook_blogs(params).limit(2).each do |item| %>
                        <li>
                            <div class="thumb">
                                <%= link_to image_tag(item.image_url.small_footer_image, width: "63", height: "63", alt: item.title), tour_handbook_detail_path(tour_handbook_detail_id: item, name: item.url_friendly), title: item.title %>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><%= link_to item.title, tour_handbook_detail_path(tour_handbook_detail_id: item, name: item.url_friendly), title: item.title %></h5>
                                <div class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 50) %></div>
                                <span class="date"><%= item.created_at.strftime("%d/%m/%Y") %></span>
                            </div>
                        </li>
                        <% end %>
                        <li><%= link_to "XEM THÊM", tour_handbook_path, class: "button btn-small sky-blue1" %></li>
                    </ul>
                    <h2>TIN TỨC DU LỊCH</h2>
                    <ul class="travel-news">
                        <% ArticleCategory.get_travel_news(params).limit(2).each do |item| %>
                        <li>
                            <div class="thumb">
                                <%= link_to image_tag(item.image_url.small_footer_image, width: "63", height: "63", alt: item.title), travel_news_detail_path(travel_news_id: item, title: item.url_friendly), title: item.title %>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><%= link_to item.title, travel_news_detail_path(travel_news_id: item, title: item.url_friendly), title: item.title %></h5>
                                <div class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 50) %></div>
                                <span class="date"><%= item.created_at.strftime("%d/%m/%Y") %></span>
                            </div>
                        </li>
                        <% end %>
                        <li><%= link_to "XEM THÊM", travel_news_path, class: "button btn-small sky-blue1" %></li>
                    </ul>
                    <h2>TỔ CHỨC SỰ KIỆN</h2>
                    <ul class="travel-news">
                        <% ArticleCategory.get_event_blogs.limit(2).each do |item| %>
                        <li>
                            <div class="thumb">
                                <%= link_to image_tag(item.image_url.small_footer_image, width: "63", height: "63", alt: item.title), event_detail_path(event_detail_id: item, name: item.url_friendly, article_category_id: item.article_categories.first, parent_name: item.article_categories.first.url_friendly), title: item.title %>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><%= link_to item.title, event_detail_path(event_detail_id: item, name: item.url_friendly, article_category_id: item.article_categories.first, parent_name: item.article_categories.first.url_friendly), title: item.title %></h5>
                                <div class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 50) %></div>
                                <span class="date"><%= item.created_at.strftime("%d/%m/%Y") %></span>
                            </div>
                        </li>
                        <% end %>
                        <li><%= link_to "XEM THÊM", event_path, class: "button btn-small sky-blue1" %></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>LIÊN HỆ</h2>
                    <% if !Company.get_company.nil? %>
                    <h4><strong><%= Company.get_company.name %></strong></h4>
                    <p><strong>Người đại diện:</strong> <%= Company.get_company.representative %></p>
                    <p>
                        <strong>Số giấy chứng nhận kinh doanh:</strong> <%= Company.get_company.certificate_no %><br/>
                        <strong>Cấp ngày:</strong> <%= Company.get_company.date_of_issue.strftime("%d/%m/%Y") %><br/>
                        <strong>Nơi cấp:</strong> <%= Company.get_company.issued_by %>
                    </p>
                    <p><strong>Trụ sở chính:</strong> <%= Company.get_company.head_office_address %></p>
                    <p><strong>Chi nhánh:</strong> <%= Company.get_company.sales_office_address %></p>
                    <p><strong>Tel:</strong> <%= Company.get_company.phone %></p>
                    <p><strong>Fax:</strong> <%= Company.get_company.fax %></p><br />
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> HOTLINE 1: <a href="tel:<%= Company.get_company.hotline %>"><%= Company.get_company.hotline %></a></span><br />
                        <span class="contact-phone"><i class="soap-icon-phone"></i> HOTLINE 2: <a href="tel:<%= Company.get_company.hotline_2 %>"><%= Company.get_company.hotline_2 %></a></span><br />
                        <a href="mailto:<%= Company.get_company.email %>" target="_top" class="contact-email"><%= Company.get_company.email %></a>
                        <a href="mailto:<%= Company.get_company.email_2 %>" target="_top" class="contact-email"><%= Company.get_company.email_2 %></a>
                    </address>
                    <a class="button btn-small yellow popup-map" href="#" data-box="10.760525, 106.668242">Xem bản đồ trụ sở chính</a><br /><br />
                    <a class="button btn-small yellow popup-map" href="#" data-box="10.761742, 106.665154">Xem bản đồ chi nhánh</a><br /><br />
                    <% end %>
                    <ul class="social-icons clearfix">
                        <li class="facebook"><a title="cungmuadulich.net" href="https://www.facebook.com/cungmuadulich.net/" data-toggle="tooltip" target="_blank"><i class="soap-icon-facebook"></i></a></li>
                        <li class="facebook"><a title="Công Ty Du Lịch Khám Phá Mới" href="https://www.facebook.com/CongTyDuLichKhamPhaMoi" data-toggle="tooltip" target="_blank"><i class="soap-icon-facebook"></i></a></li>
                    </ul>
                    <%= link_to image_tag("/frontend/images/dathongbao.png", class: "logo-registered", alt: "Đã đăng ký Bộ Công Thương"), "http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=35892", title: "Đã đăng ký Bộ Công Thương", target: "_blank" %>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <%= link_to image_tag("/frontend/images/logo_new_discovery.png", alt: "Khám Phá Mới Travel"), root_path %>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>2017 &copy; All Rights Reserved. Du Lịch Khám Phá Mới</p>
            </div>
        </div>
    </div>
</footer>