<section class="section footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget widget-info">
                    <header class="widget-heading-2">
                        <h4><i class="flaticon-help"></i>LIÊN HỆ</h4>
                    </header>
                    <nav>
                        <ul>
                            <li><i class="flaticon-phone72"></i>(012) 345-6789</li>
                            <li><a href="#"><i class="flaticon-email15"></i>info@perfumesupport.com</a></li>
                            <li><a href="#"><i class="flaticon-google125"></i>Would you like to speak live?</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget widget-info">
                    <header class="widget-heading-2">
                        <h4><i class="flaticon-shield90"></i>Bảo mật thông tin</h4>
                    </header>
                    <ul class="list-2">
                        <li><a>Authenticity verification</a></li>
                        <li><a>Buyers’ protection</a></li>
                        <li><a>Privacy protection</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget widget-info">
                    <header class="widget-heading-2">
                        <h4><i class="flaticon-shipping"></i>Thông tin giao hàng</h4>
                    </header>
                    <ul class="list-2">
                        <li><a>Customized packaging</a></li>
                        <li><a>Careful handling</a></li>
                        <li><a>Insured shipping</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget widget-contact">
                    <h4>Nhận tin mới</h4>
                    <p>Đăng ký email để nhận được những thông tin mới nhất về sản phẩm.</p>
                    <form class="contact-widget-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập email đăng ký....." required>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="ĐĂNG KÝ">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <nav>
            <ul class="footer-links">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= link_to "Chăm Sóc Da", category_path %></li>
                <li><%= link_to "Trang Điểm", category_path %></li>
                <li><%= link_to "Mỹ Phẩm Mỹ-Pháp-Nhật", category_path %></li>
                <li><%= link_to "Thời Trang", category_path %></li>
                <li><%= link_to "Hàng Sale", category_path %></li>
                <li><%= link_to "Liên Hệ", contact_path %></li>
            </ul>
        </nav>
    </div>
</footer>