<footer id="footer" class="style3">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h2>TRỢ GIÚP</h2>
                    <ul class="discover triangle hover row">
                        <li class="active col-xs-12"><a href="#">Giới thiệu</a></li>
                        <li class="col-xs-12"><a href="#">Chính sách thanh toán</a></li>
                        <li class="col-xs-12"><a href="#">Chính sách đổi trả voucher & hoàn tiền</a></li>
                        <li class="col-xs-12"><a href="#">Chính sách bảo mật thông tin khách hàng</a></li>
                        <li class="col-xs-12"><a href="#">Chính sách giải quyết tranh chấp, khiếu nại</a></li>
                        <li class="col-xs-12"><a href="#">Điều khoản mua bán hàng hóa</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>TIN TỨC DU LỊCH</h2>
                    <ul class="travel-news">
                        <li>
                            <div class="thumb">
                                <a href="#">
                                    <img src="/frontend/images/news01.png" alt="" width="63" height="63" />
                                </a>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                <span class="date">25 Sep, 2013</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a href="#">
                                    <img src="/frontend/images/news02.png" alt="" width="63" height="63" />
                                </a>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                <span class="date">24 Sep, 2013</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a href="#">
                                    <img src="/frontend/images/news02.png" alt="" width="63" height="63" />
                                </a>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                <span class="date">24 Sep, 2013</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a href="#">
                                    <img src="/frontend/images/news02.png" alt="" width="63" height="63" />
                                </a>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                <span class="date">24 Sep, 2013</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a href="#">
                                    <img src="/frontend/images/news02.png" alt="" width="63" height="63" />
                                </a>
                            </div>
                            <div class="description">
                                <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                <span class="date">24 Sep, 2013</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>LIÊN HỆ</h2>
                    <h4><strong><%= Company.get_company.name %></strong></h4>
                    <p><strong>Người đại diện:</strong> <%= Company.get_company.representative %></p>
                    <p>
                        <strong>Số giấy chứng nhận kinh doanh:</strong> <%= Company.get_company.certificate_no %><br/>
                        <strong>Cấp ngày:</strong> <%= Company.get_company.date_of_issue.strftime("%d/%m/%Y") %><br/>
                        <strong>Nơi cấp:</strong> <%= Company.get_company.issued_by %>
                    </p>
                    <p><strong>Trụ sở chính:</strong> <%= Company.get_company.head_office_address %></p>
                    <p><strong>Chi nhánh:</strong> <%= Company.get_company.sales_office_address %></p>
                    <p><strong>Tel:</strong> <%= Company.get_company.phone %></p>
                    <p><strong>Fax:</strong> <%= Company.get_company.fax %></p><br />
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> HOTLINE 1: <%= Company.get_company.hotline %></span><br />
                        <span class="contact-phone"><i class="soap-icon-phone"></i> HOTLINE 2: <%= Company.get_company.hotline_2 %></span><br />
                        <a href="mailto:<%= Company.get_company.email %>" target="_top" class="contact-email"><%= Company.get_company.email %></a><br/>
                        
                    </address>
                    <a class="button btn-small yellow popup-map" href="#" data-box="10.760525, 106.668242">Xem bản đồ trụ sở chính</a><br /><br />
                        <a class="button btn-small yellow popup-map" href="#" data-box="10.761742, 106.665154">Xem bản đồ chi nhánh</a><br /><br />
                    <ul class="social-icons clearfix">
                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                        <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <%= link_to image_tag("/frontend/images/logo_new_discovery.png", alt: "Khám Phá Mới Travel"), root_path %>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p> 2016 &copy; All Rights Reserved. Du Lịch Khám Phá Mới</p>
            </div>
        </div>
    </div>
</footer>