<footer>

    <div class="footer">

        <div class="ftop">
            <div class="container">

                <div class="left">
                    
                    <h4 class="caps light"><strong>Need Help?</strong> Call Us:</h4>
                    <h1><%= Company.get_company.hotline %></h1>
                
                </div>
                <!-- end left -->

                <div class="right">
                    
                    <p>Sign up to Newsletter for get special offers</p>
                    
                    <%= form_for Newsletter.new, html: {id: 'newsletter_form_validate'} do |f| %>
                        <%= f.email_field :email, placeholder: 'Please enter your email...', class: "newsle_eminput required email" %>
                        <input value="Sign Up" class="input_submit" type="submit">
                    <% end %>
                
                </div>
                <!-- end right -->

            </div>
        </div>
        <!-- end top section -->

        <div class="clearfix"></div>

        <div class="secarea">
            <div class="container">

                <div class="one_fourth">
                    <h4 class="white">Follow Us</h4>
                    <ul class="foosocial">
                        <li class="faceboox"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="linkdin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- end section -->

                <div class="one_fourth">
                    <h4 class="white">Resources</h4>
                    <ul class="foolist">
                        <li><a href="#">Domains & Hosting</a></li>
                        <li><a href="#">How to Transfer a Website</a></li>
                        <li><a href="#">Start a Web Hosting Business</a></li>
                        <li><a href="#">How to Start a Blog</a></li>
                    </ul>
                </div>
                <!-- end section -->

                <div class="one_fourth">
                    <h4 class="white">Our Services</h4>
                    <ul class="foolist">
                        <li><a href="#">Website Development</a></li>
                        <li><a href="#">Web-based Software Development</a></li>
                        <li><a href="#">E-Commerce</a></li>
                        <li><a href="#">Google Apps for Business</a></li>
                        <li><a href="#">Outsourcing</a></li>
                        <li><a href="#">Research & Development</a></li>
                        <li><a href="#">Systems Integration</a></li>
                        <li><a href="#">Email Marketing</a></li>
                    </ul>
                </div>
                <!-- end section -->
                
                <div class="one_fourth last aliright">
                    <div class="address">
                        <img src="/frontend/images/footer-logo.png" alt="" />
                        <br /><br /> <%= Company.get_company.head_office_address %>
                        <div class="clearfix margin_bottom1"></div>
                        <strong>Phone:</strong> <b><%= Company.get_company.phone %></b><br />
                        <strong><i class="fa fa-envelope-o"></i></strong> <a href="mailto:<%= Company.get_company.email %>"><%= Company.get_company.email %></a><br />
                        <%= link_to "View Directions", about_us_path, class: "smbut" %>

                    </div>

                </div>
                <!-- end section -->

            </div>
        </div>


        <div class="clearfix"></div>


        <div class="copyrights">
            <div class="container">
        
                <div class="one_half">Copyright &copy; 2016 Global Naturesoft. All rights reserved.</div>
                <div class="one_half last aliright"><%= link_to "Home", root_path %>|<%= link_to "About Us", about_us_path %>|<%= link_to "Support", support_path %>|<%= link_to "Contact", contact_path %></div>
        
            </div>
        </div>
        <!-- end copyrights -->


    </div>

</footer>