<section class="section footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget widget-info">
                    <header class="widget-heading-2">
                        <h4><i class="flaticon-help"></i>LIÊN HỆ CHÚNG TÔI</h4>
                    </header>
                    <nav>
                        <ul>
                            <% if !@info_contact.get_company.nil? %>
                                <li><a href="tel:<%= @info_contact.get_company.phone %>"><i class="flaticon-phone72"></i><%= @info_contact.get_company.phone %></a></li>
                                <li><a href="<%= @info_contact.get_company.email %>"><i class="flaticon-email15"></i><%= @info_contact.get_company.email %></a></li>
                                <li><a href="https://www.facebook.com/Lumla-shop-%C4%90%E1%BA%B9p-1401009733493121"><i class="flaticon-google125"></i>Theo dõi trên FaceBook</a></li>
                            <% end %>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget widget-info">
                    <header class="widget-heading-2">
                        <h4><i class="flaticon-shield90"></i>BẢO MẬT THÔNG TIN</h4>
                    </header>
                    <ul class="list-2">
                        <li><a>Authenticity verification</a></li>
                        <li><a>Buyers’ protection</a></li>
                        <li><a>Privacy protection</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget widget-info">
                    <header class="widget-heading-2">
                        <h4><i class="flaticon-shipping"></i>THÔNG TIN GIAO HÀNG</h4>
                    </header>
                    <ul class="list-2">
                        <li><a>Customized packaging</a></li>
                        <li><a>Careful handling</a></li>
                        <li><a>Insured shipping</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget widget-contact">
                    <h4>Nhận tin mới</h4>
                    <p>Đăng ký email để nhận được những thông tin mới nhất về sản phẩm.</p>
                    <%= form_for Newsletter.new, html: {class: "contact-widget-form validate-form-newsletter" } do |f| %>
                        <div class="form-group">
                            <%= f.text_field :email, class: "form-control required email", required: true, placeholder: "Nhập email đăng ký....." %>
                        </div>
                        <%= f.submit 'ĐĂNG KÝ', class: 'btn btn-primary btn-block' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <nav>
            <ul class="footer-links">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <% Category.get_by_level(1).each do |category| %>
                    <li>
                        <%= link_to category.name, { controller: "category", action: "index", category_id: category.id } %>
                    </li>
                <% end %>
                <li><%= link_to "Tin Tức", blog_path %></li>
                <li><%= link_to "Liên Hệ", contact_path %></li>
            </ul>
        </nav>
    </div>
</footer>