<footer id="footer" class="style3">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h2>TRỢ GIÚP</h2>
                    <ul class="discover triangle hover row">
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "index") %> col-xs-12"><%= link_to "Giới thiệu", about_us_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_1") %> col-xs-12"><%= link_to "Chính sách thanh toán", info_system_1_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_2") %> col-xs-12"><%= link_to "Chính sách đổi trả voucher & hoàn tiền", info_system_2_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_3") %> col-xs-12"><%= link_to "Chính sách bảo mật thông tin khách hàng", info_system_3_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_4") %> col-xs-12"><%= link_to "Chính sách giải quyết tranh chấp, khiếu nại", info_system_4_path %></li>
                        <li class="<%= "active" if (params[:controller] == "about_us" && params[:action] == "info_system_5") %> col-xs-12"><%= link_to "Điều khoản mua bán hàng hóa", info_system_5_path %></li>
                        <li class="col-xs-12"><a href="/frontend/images/award.png" target="_blank">Thành tích đạt được<img src="/frontend/images/award-footer.png" style="max-width: 100%; border: 2px solid #AAA;" ></a></li>
                        <li class="col-xs-12"><a href="/frontend/images/award-2.png" target="_blank">Thành tích đạt được<img src="/frontend/images/award-2-footer.png" style="max-width: 100%; border: 2px solid #AAA;" ></a></li>
                        <li class="col-xs-12"><a href="/frontend/images/gpkd.png" target="_blank">Giấy phép kinh doanh<img src="/frontend/images/gpkd-footer.png" style="max-width: 100%; border: 2px solid #AAA;" ></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>CẨM NANG DU LỊCH</h2>
                    <ul class="travel-news">
                        <% ArticleCategory.get_tour_handbook_blogs(params).limit(5).each do |item| %>
                            <li>
                                <div class="thumb">
                                    <%= link_to image_tag(item.image_url.small_footer_image, width: "63", height: "63", alt: item.title), tour_handbook_detail_path(tour_handbook_detail_id: item, name: item.url_friendly) %>
                                </div>
                                <div class="description">
                                    <h5 class="s-title"><%= link_to item.title, tour_handbook_detail_path(tour_handbook_detail_id: item, name: item.url_friendly) %></h5>
                                    <div class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 50) %></div>
                                    <span class="date"><%= item.created_at.strftime("%d/%m/%Y") %></span>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                    <h2>TIN TỨC DU LỊCH</h2>
                    <ul class="travel-news">
                        <% ArticleCategory.get_travel_news(params).limit(5).each do |item| %>
                            <li>
                                <div class="thumb">
                                    <%= link_to image_tag(item.image_url.small_footer_image, width: "63", height: "63", alt: item.title), travel_news_detail_path(travel_news_id: item, title: item.url_friendly) %>
                                </div>
                                <div class="description">
                                    <h5 class="s-title"><%= link_to item.title, travel_news_detail_path(travel_news_id: item, title: item.url_friendly) %></h5>
                                    <div class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 50) %></div>
                                    <span class="date"><%= item.created_at.strftime("%d/%m/%Y") %></span>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>LIÊN HỆ</h2>
                    <% if !Company.get_company.nil? %>
                    <h4><strong><%= Company.get_company.name %></strong></h4>
                    <p><strong>Người đại diện:</strong> <%= Company.get_company.representative %></p>
                    <p>
                        <strong>Số giấy chứng nhận kinh doanh:</strong> <%= Company.get_company.certificate_no %><br/>
                        <strong>Cấp ngày:</strong> <%= Company.get_company.date_of_issue.strftime("%d/%m/%Y") %><br/>
                        <strong>Nơi cấp:</strong> <%= Company.get_company.issued_by %>
                    </p>
                    <p><strong>Trụ sở chính:</strong> <%= Company.get_company.head_office_address %></p>
                    <p><strong>Chi nhánh:</strong> <%= Company.get_company.sales_office_address %></p>
                    <p><strong>Tel:</strong> <%= Company.get_company.phone %></p>
                    <p><strong>Fax:</strong> <%= Company.get_company.fax %></p><br />
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> HOTLINE 1: <a href="tel:<%=Company.get_company.hotline  %>"><%= Company.get_company.hotline %></a></span><br />
                        <span class="contact-phone"><i class="soap-icon-phone"></i> HOTLINE 2: <a href="tel:<%=Company.get_company.hotline_2  %>"><%= Company.get_company.hotline_2 %></a></span><br />
                        <a href="mailto:<%= Company.get_company.email %>" target="_top" class="contact-email"><%= Company.get_company.email %></a>
                        <a href="mailto:<%= Company.get_company.email_2 %>" target="_top" class="contact-email"><%= Company.get_company.email_2 %></a>
                    </address>
                    <a class="button btn-small yellow popup-map" href="#" data-box="10.760525, 106.668242">Xem bản đồ trụ sở chính</a><br /><br />
                    <a class="button btn-small yellow popup-map" href="#" data-box="10.761742, 106.665154">Xem bản đồ chi nhánh</a><br /><br />
                    <% end %>
                    <ul class="social-icons clearfix">
                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                        <li class="youtube"><a title="youtube" href="#" data-toggle="tooltip"><i class="soap-icon-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <%= link_to image_tag("/frontend/images/logo_new_discovery.png", alt: "Khám Phá Mới Travel"), root_path %>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p> 2016 &copy; All Rights Reserved. Du Lịch Khám Phá Mới</p>
            </div>
        </div>
    </div>
</footer>