<header class="header">

    <div class="container">

        <!-- Logo -->
        <div class="logo">
            <%= link_to "", root_path, id: "logo" %>
        </div>

        <!-- Navigation Menu -->
        <div class="menu_main">

            <div class="navbar yamm navbar-default">

                <div class="navbar-header">
                    <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1">
                        <button type="button"> <i class="fa fa-bars"></i></button>
                    </div>
                </div>

                <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">

                    <nav>

                        <ul class="nav navbar-nav">

                            <li class="dropdown"> <%= link_to "Home", root_path, class: ("active" if params[:controller] == "home").to_s %></li>
                            
                            <li class="dropdown"> <%= link_to "Services", "#services", class: "dropdown-toggle #{("active" if params[:controller] == "services").to_s}" %>
                                <ul class="dropdown-menu multilevel" role="menu">
                                    <li><%= link_to "Website Development", services_sub_1_path %></li>
                                    <li><%= link_to "Web-based Software Development", services_sub_2_path %></li>
                                    <li><%= link_to "E-Commerce", services_sub_3_path %></li>
                                    <li><%= link_to "Google Apps for Business", services_sub_4_path %></li>
                                    <li><%= link_to "Outsourcing", services_sub_5_path %></li>
                                    <li><%= link_to "Research & Development", services_sub_6_path %></li>
                                    <li><%= link_to "Systems Integration", services_sub_7_path %></li>
                                    <li><%= link_to "Email Marketing", services_sub_8_path %></li>
                                </ul>
                            </li>
                                                
                            <li><%= link_to "Domains & Hosting", domains_hosting_path, class: (" active" if params[:controller] == "domains").to_s %></li>

                            <li><%= link_to "Works", works_path, class: (" active" if params[:controller] == "works").to_s %></li>

                            <li> <%= link_to "News", blog3_path, class: ("active" if params[:controller] == "blog3").to_s %></li>

                            <li><%= link_to "Support", support_path, class: ("active" if params[:controller] == "support").to_s %></li>
                            
                            <li><%= link_to "Contact", contact_path, class: ("active" if params[:controller] == "contact").to_s %></li>

                        </ul>

                    </nav>

                </div>

            </div>
        
        </div>
        <!-- end Navigation Menu -->

    </div>

</header>