<div class="main-bar">
    <div class="logo">
        <%= link_to image_tag("/frontend/images/logo.png"), root_path %>
    </div>
    <!-- /logo -->
    <div class="user-controls-bar">
        <ul class="user-controls">
            <li>
                <span class="site-search-btn dropBox-btn"><i class="flaticon-magnifier56"></i></span>
                <div class="dropBox">
                    <div class="box-section">
                        <%= form_tag({controller: "product", action: "product_search"}, class: "accounts-form clearfix", method: "get") do %>
                            <div class="form-left">
                                <div class="form-group">
                                    <input type="search" name="key" value="<%= params[:key] if params[:key].present? %>" placeholder="Tìm tất cả sản phẩm trong hệ thống" class="form-control">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-default text-uppercase" value="TÌM KIẾM">
                        <% end %><!-- /accounts-form -->
                    </div><!-- /box-section -->
                </div><!-- /dropBox -->
            </li>
            <li>
                <span class="cart-btn dropBox-btn"><i class="flaticon-shopping191"></i><span class="badge"><%= @cart.get_number_items %></span></span>
                <div class="dropBox">
                    <div class="box-section">
                        <ul class="cart-info-list">
                            <% @cart.line_items.each do |item| %>
                            <li class="cart-item">
                                <div class="cart-item-bx">
                                    <figure>
                                        <% if item.product.get_main_image.present? %>
                                            <%= image_tag(item.product.get_main_image.image_url.smaller_image) %>
                                        <% else %>
                                            <img src="frontend/images/resource/no-image.png" alt="image" width="60" height="60">
                                        <% end %>
                                    </figure>
                                    <div class="text">
                                        <h6><%= link_to truncate(strip_tags(item.product.name), length: 25), product_detail_path(product_id: item.product.name) %></h6>
                                        <p><%= format_number(item.product.price) %> VNĐ x <%= item.quantity %></p>
                                        <p class="tot"><%= format_number(item.total_item) %> VNĐ</p>
                                    </div>
                                    <%= link_to "&times;".html_safe, {controller: "cart", action: "index", do: 'remove_item', line_item_id: item.id }, class: "close" %>
                                </div>
                                <!-- /cart-item-bx -->
                            </li>
                            <% end %>
                        </ul>
                        <!--/ cart-info-list -->
                        <%= link_to "XEM GIỎ HÀNG", shopping_cart_path, class: "btn btn-default btn-block dismiss-button" %>
                        <%= link_to "ĐẶT HÀNG", checkout_path, class: "btn btn-dark btn-block dismiss-button" %>
                    </div>
                    <!-- /cart-info-box -->

                    <!-- empty cart message -->
                    <!-- <div class="box-section">
                        <h6>Your Cart is empty</h6>
                        <a href="#" class="btn btn-dark btn-block dismiss-button">Continue Shopping</a>
                        <p>Enjoy complimentary shipping on all orders over $75 and also complimentary samples and returns with every order.</p>
                    </div> -->
                    <!-- /cart-info-box -->
                </div>
                <!-- /dropBox -->
            </li>
            <li class="toggle-menu">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </li>
        </ul>
        <!-- /user-controls -->
    </div>
    <!-- /user-controls -->

    <div class="main-nav-bar">
        <nav class="navbar-collapse collapse">
            <ul class="main-nav">
                <li><%= link_to "Trang chủ", root_path %></li>
                <% Category.get_by_level(1).order("created_at DESC").each do |category| %>
                    <% if category.children.order(:ordered).count == 0 %>
                        <li><%= link_to category.name, { controller: "category", action: "index", category_id: category.id } %></li>
                    <% else %>
                        <li>
                            <%= link_to category.name, { controller: "category", action: "index", category_id: category.id } %>
                            <ul>
                                <% category.children.order(:ordered).each do |child_1| %>
                                    <% if child_1.children.order(:ordered).count == 0 %>
                                        <li><%= link_to child_1.name, { controller: "category", action: "category_sub_1", category_id: child_1.id } %></li>
                                    <% else %>
                                        <li>
                                            <%= link_to child_1.name, { controller: "category", action: "category_sub_1", category_id: child_1.id } %>
                                            <ul>
                                                <% child_1.children.order(:ordered).each do |child_2| %>
                                                    <li>
                                                        <%= link_to child_2.name, { controller: "category", action: "category_sub_2", category_id: child_2.id } %>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </li>
                    <% end %>
                <% end %>
                
                <li><%= link_to "Liên Hệ", contact_path %></li>
            </ul>
        </nav>
    </div>
    <!-- /main-nav-bar -->
</div>