<nav class="top-nav">
    <ul>
        <li<% if params[:controller] == "home" %> class="selected"<% end %>><%= link_to "<span>Home</span>".html_safe, root_path %></li>
        
        <% ArticleCategory.get_by_level(1).each do |menu| %>
            <% if !menu.children.present? and menu.id != 16 %>
                <li><%= link_to "#{'<span>' + menu.name + '</span>'}".html_safe, { controller: "post_detail", action: "index", category_id: menu.id } %></li>
            <% elsif menu.children.present? and menu.id != 16 %>
                <li>
                    <%= link_to "#{'<span>' + menu.name + '</span>'}".html_safe, { controller: "post_detail", action: "index", category_id: menu.id } %>
                    <ul>
                        <% menu.children.each do |child_1| %>
                            <li><%= link_to child_1.name, { controller: "post_detail", action: "index", category_id: child_1.id } %></li>
                        <% end %>
                    </ul>
                </li>
            <% elsif menu.children.present? and menu.id == 16 %>
                <li class="mega-menu">
                    <%= link_to "#{'<span>' + menu.name + '</span>'}".html_safe, { controller: "post_detail", action: "index", category_id: menu.id } %>
                    <ul>
                        <li>
                            <div class="mega-content">
                                <div class="row">
                                    <ul>
                                        <% menu.children.each do |child_1| %>
                                            <li class="col-md-4"><span><%= child_1.name %></span>
                                                <ul>
                                                    <% child_1.children.each do |child_2| %>
                                                        <li><%= link_to ('<i class="fa fa-caret-right"></i>' + child_2.name).html_safe, { controller: "post_detail", action: "index", category_id: child_2.id } %></li>
                                                    <% end %>
                                                </ul>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            <% end %>
        <% end %>
        
        <li<% if params[:controller] == "contact" %> class="selected"<% end %>><%= link_to "<span>Contact</span>".html_safe, contact_path %></li>

    </ul>
</nav>