<div class="pageWrap">

    <%= render "/home/tp_bar" %>
    <!-- /tp-bar -->

    <%= render "/home/main_bar" %>
    <!-- /main-bar -->

    <div class="tp-banner-container pattern-1">
        <div class="tp-banner">
            <ul>
                
                <% Slideshow.get_all_slides.each do |item| %>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="<%= item.image_url.image %>" alt="slide4" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
    
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption black tp-fade tp-resizeme" data-x="656" data-y="185" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="slide1 slide4">
                                <p class="text-left"> </p>
                                <h1> <%= item.title_1 %></h1>
                                <p class="text-right"> </p>
                                <% if !item.name_button.empty? and !item.link.empty? %>
                                    <a class="btn btn-default slide_button" href="<%= item.link %>"> <%= item.name_button %></a>
                                <% end %>
                            </div>
                        </div>
                    </li>
                    
                <% end %>
                
            </ul>

            <div class="tp-bannertimer"></div>

        </div>
        <!-- /tp-banner -->
    </div>
    <!-- /tp-banner-container -->

    <section class="section section_product_box">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center">
                        <div class="ad-box">
                            <img src="/frontend/images/resource/product_box1.png" alt="image" width="390" height="230">
                        </div>
                        <!-- /ad-box -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <div class="ad-box">
                            <img src="/frontend/images/resource/product_box2.png" alt="image" width="390" height="230">
                        </div>
                        <!-- /ad-box -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <div class="ad-box">
                            <img src="/frontend/images/resource/product_box3.png" alt="image" width="390" height="230">
                        </div>
                        <!-- /ad-box -->
                    </div>
                </div>
            </div>

            <div class="features-list-box">
                <ul class="feautes-list">
                    <% Category.get_all_categories(params).each do |category| %>
                        <li><%= link_to category.name, { controller: "category", action: "index", category_id: category.id } %></li>
                    <% end %>
                </ul>
                <!-- /features-list -->
            </div>
            <!-- /features-list-box -->

            <div class="row">
                <% @new_products.each do |item| %>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail thumbnail-product">
                            <figure class="image-zoom">
                                <% if item.get_main_image.present? %>
                                    <%= image_tag(item.get_main_image.image_url.medium_image) %>
                                <% else %>
                                    <img src="frontend/images/resource/no-image.png" alt="image">
                                <% end %>
                            </figure>
                            <div class="caption text-center">
                                <h5 class="format_name"><%= link_to (truncate(strip_tags(item.name), length: 40)), { controller: "product", action: "index", product_id: item.id }, title: item.name %></h5>
                                <!-- /rating-star -->
                                <p class="prod-price text-primary"><%= format_number(item.price) %> VNĐ</p>
                            </div>
                        </div>
                        <!-- /thumbail -->
                    </div>
                <% end %>
            </div>
            <div class="features-list-box">
                <ul class="feautes-list">
                    <li>Sản phẩm đa dạng</li>
                    <li>Chất lượng đảm bảo</li>
                    <li>Xuất xứ rõ ràng</li>
                    <li>Hỗ trợ khách hàng 24/7</li>
                    <li>Đa dạng nhà cung cấp</li>
                </ul>
            </div>
            <!-- /features-list-box -->
        </div>
        <!-- /container -->
    </section>
    <!-- /section -->

    <section class="section-sales section-image" style="background-image:url(frontend/images/resource/bgImg-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-push-3 col-md-6 col-md-push-6 col-lg-5 col-lg-push-7 ">
                    <div class="promotion-box">
                        <div class="text">
                            <h4>Bath and Body</h4>
                            <h3>Sale</h3>
                            <h4>Save upto <strong>70%</strong></h4>
                        </div>
                        <a href="promotions.html" class="btn btn-default text-uppercase">Start Shopping</a>
                    </div>
                    <!-- /promotion-box -->
                </div>
            </div>
        </div>
    </section>

    <% if !@lastest_blogs.empty? %>
        <section class="section pattern-1">
            <div class="container">
                <header class="heading-2">
                    <h3>
                    <em>Bài viết</em>
                    <span>mới nhất</span>
                </h3>
                </header>
                <!-- /heading-2 -->
                <div class="row">
                    <% @lastest_blogs.last(3).each do |blog| %>
                        <div class="col-sm-4">
                            <div class="thumbnail thumbnail-blog">
                                <figure class="image-zoom new_blogs">
                                    <%= image_tag(blog.image_url.medium_image) %>
                                </figure>
                                <div class="caption text-center">
                                    <ul class="meta-post">
                                        <li>lumlabeauty.com</li>
                                        <li><%= blog.created_at.in_time_zone("Asia/Bangkok").strftime("%b %d, %Y") %></li>
                                    </ul>
                                    <!-- /meta-post -->
                                    <h4 class="text-uppercase"><%= link_to blog.title, { controller: "blog", action: "detail", blog_id: blog.id } %></h4>
                                    <p><%= truncate(strip_tags(blog.content_vi.html_safe), length: 140, omission: '') %> <%= link_to "[...]", { controller: "blog", action: "detail", blog_id: blog.id }, class: "text-primary" %></p>
                                </div>
                            </div>
                            <!-- /thumbail -->
                        </div>
                    <% end %>
                </div>
            </div>
        </section>
    <% end %>

    <%= render "/home/footer" %>
    
</div>
<!-- /pageWrap -->

<div class="preloader-container">
    <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
        <div class="object" id="object_big"></div>
    </div>
    <!-- /loading-center-absolute -->
</div>
<!-- /preloader-container -->


<!-- /newsletter-holder -->
<div class="newsletter-cover"></div>


<!-- JavaScript
================================================== -->
<%= javascript_include_tag "/frontend/js/plugins.js" %>
<%= javascript_include_tag "/frontend/js/script.js" %>

<%= javascript_include_tag "/frontend/js/ie10-viewport-bug-workaround.js" %>

<!-- revolution slider plugin -->
<%= javascript_include_tag "/frontend/js/rs-plugin/js/jquery.themepunch.tools.min.js" %>
<%= javascript_include_tag "/frontend/js/rs-plugin/js/jquery.themepunch.revolution.min.js" %>
<%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

<script type="text/javascript">
    var revapi;

    jQuery(document).ready(function() {

        revapi = jQuery('.tp-banner').revolution({

            dottedOverlay: "none",
            delay: 3000,
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,

            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,

            navigationType: "none",
            navigationArrows: "solo",
            navigationStyle: "",

            touchenabled: "on",
            onHoverStop: "on",

            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,


            keyboardNavigation: "on",

            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,

            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,

            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,

            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",

            spinner: "spinner0",

            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,

            shuffle: "off",

            forceFullWidth: "off",
            fullScreenAlignForce: "off",
            minFullScreenHeight: "400",

            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,

            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            fullScreenOffsetContainer: ""

        });

    }); //ready
</script>