<div class="pageWrapper">
    
    <!-- Top bar start -->
    <%= render "/home/top_bar" %>
    <!-- Top bar end -->
    
    <!-- Header start -->
    <header class="top-head minimal">
        <div class="container">
            
            <!-- Logo start -->
            <%= render "/home/logo" %>
            <!-- Logo end -->

            <div class="responsive-nav">
                
                <!-- top navigation menu start -->
                <%= render "/home/top_navigation_menu" %>
                <!-- top navigation menu end -->
                
                <div class="f-right">
                    <!-- top search start -->
                    <%= render "/home/top_search" %>
                    <!-- top search end -->
                </div>
                
            </div>
        </div>
    </header>
    <!-- Header start -->

    <!-- Content start -->
    <div class="pageContent">

        <div class="page-title lg-padding">
            <div class="container">
                <h1 class="t-center font-50 uppercase bolder">Welcome To <span class="main-color">Global Naturesoft</span></h1>
                <h3 class="t-center">Now you can check all our work and work in progress, it is amazing and Awesome.</h3>
            </div>
        </div>

        <div class="md-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-by style4">
                            <ul id="filters">
                                <li class="selected"><a href="#" class="filter" data-filter="*"><span>All</span></a></li>
                                <li><a href="#" class="filter" data-filter=".design"><span>Web Design</span></a></li>
                                <li><a href="#" class="filter" data-filter=".develop"><span>Web Development</span></a></li>
                                <li><a href="#" class="filter" data-filter=".computers"><span>Computers</span></a></li>
                            </ul>
                        </div>

                        <div class="portfolio masonry p-3-cols p-style3" id="masonry">
                            <% (1..6).each do |item| %>
                            <div class="portfolio-item design">
                                <figure>
                                    <img alt="" src="/frontend/assets/images/portfolio/grid/1.jpg">
                                    <figcaption>
                                        <div class="port-captions">
                                            <h4><%= link_to "Quality Products for Companies", portfolio_detail_path %></h4>
                                            <p class="description"><a href="#">Design</a>, <a href="#">Development</a></p>
                                        </div>
                                        <div class="icon-links">
                                            <%= link_to '<i class="fa fa-link"></i>'.html_safe, portfolio_detail_path, class: "link" %>
                                            <a href="/frontend/assets/images/portfolio/grid/1.jpg" class="zoom" title="Quality Products for Companies"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </figcaption>			
                                </figure>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-padding">
            <div class="container">

                <div class="heading style2">
                    <h4 class="uppercase">Some Of <span class="main-color">Our Clients</span></h4>
                </div>

                <div class="horizontal-slider" data-slides_count="6" data-scroll_amount="6" data-slider-speed="300" data-slider-infinite="1" data-slider-dots="1" data-slider-arrows="0">
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/1.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/2.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/3.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/4.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/5.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/6.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/7.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/8.png"></a>
                    </div>
                    <div>
                        <a href="#"><img alt="" src="frontend/assets/images/clients/9.png"></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Content start -->

    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->

</div>

<!-- Back to top Link -->
<a id="to-top" href="#"><span class="fa fa fa-angle-up"></span></a>

<%= render "/home/js_files" %>

<!-- SLIDER REVOLUTION  -->
<script type="text/javascript" src="/frontend/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/frontend/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript">
    var tpj = jQuery;
    var revapi429;
    tpj(window).load(function() {
        if (tpj("#rev_slider_429_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_429_1");
        } else {
            revapi429 = tpj("#rev_slider_429_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "/frontend/assets/revolution/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "vertical",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "vertical",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "metis",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: true,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    },
                    bullets: {
                        enable: false,
                        hide_onmobile: true,
                        hide_under: 778,
                        style: "hermes",
                        hide_onleave: false,
                        direction: "vertical",
                        h_align: "right",
                        v_align: "center",
                        h_offset: 20,
                        v_offset: 0,
                        space: 5,
                        tmp: ''
                    }
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1200, 1024, 768, 480],
                gridheight: [650, 650, 960, 720],
                lazyType: "smart",
                shadow: 0,
                spinner: "spinner2",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    disableFocusListener: false,
                }
            });
        }
    });
</script>