<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>

    
    <%= render "/home/header" %>
    <!-- end header -->

    
    <div class="clearfix"></div>

    
    <!-- Slider ======================================= -->

    <div class="slidermar">
        
        <div class="master-slider ms-skin-default" id="masterslider">

            <div class="ms-slide slide-1" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/01.jpg" alt="" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 160px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
                    
                    <strong>Build Your Dream Website with</strong>
                
                </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 196px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="300" data-ease="easeOutExpo">
                    
                    <strong><em>ARKA</em> Hosting</strong>
                
                </h4>

                <h5 class="ms-layer text3" style="left: 115px; top: 295px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="500" data-ease="easeOutExpo">
                    
                    Powerful and Cheap Web Hosting and Domains for your Website. <br /> Get Web Hosting and Receive a <em>FREE Domain Name!</em>
                
                </h5>

                <div class="ms-layer vline" style="left: 785px; top: 0px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">

                </div>

                <div class="ms-layer sbox1" style="left: 725px; top: 70px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">

                    Up to <br />
                    <strong>40% OFF</strong> <br /> Hosting &amp; <br /> Domains

                </div>

                <div class="ms-layer cirbox1" style="left: 740px; top: 210px;" data-type="text" data-effect="top(45)" data-duration="2500" data-delay="350" data-ease="easeOutExpo">

                    <span class="dncfont">Starts at</span><br /> $3.99 <em>/mo</em>

                </div>

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 390px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
                    
                    Get Started Now!
                    
                </a>

            </div>
            <!-- end slide 1 -->



            <div class="ms-slide slide-2" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/bg.jpg" alt="" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/02.png" alt="" style="left:810px; top:140px;" class="ms-layer" data-type="image" data-delay="0" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,100,0)" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 120px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
        <strong>AFFORDABLE Prices Hosting</strong>
        
    </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 156px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="300" data-ease="easeOutExpo">
        <strong><em>Unlimited</em> Host</strong>
        
    </h4>

                <h6 class="ms-layer" style="left: 115px; top: 265px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="500" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> Unlimited Web Space &amp; Data
    </h6>

                <h6 class="ms-layer" style="left: 115px; top: 300px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="600" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE Domain Name
    </h6>

                <h6 class="ms-layer" style="left: 115px; top: 335px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="700" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> 99.9% Uptime Guarantee
    </h6>


                <h6 class="ms-layer" style="left: 115px; top: 370px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="800" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE 24/7 Tech Support
    </h6>



                <h6 class="ms-layer" style="left: 405px; top: 265px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="500" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> cPanel Control Panel
    </h6>

                <h6 class="ms-layer" style="left: 405px; top: 300px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="600" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE Site Building Tools
    </h6>

                <h6 class="ms-layer" style="left: 405px; top: 335px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="700" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE Marketing &amp; SEO Tools
    </h6>


                <h6 class="ms-layer" style="left: 405px; top: 370px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="800" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> 30 Day Money Back Guarantee
    </h6>


                <div class="ms-layer cirbox1 colored" style="left: 820px; top: 110px;" data-type="text" data-effect="top(45)" data-duration="2500" data-delay="350" data-ease="easeOutExpo">

                    <span class="dncfont">Starts at</span><br /> $5.75 <em>/mo</em>

                </div>

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 430px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
        Get Started Now!
        
    </a>

            </div>
            <!-- end slide 2 -->



            <div class="ms-slide slide-3" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/bg.jpg" alt="" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/03.png" alt="" style="left:740px; top:95px;" class="ms-layer" data-type="image" data-delay="0" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,0,0)" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/04.png" alt="" style="right:70px; top:140px;" class="ms-layer" data-type="image" data-delay="200" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,70,0)" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 160px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
        <strong>Cloud Server great hosting</strong>
        
    </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 196px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="200" data-ease="easeOutExpo">
        <strong><em>cloud</em> Hosting</strong>
        
    </h4>

                <h5 class="ms-layer text3" style="left: 115px; top: 295px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="400" data-ease="easeOutExpo">
        Powerful and Cheap Web Hosting and Domains for your Website. <br /> Get Web Hosting and Receive a <em>FREE Domain Name!</em>
        
    </h5>

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 390px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
        Get Started Now!
        
    </a>

            </div>
            <!-- end slide 3 -->


            <div class="ms-slide slide-4" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/bg.jpg" alt="" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/05.png" alt="" style="right:140px; top:145px;" class="ms-layer" data-type="image" data-delay="0" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,-50,0)" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/06.png" alt="" style="right:110px; top:220px;" class="ms-layer" data-type="image" data-delay="200" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,70,0)" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 160px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
        <strong>Get your website online now!</strong>
        
    </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 196px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="200" data-ease="easeOutExpo">
        <strong><em>Website</em> Builder</strong>
        
    </h4>

                <h5 class="ms-layer text3" style="left: 115px; top: 295px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="400" data-ease="easeOutExpo">
        Powerful and Cheap Web Hosting and Domains for your Website. <br /> Get Web Hosting and Receive a <em>FREE Domain Name!</em>
        
    </h5>

                <div class="ms-layer cirbox1 colored" style="left: 810px; top: 100px;" data-type="text" data-effect="top(45)" data-duration="2500" data-delay="350" data-ease="easeOutExpo">

                    <span class="dncfont">Starts at</span><br /> $5.75 <em>/mo</em>

                </div>

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 390px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
        Get Started Now!
        
    </a>

            </div>
            <!-- end slide 4 -->


        </div>
    </div>
    <!-- end of masterslider -->


    <div class="clearfix"></div>


    <div class="domain_search">

        <div class="serch_area">
            <div class="container">
                <h5 class="white caps">Find your Perfect Domain Name:</h5>

                <form method="get" action="index.html">
                    <input class="enter_email_input" name="samplees" id="samplees" value="Enter your domain name here..." onFocus="if(this.value == 'Enter your domain name here...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Enter your domain name here...';}" type="text">
                    <input name="" value="Search Domain" class="input_submit" type="submit">
                </form>
            </div>
        </div>
        <!-- end section -->

        <div class="offers">
            <div class="container">
                <ul>
                    <li><strong>.com</strong> $5.75</li>
                    <li><strong>.net</strong> $9.45</li>
                    <li><strong>.org</strong> $7.50</li>
                    <li><strong>.us</strong> $5.99</li>
                    <li><strong>.biz</strong> $9.99</li>
                    <li class="last">
                        <p>* All prices<br />per annum</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- end domain search -->


    <div class="clearfix"></div>


    <div class="host_plans">
        <div class="container">

            <h1 class="caps"><strong>We are Announcing Perfect Package for you</strong>
<em>ARKAHOST Providing you with a hesitate free web hosting service we take words look the believable.</em></h1>

            <div class="clearfix margin_bottom3"></div>

            <div class="one_fourth_less animate" data-anim-type="fadeIn" data-anim-delay="100">
                <div class="planbox">

                    <div class="title">
                        <h4 class="caps"><strong>Starter</strong></h4></div>

                    <div class="prices">
                        <strong>$2.99<i>/M</i></strong> <b>Regularly <em>$4.99</em></b>
                        <a href="#">Sign Up</a>
                    </div>

                    <ul>
                        <li><strong>Unlimited</strong> Web Space</li>
                        <li><strong>FREE</strong> Site Building Tools</li>
                        <li><strong>FREE</strong> Domain Registar</li>
                        <li><strong>24/7/365</strong> Support </li>
                        <li><strong>FREE</strong> Marketing &amp; SEO Tools</li>
                        <li><strong>99.9%</strong> Service Uptime</li>
                        <li class="last"><strong>30 Day</strong> Money Back Guarantee</li>
                    </ul>

                </div>
            </div>
            <!-- end plan -->

            <div class="one_fourth_less animate" data-anim-type="fadeIn" data-anim-delay="200">
                <div class="planbox highlight">

                    <img src="/frontend/images/best-seller.png" alt="" class="hiimg" />

                    <div class="title">
                        <h4 class="caps"><strong>Business</strong></h4></div>

                    <div class="prices">
                        <strong>$9.75<i>/M</i></strong> <b>Regularly <em>$16.99</em></b>
                        <a href="#">Sign Up</a>
                    </div>

                    <ul>
                        <li><strong>Unlimited</strong> Web Space</li>
                        <li><strong>FREE</strong> Site Building Tools</li>
                        <li><strong>FREE</strong> Domain Registar</li>
                        <li><strong>24/7/365</strong> Support </li>
                        <li><strong>FREE</strong> Marketing &amp; SEO Tools</li>
                        <li><strong>99.9%</strong> Service Uptime</li>
                        <li class="last"><strong>30 Day</strong> Money Back Guarantee</li>
                    </ul>

                </div>
            </div>
            <!-- end plan -->

            <div class="one_fourth_less animate" data-anim-type="fadeIn" data-anim-delay="100">
                <div class="planbox">

                    <div class="title">
                        <h4 class="caps"><strong>Premium</strong></h4></div>

                    <div class="prices">
                        <strong>$45.50<i>/M</i></strong> <b>Regularly <em>$90.50</em></b>
                        <a href="#">Sign Up</a>
                    </div>

                    <ul>
                        <li><strong>Unlimited</strong> Web Space</li>
                        <li><strong>FREE</strong> Site Building Tools</li>
                        <li><strong>FREE</strong> Domain Registar</li>
                        <li><strong>24/7/365</strong> Support </li>
                        <li><strong>FREE</strong> Marketing &amp; SEO Tools</li>
                        <li><strong>99.9%</strong> Service Uptime</li>
                        <li class="last"><strong>30 Day</strong> Money Back Guarantee</li>
                    </ul>

                </div>
            </div>
            <!-- end plan -->

            <div class="one_fourth_less last animate" data-anim-type="fadeIn" data-anim-delay="200">
                <div class="planbox">

                    <div class="title">
                        <h4 class="caps"><strong>Dedicated</strong></h4></div>

                    <div class="prices">
                        <strong>$100<i>/M</i></strong> <b>Regularly <em>$200</em></b>
                        <a href="#">Sign Up</a>
                    </div>

                    <ul>
                        <li><strong>Unlimited</strong> Web Space</li>
                        <li><strong>FREE</strong> Site Building Tools</li>
                        <li><strong>FREE</strong> Domain Registar</li>
                        <li><strong>24/7/365</strong> Support </li>
                        <li><strong>FREE</strong> Marketing &amp; SEO Tools</li>
                        <li><strong>99.9%</strong> Service Uptime</li>
                        <li class="last"><strong>30 Day</strong> Money Back Guarantee</li>
                    </ul>

                </div>
            </div>
            <!-- end plan -->

        </div>
    </div>
    <!-- end hosting plans -->


    <div class="clearfix"></div>


    <div class="feature_section1">
        <div class="container">

            <h1 class="caps"><strong>What makes our hosting is Best?</strong></h1>

            <div class="clearfix margin_bottom3"></div>

            <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">
                <i class="fa fa-rocket"></i>
                <h4 class="light">99.9% Uptime Guarantee</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

                <div class="clearfix margin_bottom5"></div>

                <i class="fa fa-sliders"></i>
                <h4 class="light">Advanced Security Scan</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

                <div class="clearfix margin_bottom5"></div>

                <i class="fa fa-tachometer"></i>
                <h4 class="light">cPanel Control Panel</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

            </div>
            <!-- end section -->


            <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="300">
                <i class="fa fa-lightbulb-o"></i>
                <h4 class="light">One FREE Domain for Life</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

                <div class="clearfix margin_bottom5"></div>

                <i class="fa fa-sitemap"></i>
                <h4 class="light">Host Unlimited Domains</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

                <div class="clearfix margin_bottom5"></div>

                <i class="fa fa-bullhorn"></i>
                <h4 class="light">Free Website Transfer</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

            </div>
            <!-- end section -->


            <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="400">
                <i class="fa fa-database"></i>
                <h4 class="light">Unlimited Disk Space</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

                <div class="clearfix margin_bottom5"></div>

                <i class="fa fa-clock-o"></i>
                <h4 class="light">Free 24×7/365 Support</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

                <div class="clearfix margin_bottom5"></div>

                <i class="fa fa-usd"></i>
                <h4 class="light">30 Day Money-back Guarantee</h4>
                <p>Desktop publishing packages web page model and a for many web sites.</p>

            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end feature section 1 -->


    <div class="clearfix"></div>


    <div class="feature_section2">

        <div class="title">
            <h1 class="caps sitecolor"><strong>how to build your website Online Today?</strong></h1></div>

        <div class="twoboxes">
            <div class="container">

                <div class="left">

                    <i class="fa fa-desktop animate" data-anim-type="zoomIn" data-anim-delay="100"></i>
                    <strong class="animate" data-anim-type="fadeInRight" data-anim-delay="100"><em>Create your own website with our</em>
    Web site builder</strong>

                    <div class="clearfix"></div>

                    <ul>
                        <li><i class="fa fa-long-arrow-right"></i> Point One is many web sites still in their infancy various versions have evolved over the years.</li>

                        <li><i class="fa fa-long-arrow-right"></i> Point Two is desktop publishing software like include.</li>

                        <li><i class="fa fa-long-arrow-right"></i> Point Three is alteration in some form by humou or randomised
                            <div class="sitecolor">Starting at Just $99 only.</div>
                        </li>
                        <li><a href="#" class="button one">Read More</a></li>
                    </ul>

                </div>
                <!-- end left section -->


                <div class="right">

                    <i class="fa fa-map-o animate" data-anim-type="zoomIn" data-anim-delay="100"></i>
                    <strong class="animate" data-anim-type="fadeInRight" data-anim-delay="100"><em>Arka web hosting before you upload</em>
    host and domain</strong>

                    <div class="clearfix"></div>

                    <ul>
                        <li><i class="fa fa-long-arrow-right"></i> Point One is many web sites still in their infancy various versions have evolved over the years.</li>

                        <li><i class="fa fa-long-arrow-right"></i> Point Two is desktop publishing software like include.</li>

                        <li><i class="fa fa-long-arrow-right"></i> Point Three is alteration in some form by humou or randomised
                            <div class="sitecolor">Starting at Just $99 only.</div>
                        </li>
                        <li><a href="#" class="button one">Read More</a></li>
                    </ul>

                </div>
                <!-- end right section -->

            </div>
        </div>

    </div>
    <!-- end feature section 2 -->


    <div class="clearfix"></div>


    <div class="master-slider ms-skin-default" id="masterslider2">

        <div class="ms-slide slide-1" data-delay="12">

            <!-- slide background -->
            <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/video/video-bg.jpg" alt="" />
            <a href="https://www.youtube.com/embed/3UK8ARg_xm4" data-type="video">Trailer</a>

            <h3 class="ms-layer text3 two caps" style="left: 160px; top: 243px;" data-type="text" data-duration="1400" data-delay="300" data-ease="easeOutExpo" data-effect="top(40)">
                <strong>First Time Building?<br />
                Website, Domain or Hosting We Can Help.</strong>
            </h3>

            <h1 class="ms-layer text4 caps" style="left: 835px;top: 243px;" data-type="text" data-duration="1800" data-delay="300" data-ease="easeOutExpo" data-effect="bottom(40)">
                <strong>Watch videos to<br />
                know more</strong>
            </h1>

        </div>

    </div>
    <!-- end play video section -->


    <div class="clearfix"></div>


    <div class="feature_section3">
        <div class="container">

            <div class="one_half">

                <h2 class="caps">Latest News / Blogs</h2>

                <div class="clearfix margin_bottom1"></div>


                <div id="owl-demo13" class="owl-carousel">

                    <div class="lstblogs">
                        <div>
                            <a href="#"><img src="/frontend/images/site-img1.jpg" alt="" /></a>
                            <a href="#" class="date"><strong>12</strong> Aug</a>
                            <h4 class="white light"><a href="#" class="tcont">Galley of type and scrambled it to make typesets specimen book with the release sheets.</a> <div class="hline"></div></h4>
                        </div>
                    </div>
                    <!-- end this slide -->

                    <div class="lstblogs">
                        <div>
                            <a href="#"><img src="/frontend/images/site-img2.jpg" alt="" /></a>
                            <a href="#" class="date"><strong>11</strong> Aug</a>
                            <h4 class="white light"><a href="#" class="tcont">Desktop type and scrambled it to make typesets specimen book with the release sheets.</a> <div class="hline"></div></h4>
                        </div>
                    </div>
                    <!-- end this slide -->

                    <div class="lstblogs">
                        <div>
                            <a href="#"><img src="/frontend/images/site-img3.jpg" alt="" /></a>
                            <a href="#" class="date"><strong>10</strong> Aug</a>
                            <h4 class="white light"><a href="#" class="tcont">Packages of type and scrambled it to make specimen book with the release sheets.</a> <div class="hline"></div></h4>
                        </div>
                    </div>
                    <!-- end this slide -->

                </div>

            </div>
            <!-- end latest news / blogs section -->


            <div class="one_half last">

                <h2 class="caps">Have Questions?</h2>

                <div class="clearfix margin_bottom1"></div>

                <div id="st-accordion-six" class="st-accordion-six">

                    <ul>

                        <li>
                            <a href="#">3 Diffrent Hosting Websites<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>She packed her seven versalia, put her into the belt and made on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane over the years, sometimes by sometimes on purpose.</p>
                            </div>
                        </li>

                        <li>
                            <a href="#">Fully Responsive Well Structured<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            </div>
                        </li>

                        <li>
                            <a href="#">Free Support Free Lifetime Updates<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>O my friend - but it is too much for my strength - I sink under the weight of the splendour of these visions!</p>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                            </div>
                        </li>

                        <li>
                            <a href="#">Premium Sliders Portfolios and Forms<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?"</p>
                                <p>He thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </div>
    <!-- end feature section 3 -->


    <div class="clearfix"></div>


    <div class="parallax_section1">
        <div class="container">

            <h1 class="caps white"><strong>What more we offer</strong></h1>

            <div class="clearfix margin_bottom1"></div>

            <div class="tabs detached hide-title cross-fade">

                <section>
                    <h1><span>Hosting</span></h1>
                    <img src="/frontend/images/site-img5.png" alt="" />
                    <h2>Web hosting packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section id="nested-instance">
                    <h1><span>Websites</span></h1>
                    <img src="/frontend/images/site-img6.png" alt="" />
                    <h2>Website Builder packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section>
                    <h1><span>Domains</span></h1>
                    <img src="/frontend/images/site-img7.png" alt="" />
                    <h2>Domain packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section>
                    <h1><span>eCommerce</span></h1>
                    <img src="/frontend/images/site-img8.png" alt="" />
                    <h2>eCommerce packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

                <section>
                    <h1><span>Mobile</span></h1>
                    <img src="/frontend/images/site-img9.png" alt="" />
                    <h2>Mobile website packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br />
                    <a href="#" class="button two">Learn More</a>
                </section>
                <!-- end section -->

            </div>

        </div>
    </div>
    <!-- end parallax section 1 -->


    <div class="clearfix"></div>



    <div class="feature_section4">
        <div class="container">

            <div class="left animate" data-anim-type="fadeInLeft" data-anim-delay="100">
                <strong><em>Secure-Fast-Reliable</em>
    Shared Hosting</strong>
                <img src="/frontend/images/site-img10.png" alt="" />
                <h4 class="white light">All hosting features used tempalte</h4>
                <br />
                <a href="#" class="button three">Learn More</a>
            </div>
            <!-- end left -->

            <div class="center animate" data-anim-type="fadeIn" data-anim-delay="300">
                <strong><em>Trust Partner your Choice</em>
    Reseller Hosting</strong>
                <img src="/frontend/images/site-img11.png" alt="" />
                <h4 class="white light">All hosting features used tempalte</h4>
                <br />
                <a href="#" class="button three">Learn More</a>
            </div>
            <!-- end left -->

            <div class="right animate" data-anim-type="fadeInRight" data-anim-delay="100">
                <strong><em>Storing Resources</em>
    Cloud Computing</strong>
                <img src="/frontend/images/site-img12.png" alt="" />
                <h4 class="light">All hosting features used tempalte</h4>
                <br />
                <a href="#" class="button three dark">Learn More</a>
            </div>
            <!-- end left -->

        </div>
    </div>
    <!-- end featured section 4 -->


    <div class="clearfix"></div>

    <div class="parallax_section2">
        <div class="container">

            <h4 class="caps gray">More than 200,000 websites hosted</h4>
            <h1 class="caps"><strong>get your website online today</strong></h1>

            <div class="clearfix margin_bottom2"></div>

            <div class="counters12">

                <div class="one_fifth_less">
                    <h5 class="light">Projects</h5>
                    <h1 id="target31"></h1> </div>
                <!-- end section -->

                <div class="one_fifth_less">
                    <h5 class="light">Clients</h5>
                    <h1 id="target32"></h1> </div>
                <!-- end section -->

                <div class="one_fifth_less">
                    <h5 class="light">Awards</h5>
                    <h1 id="target33"></h1> </div>
                <!-- end section -->

                <div class="one_fifth_less">
                    <h5 class="light">Domains</h5>
                    <h1 id="target34"></h1> </div>
                <!-- end section -->

                <div class="one_fifth_less last">
                    <h5 class="light">Days</h5>
                    <h1 id="target35"></h1> </div>
                <!-- end section -->

            </div>

        </div>
    </div>
    <!-- end parallax section 2 -->


    <div class="clearfix"></div>
    <div class="margin_bottom9"></div>


    <div class="alicent">
        <h4 class="caps">More than 200,000 websites hosted</h4>
        <h1 class="caps"><strong>get your website online today</strong></h1></div>

    <div class="clearfix margin_bottom2"></div>


    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">

                    <div class="sl-div">
                        <a href="#">visit website</a>
                        <img src="/frontend/images/site-img14.jpg" alt="" /></a>
                    </div>
                    <!-- end section -->

                    <div class="sl-div">
                        <a href="#">visit website</a>
                        <img src="/frontend/images/site-img15.jpg" alt="" />
                    </div>
                    <!-- end section -->

                    <div class="sl-div">
                        <a href="#">visit website</a>
                        <img src="/frontend/images/site-img16.jpg" alt="" />
                    </div>
                    <!-- end section -->

                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end portfolio works section -->



    <div class="clearfix"></div>


    <div class="feature_section5">
        <div class="container">

            <div class="one_third">
                <img src="/frontend/images/site-img17.png" alt="" />
            </div>

            <div class="two_third last">
                <h3 class="caps"><strong>Over 100+ Free 1-Click App Installs</strong></h3>

                <ul>
                    <li><img src="/frontend/images/scripts-logo1.jpg" alt="" /></li>
                    <li><img src="/frontend/images/scripts-logo2.jpg" alt="" /></li>
                    <li><img src="/frontend/images/scripts-logo3.jpg" alt="" /></li>
                    <li><img src="/frontend/images/scripts-logo7.jpg" alt="" /></li>
                    
                    <li><img src="/frontend/images/scripts-logo5.jpg" alt="" /></li>
                    <li><img src="/frontend/images/scripts-logo4.jpg" alt="" /></li>
                    <li><img src="/frontend/images/scripts-logo11.png" alt="" /></li>
                    <li><img src="/frontend/images/scripts-logo12.png" alt="" /></li>
                </ul>

            </div>


        </div>
    </div>
    <!-- end featured section 5-->


    <div class="clearfix"></div>


    <div class="feature_section6">
        <div class="container">

            <h1 class="caps"><strong>why customers <i class="fa fa-heart sitecolor"></i> us!</strong></h1>

            <div class="clearfix margin_bottom1"></div>

            <div class="less6">
                <div id="owl-demo20" class="owl-carousel">

                    <div class="item">
                        <div class="climg"><img src="/frontend/images/peop-img39.jpg" alt="" /></div>
                        <p class="bigtfont dark">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy various versions have evolved over the years.</p>
                        <br />
                        <strong>- Michile Johnson</strong> &nbsp;<em>-website</em>
                        <p class="clearfix margin_bottom1"></p>
                    </div>
                    <!-- end slide -->

                    <div class="item">
                        <div class="climg"><img src="/frontend/images/peop-img40.jpg" alt="" /></div>
                        <p class="bigtfont dark">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy various versions have evolved over the years.</p>
                        <br />
                        <strong>- Desirae Karla</strong> &nbsp;<em>-website</em>
                        <p class="clearfix margin_bottom1"></p>
                    </div>
                    <!-- end slide -->

                    <div class="item">
                        <div class="climg"><img src="/frontend/images/peop-img37.jpg" alt="" /></div>
                        <p class="bigtfont dark">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here now use Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy various versions have evolved over the years.</p>
                        <br />
                        <strong>- Franklin Brice</strong> &nbsp;<em>-website</em>
                        <p class="clearfix margin_bottom1"></p>
                    </div>
                    <!-- end slide -->

                </div>
            </div>

        </div>
    </div>
    <!-- end featured section 5-->

    
    <div class="clearfix"></div>

    
    <%= render "/home/customer_showcase" %>
    <!-- end this logos -->


    <div class="clearfix"></div>

    
    <%= render "footer" %>
    <!-- end footer -->

    
    <div class="clearfix"></div>

    
    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>

<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- get jQuery used for the theme - only home page -->
<script src="/frontend/js/masterslider/masterslider.min.js"></script>
<script src="/frontend/js/loopslider/jquery.loopslider.js"></script>
<script src="/frontend/js/tabs2/index.js"></script>
<script>
    (function($) {
        "use strict";
        var slider = new MasterSlider();
        // adds Arrows navigation control to the slider.
        slider.control('arrows');
        slider.control('bullets');

        slider.setup('masterslider', {
            width: 1400, // slider standard width
            height: 580, // slider standard height
            space: 0,
            speed: 45,
            layout: 'fullwidth',
            loop: true,
            preload: 0,
            overPause: true,
            autoplay: true,
            view: "fade"
        });
    })(jQuery);
    var slider = new MasterSlider();
    slider.setup('masterslider2', {
        width: 1400, // slider standard width
        height: 580, // slider standard height
        space: 1,
        layout: 'fullwidth',
        loop: true,
        preload: 0,
        autoplay: true
    });
    (function($) {
        "use strict";
        $('.accordion, .tabs').TabsAccordion({
            hashWatch: true,
            pauseMedia: true,
            responsiveSwitch: 'tablist',
            saveState: sessionStorage,
        });

    })(jQuery);
    $('#slider').loopSlider({
        autoMove: true,
        mouseOnStop: true,
        turn: 9000,
        motion: 'swing',
        delay: 500,
        width: 750,
        height: 500,
        marginLR: 5,
        viewSize: 100,
        viewOverflow: 'visible',
        navPositionBottom: 30,
        navibotton: true,
        navbtnImage: ''
    }); 
</script>