<div class="pageWrap">

    <%= render "/home/tp_bar" %>
    <!-- /tp-bar -->

    <%= render "/home/main_bar" %>
    <!-- /main-bar -->

    <div class="tp-banner-container pattern-1">
        <div class="tp-banner">
            <ul>

                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">

                    <div class="tp-caption text-medium skewfromrightshort tp-resizeme rs-parallaxlevel-0" data-x="0" data-hoffset="0" data-y="center" data-voffset="-50" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-speed="1000" data-start="500" data-endspeed="300">the new fragrance for women
                    </div>
                    <div class="tp-caption text-larger customin customout start" data-x="0" data-hoffset="0" data-y="center" data-voffset="0" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-endspeed="300">ARABIC AROMAS
                    </div>

                    <div class="tp-caption text-medium customin randomrotateout tp-resizeme rs-parallaxlevel-1" data-x="left" data-hoffset="400" data-y="center" data-voffset="50" data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;" data-speed="500" data-start="1400" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">elegant scent
                    </div>

                    <div class="tp-caption lfr rs-parallaxlevel-2 side-image" data-x="right" data-y="top" data-speed="2000" data-start="1000" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: -1;">
                        <div class="rs-pulse" data-easing="Power4.easeInOut" data-speed="1" data-zoomstart="1" data-zoomend="1.1">
                            <img src="frontend/images/resource/dummy.png" data-lazyload="frontend/images/resource/img-slider-1.png" alt="image">
                        </div>
                    </div>

                </li>

                </li>
                <li data-transition="boxslide,slotslide-horizontal,slotslide-vertical,curtain-1,cube,cube-horizontal,flyin" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" class="slide1 slide3">
                    <!-- MAIN IMAGE -->
                    <img src="frontend/images/resource/img-slider-2.png" alt="slide3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lfl ltl tp-resizeme" data-x="721" data-y="154" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        <p class="text-left">the new fragrance for women</p>
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption lfr ltl tp-resizeme" data-x="725" data-y="203" data-speed="300" data-start="950" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="8650" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        <h1>Seductive Lady</h1>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption lft ltl tp-resizeme" data-x="1006" data-y="275" data-speed="300" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                        <p class="text-right">elegant scent</p>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltl tp-resizeme" data-x="728" data-y="337" data-speed="300" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><a class="btn btn-default slide_button" href="#"> START SHOPPING</a>
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="frontend/images/resource/img-slider-3.png" alt="slide4" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption black tp-fade tp-resizeme" data-x="656" data-y="185" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div class="slide1 slide4">
                            <p class="text-left">the new fragrance for women</p>
                            <h1> FORMAL AROMAS</h1>
                            <p class="text-right">elegant scent</p>
                            <a class="btn btn-default slide_button" href="#"> START SHOPPING</a>

                        </div>
                    </div>
                </li>
            </ul>

            <div class="tp-bannertimer"></div>

        </div>
        <!-- /tp-banner -->
    </div>
    <!-- /tp-banner-container -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center">
                        <div class="ad-box">
                            <div class="ad-box-text">
                                <p class="text-left">new women</p>
                                <h4>Perfume</h4>
                                <p class="text-right">Sales</p>
                                <span class="tick"><i class="flaticon-arrowhead7"></i></span>
                            </div>
                            <!-- /ad-box-inner -->
                            <figure><img src="frontend/images/resource/img-4.png" alt="image"></figure>
                            <a href="#"></a>
                        </div>
                        <!-- /ad-box -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <div class="ad-box">
                            <div class="ad-box-text">
                                <p class="text-left">new men</p>
                                <h4>Cologne</h4>
                                <p class="text-right">Sales</p>
                                <span class="tick"><i class="flaticon-arrowhead7"></i></span>
                            </div>
                            <!-- /ad-box-inner -->
                            <figure><img src="frontend/images/resource/img-3.png" alt="image"></figure>
                            <a href="#"></a>
                        </div>
                        <!-- /ad-box -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <div class="ad-box">
                            <div class="ad-box-text">
                                <p class="text-left">new women</p>
                                <h4>Perfume</h4>
                                <p class="text-right">Sales</p>
                                <span class="tick"><i class="flaticon-arrowhead7"></i></span>
                            </div>
                            <!-- /ad-box-inner -->
                            <figure><img src="frontend/images/resource/img-4.png" alt="image"></figure>
                            <a href="#"></a>
                        </div>
                        <!-- /ad-box -->
                    </div>
                </div>
            </div>

            <div class="features-list-box">
                <ul class="feautes-list">
                    <% Category.get_all_categories(params).each do |category| %>
                        <li><%= link_to category.name, { controller: "category", action: "index", category_id: category.id } %></li>
                    <% end %>
                </ul>
                <!-- /features-list -->
            </div>
            <!-- /features-list-box -->

            <div class="row">
                <% (1..12).each do |item| %>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail thumbnail-product">
                        <figure class="image-zoom">
                            <img src="frontend/images/resource/img-5.jpg" alt="image">
                        </figure>
                        <div class="caption text-center">
                            <h5><%= link_to "Son lì cực Hót Matte Charlotte Tilbury", product_detail_path %></h5>
                            <!-- /rating-star -->
                            <p class="prod-price text-primary">750.000 VNĐ</p>
                        </div>
                    </div>
                    <!-- /thumbail -->
                </div>
                <% end %>
            </div>
            <div class="features-list-box">
                <ul class="feautes-list">
                    <li><a href="#">Sản phẩm đa dạng</a></li>
                    <li><a href="#">Chất lượng đảm bảo</a></li>
                    <li><a href="#">Xuất xứ rõ ràng</a></li>
                    <li><a href="#">Hỗ trợ khách hàng 24/7</a></li>
                    <li><a href="#">Đa dạng nhà cung cấp</a></li>
                </ul>
            </div>
            <!-- /features-list-box -->
        </div>
        <!-- /container -->
    </section>
    <!-- /section -->

    <section class="section-sales section-image" style="background-image:url(frontend/images/resource/bgImg-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-push-3 col-md-6 col-md-push-6 col-lg-5 col-lg-push-7 ">
                    <div class="promotion-box">
                        <div class="text">
                            <h4>Bath and Body</h4>
                            <h3>Sale</h3>
                            <h4>Save upto <strong>70%</strong></h4>
                        </div>
                        <a href="promotions.html" class="btn btn-default text-uppercase">Start Shopping</a>
                    </div>
                    <!-- /promotion-box -->
                </div>
            </div>
        </div>
    </section>

    <section class="section pattern-1">
        <div class="container">
            <header class="heading-2">
                <h3>
                <em>Bài viết</em>
                <span>mới nhất</span>
            </h3>
            </header>
            <!-- /heading-2 -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail thumbnail-blog">
                        <figure class="image-zoom">
                            <img src="frontend/images/resource/img-9.jpg" alt="image">
                        </figure>
                        <div class="caption text-center">
                            <ul class="meta-post">
                                <li>perfume packaging</li>
                                <li>january 5, 2015</li>
                            </ul>
                            <!-- /meta-post -->
                            <h4 class="text-uppercase"><a href="blog-single.html">beautiful women perfume</a></h4>
                            <p>Lorem ipsum dolor sit amt, consectetur adipiscin elit. Morbi tempor malesuada lectus sed esuani da. Donec lectus leo, consectetur conat <a href="blog-single.html" class="text-primary">[...]</a></p>
                        </div>
                    </div>
                    <!-- /thumbail -->
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail thumbnail-blog">
                        <figure class="image-zoom">
                            <img src="frontend/images/resource/img-10.jpg" alt="image">
                        </figure>
                        <div class="caption text-center">
                            <ul class="meta-post">
                                <li>black ribbon</li>
                                <li>january 4, 2015</li>
                            </ul>
                            <!-- /meta-post -->
                            <h4 class="text-uppercase"><a href="blog-single.html">ribbon around perfume</a></h4>
                            <p>Vivamus vel consectetur metus, quis tincidunt felis. Morbi pulvinar id arcu tristique dictum. Phasellus condimentum eget lorem vitae <a href="blog-single.html" class="text-primary">[...]</a></p>
                        </div>
                    </div>
                    <!-- /thumbail -->
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail thumbnail-blog">
                        <figure class="image-zoom">
                            <img src="frontend/images/resource/img-11.jpg" alt="image">
                        </figure>
                        <div class="caption text-center">
                            <ul class="meta-post">
                                <li>yellow flowered</li>
                                <li>january 3, 2015</li>
                            </ul>
                            <!-- /meta-post -->
                            <h4 class="text-uppercase"><a href="blog-single.html">flowered perfume</a></h4>
                            <p>Ut ac velit quam. Ut est ipsum, eleifend nec laoreet sed, elementum vel velit. Nunc ligula lectus, tempor sed diam bibendum, semper <a href="blog-single.html" class="text-primary">[...]</a></p>
                        </div>
                    </div>
                    <!-- /thumbail -->
                </div>
            </div>
        </div>
    </section>

    <%= render "/home/footer" %>
    
</div>
<!-- /pageWrap -->

<div class="preloader-container">
    <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
        <div class="object" id="object_big"></div>
    </div>
    <!-- /loading-center-absolute -->
</div>
<!-- /preloader-container -->


<!-- /newsletter-holder -->
<div class="newsletter-cover"></div>


<!-- JavaScript
================================================== -->
<%= javascript_include_tag "/frontend/js/plugins.js" %>
<%= javascript_include_tag "/frontend/js/script.js" %>

<%= javascript_include_tag "/frontend/js/ie10-viewport-bug-workaround.js" %>

<!-- revolution slider plugin -->
<%= javascript_include_tag "/frontend/js/rs-plugin/js/jquery.themepunch.tools.min.js" %>
<%= javascript_include_tag "/frontend/js/rs-plugin/js/jquery.themepunch.revolution.min.js" %>
<%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

<script type="text/javascript">
    var revapi;

    jQuery(document).ready(function() {

        revapi = jQuery('.tp-banner').revolution({

            dottedOverlay: "none",
            delay: 9000,
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,

            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,

            navigationType: "none",
            navigationArrows: "solo",
            navigationStyle: "",

            touchenabled: "on",
            onHoverStop: "on",

            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,


            keyboardNavigation: "on",

            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,

            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,

            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,

            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",

            spinner: "spinner0",

            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,

            shuffle: "off",

            forceFullWidth: "off",
            fullScreenAlignForce: "off",
            minFullScreenHeight: "400",

            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,

            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            fullScreenOffsetContainer: ""

        });

    }); //ready
</script>