<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>

    
    <%= render "/home/header" %>
    <!-- end header -->

    
    <div class="clearfix"></div>

    
    <!-- Slider ======================================= -->

    <div class="slidermar">
        
        <div class="master-slider ms-skin-default" id="masterslider">

            <div class="ms-slide slide-1" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/01.jpg" alt="" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 160px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
                    
                    <strong>Our expertise</strong>
                
                </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 196px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="300" data-ease="easeOutExpo">
                    
                    <strong><em>E-Commerce</em> </strong>
                
                </h4>

                <h5 class="ms-layer text3" style="left: 115px; top: 295px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="500" data-ease="easeOutExpo">
                    
                    Our expertise ranges from developing custom eCommerce websites,<br />
                    implementing eCommerce capabilities to existing websites and applications,<br />
                    or customizing popular eCommerce platforms to your design needs and requirements. <em></em>
                
                </h5>

                <!--<div class="ms-layer vline" style="left: 785px; top: 0px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">

                </div>

                <div class="ms-layer sbox1" style="left: 725px; top: 70px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">

                    Up to <br />
                    <strong>40% OFF</strong> <br /> Hosting &amp; <br /> Domains

                </div>

                <div class="ms-layer cirbox1" style="left: 740px; top: 210px;" data-type="text" data-effect="top(45)" data-duration="2500" data-delay="350" data-ease="easeOutExpo">

                    <span class="dncfont">Starts at</span><br /> $3.99 <em>/mo</em>

                </div>-->

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 390px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
                    
                    Get Started Now!
                    
                </a>

            </div>
            <!-- end slide 1 -->



            <div class="ms-slide slide-2" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/bg.jpg" alt="" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/02.png" alt="" style="left:810px; top:140px;" class="ms-layer" data-type="image" data-delay="0" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,100,0)" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 120px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
        <strong>AFFORDABLE Prices Hosting</strong>
        
    </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 156px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="300" data-ease="easeOutExpo">
        <strong><em>Unlimited</em> Host</strong>
        
    </h4>

                <h6 class="ms-layer" style="left: 115px; top: 265px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="500" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> Unlimited Web Space &amp; Data
    </h6>

                <h6 class="ms-layer" style="left: 115px; top: 300px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="600" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE Domain Name
    </h6>

                <h6 class="ms-layer" style="left: 115px; top: 335px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="700" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> 99.9% Uptime Guarantee
    </h6>


                <h6 class="ms-layer" style="left: 115px; top: 370px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="800" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE 24/7 Tech Support
    </h6>



                <h6 class="ms-layer" style="left: 405px; top: 265px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="500" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> cPanel Control Panel
    </h6>

                <h6 class="ms-layer" style="left: 405px; top: 300px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="600" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE Site Building Tools
    </h6>

                <h6 class="ms-layer" style="left: 405px; top: 335px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="700" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> FREE Marketing &amp; SEO Tools
    </h6>


                <h6 class="ms-layer" style="left: 405px; top: 370px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="800" data-ease="easeOutExpo">
        <i class="fa fa-check"></i> 30 Day Money Back Guarantee
    </h6>


                <div class="ms-layer cirbox1 colored" style="left: 820px; top: 110px;" data-type="text" data-effect="top(45)" data-duration="2500" data-delay="350" data-ease="easeOutExpo">

                    <span class="dncfont">Starts at</span><br /> 36.000vnđ <em>/month</em>

                </div>

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 430px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
        Get Started Now!
        
    </a>

            </div>
            <!-- end slide 2 -->



            <div class="ms-slide slide-3" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/bg.jpg" alt="" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/03.png" alt="" style="left:740px; top:95px;" class="ms-layer" data-type="image" data-delay="0" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,0,0)" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/04.png" alt="" style="right:70px; top:140px;" class="ms-layer" data-type="image" data-delay="200" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,70,0)" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 160px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
        <strong>Web-based Software Development</strong>
        
    </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 196px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="200" data-ease="easeOutExpo">
        <strong><em>website</em> application</strong>
        
    </h4>

                <h6 class="ms-layer" style="left: 115px; top: 265px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="500" data-ease="easeOutExpo">
            <i class="fa fa-check"></i> Innovative Solutions
        </h6>

                <h6 class="ms-layer" style="left: 115px; top: 300px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="600" data-ease="easeOutExpo">
            <i class="fa fa-check"></i> Fast Time to Market
        </h6>

                <h6 class="ms-layer" style="left: 115px; top: 335px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="700" data-ease="easeOutExpo">
            <i class="fa fa-check"></i> Cost-Effective Solutions
        </h6>

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 390px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
        Get Started Now!
        
    </a>

            </div>
            <!-- end slide 3 -->


            <div class="ms-slide slide-4" data-delay="5">

                <div class="slide-pattern"></div>

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/bg.jpg" alt="" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/05.png" alt="" style="right:140px; top:145px;" class="ms-layer" data-type="image" data-delay="0" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,-50,0)" />

                <img src="/frontend/js/masterslider/blank.gif" data-src="/frontend/images/sliders/master/06.png" alt="" style="right:110px; top:220px;" class="ms-layer" data-type="image" data-delay="200" data-duration="2000" data-ease="easeOutExpo" data-effect="scalefrom(1.1,1.1,70,0)" />

                <h3 class="ms-layer text1 caps" style="left: 115px; top: 160px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="0" data-ease="easeOutExpo">
        <strong>Get your website!</strong>
        
    </h3>

                <h4 class="ms-layer text2 caps" style="left: 115px; top: 196px;" data-type="text" data-effect="top(45)" data-duration="1800" data-delay="200" data-ease="easeOutExpo">
        <strong><em>Website</em> Development</strong>
        
    </h4>

                <h5 class="ms-layer text3" style="left: 115px; top: 295px;" data-type="text" data-effect="bottom(45)" data-duration="1800" data-delay="400" data-ease="easeOutExpo">
        We understand that a great website starts with a great design, our<br />
        consultants will work with you to gather your design requirements and <br />
        expectations. We guarantee a website design you’ll love, or your money back.
        
    </h5>

                <a href="#" class="ms-layer sbut1" style="left: 115px; top: 390px;" data-type="text" data-delay="700" data-ease="easeOutExpo" data-duration="1800" data-effect="scale(1.5,1.6)">
        Get Started Now!
        
    </a>

            </div>
            <!-- end slide 4 -->


        </div>
    </div>
    <!-- end of masterslider -->


    <div class="clearfix"></div>


    <div class="parallax_section1">
        <div class="container">

            <h1 class="caps alicent"><strong>What do we offer?</strong></h1>

            <div class="clearfix margin_bottom1"></div>

            <div class="tabs detached hide-title cross-fade">
                
                <section id="nested-instance">
                    <h1><span>Website</span></h1>
                    <img src="/frontend/images/main-services-website-development.png" alt="" />
                    <h2>Website Builder packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark text-justify">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br /><br />
                    <%= link_to "Learn More", services_sub_1_path, class: "button two" %>
                </section>
                <!-- end section -->
                
                <section>
                    <h1><span>Software Development</span></h1>
                    <img src="/frontend/images/main-services-software-development.png" alt="" />
                    <h2>eCommerce packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark text-justify">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br /><br />
                    <%= link_to "Learn More", services_sub_2_path, class: "button two" %>
                </section>
                <!-- end section -->
                
                <section>
                    <h1><span>Email Marketing</span></h1>
                    <img src="/frontend/images/main-services-email-marketing.jpg" alt="" />
                    <h2>Mobile website packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark text-justify">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br /><br />
                    <%= link_to "Learn More", services_sub_8_path, class: "button two" %>
                </section>
                <!-- end section -->
                
                <section>
                    <h1><span>Domains & Hosting</span></h1>
                    <img src="/frontend/images/main-services-domains-hosting.jpg" alt="" />
                    <h2>Domain packages provide quality web hosting with unlimited resources.</h2>
                    <p class="bigtfont dark text-justify">Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy also the leap into electronic typesetting, remaining essentially was in the with the release of sheets versions over the years.</p>
                    <br /><br />
                    <%= link_to "Learn More", domains_hosting_path, class: "button two" %>
                </section>
                <!-- end section -->

            </div>

        </div>
    </div>
    <!-- end parallax section 1 -->


    <div class="clearfix"></div>
    <div class="margin_bottom9"></div>


    <div class="alicent">
        
        <h1 class="caps"><strong>recent works</strong></h1>
    
    </div>

    <div class="clearfix margin_bottom2"></div>


    <div id="slider-outline">

        <div id="slider">

            <div id="sl-view" class="clearfix">

                <div id="sl-wrap">
                    
                    <% @projects.each do |item| %>
                        
                        <div class="sl-div">
                            
                            <%= link_to "View Detail", work_detail_path(project_id: item) %>
                            
                            <img src="<%= item.image_url.fill_small %>" alt="<%= item.name %>" /></a>
                        
                        </div>
                       
                        <!-- end section -->
                    
                    <% end %>

                </div>

            </div>

            <div id="sl-next"><span>&raquo;</span></div>
            <div id="sl-prev"><span>&laquo;</span></div>

        </div>

    </div>
    <!-- end portfolio works section -->

    <div class="clearfix"></div>
    
    <div class="feature_section5">
        
        <div class="container">

            <ul>
                <li><img src="/frontend/images/scripts-logo12.png" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo11.png" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo1.jpg" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo2.jpg" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo3.jpg" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo7.jpg" alt="" /></li>
                
                <li><img src="/frontend/images/scripts-logo8.jpg" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo4.jpg" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo10.png" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo5.jpg" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo6.jpg" alt="" /></li>
                <li><img src="/frontend/images/scripts-logo9.jpg" alt="" /></li>
                
            </ul>
            
        </div>
        
    </div>
    <!-- end featured section 5-->
 
    <%= render "footer" %>
    <!-- end footer -->

    <div class="clearfix"></div>

    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>

<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- get jQuery used for the theme - only home page -->
<script src="/frontend/js/masterslider/masterslider.min.js"></script>
<script src="/frontend/js/loopslider/jquery.loopslider.js"></script>
<script src="/frontend/js/tabs2/index.js"></script>
<script>
    (function($) {
        "use strict";
        var slider = new MasterSlider();
        // adds Arrows navigation control to the slider.
        slider.control('arrows');
        slider.control('bullets');

        slider.setup('masterslider', {
            width: 1400, // slider standard width
            height: 580, // slider standard height
            space: 0,
            speed: 45,
            layout: 'fullwidth',
            loop: true,
            preload: 0,
            overPause: true,
            autoplay: true,
            view: "fade"
        });
    })(jQuery);
    var slider = new MasterSlider();
    slider.setup('masterslider2', {
        width: 1400, // slider standard width
        height: 580, // slider standard height
        space: 1,
        layout: 'fullwidth',
        loop: true,
        preload: 0,
        autoplay: true
    });
    (function($) {
        "use strict";
        $('.accordion, .tabs').TabsAccordion({
            hashWatch: true,
            pauseMedia: true,
            responsiveSwitch: 'tablist',
            saveState: sessionStorage,
        });

    })(jQuery);
    $('#slider').loopSlider({
        autoMove: true,
        mouseOnStop: true,
        turn: 9000,
        motion: 'swing',
        delay: 500,
        width: 750,
        height: 500,
        marginLR: 5,
        viewSize: 100,
        viewOverflow: 'visible',
        navPositionBottom: 30,
        navibotton: true,
        navbtnImage: ''
    }); 
</script>