<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>

    <div class="page-title-container style4">
        <div class="container">
            <div class="page-title">
                <h2 class="entry-title">Sitemap</h2>
            </div>
            <ul class="breadcrumbs">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li class="active">Sitemap</li>
            </ul>
        </div>
    </div>

    <section id="content">
				<div class="container">
						<div id="main" class="sitemap">
								<div class="row add-clearfix">
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Trang Chủ</h6>
														<ul class="circle">
																<li><%= link_to "Trang Chủ", root_path %></li>
														</ul>
												</div>
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Về Chúng Tôi</h6>
														<ul class="circle">
																<li><%=link_to "Giới Thiệu", about_us_path %></li>
																<li><%=link_to "Liên Hệ", contact_path %></li>
																<li><%=link_to "Hình Ảnh Hoạt Động", activities_photos_path %></li>
														</ul>
												</div>
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Tin Tức</h6>
														<ul class="circle">
																<li><%= link_to "Cẩm Nang Du Lịch", tour_handbook_path %></li>
																<li><%= link_to "Tin Tức Du Lịch", travel_news_path %></li>
																<li><%= link_to "Tổ Chức Sự Kiện", event_path %></li>
														</ul>
												</div>
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Khách Hàng</h6>
														<ul class="circle">
																<li><%= link_to "Chính sách thanh toán", info_system_1_path %></li>
																<li><%= link_to "Chính sách đổi trả & hoàn tiền", info_system_2_path %></li>
																<li><%= link_to "Chính sách bảo mật thông tin khách hàng", info_system_3_path %></li>
																<li><%= link_to "Chính sách giải quyết tranh chấp, khiếu nại", info_system_4_path %></li>
																<li><%= link_to "Điều khoản mua bán hàng hóa", info_system_5_path %></li>
														</ul>
												</div>
										</div>
								</div>
								<div class="row">
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Tour Du Lịch</h6>
														<ul class="circle">
																<li><%= link_to "Tour Giá Sock", hot_tours_path %></li>
																<li><%= link_to "Tour Khuyến Mãi", deal_tours_path %></li>
																<li><%= link_to "Tour Trong Nước", domestic_tour_path %></li>
																<li><%= link_to "Tour Nước Ngoài", foreign_tour_path %></li>
																<li><%= link_to "Giá Hot Tour Đoàn", booking_tour_group_path %></li>
																<li><%= link_to "Danh Sách Tour Du Lịch", tour_path %></li>
																<li><%= link_to "Bảng Giá Tour Du Lịch", tour_pricing_path %></li>
														</ul>
												</div>
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Thuê Xe</h6>
														<ul class="circle">
																<li><%= link_to "Thuê Xe Ô Tô", car_hire_path %></li>
																<% ArticleCategory.get_menu_services.each do |service| %>
																<% service.children.order("created_at ASC").each do |child_1| %>
																<% if child_1.description == "car_hire" %>
																<% child_1.children.order("created_at ASC").each do |child_2| %>
																<li><%= link_to child_2.name, car_grid_view_path(car_category_id: child_2, car_category_name: child_2.url_friendly) %></li>
																<% end %>
																<% end %>
																<% end %>
																<% end %>
														</ul>
												</div>
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Khách Sạn</h6>
														<ul class="circle">
																<li><%=link_to "Đặt Phòng Khách Sạn", hotel_listing_path %></li>
																<li><%=link_to "Đặt Phòng Nhanh", quick_booking_hotel_path %></li>
														</ul>
												</div>
										</div>
										<div class="col-xs-6 col-sm-4 col-md-3">
												<div class="column">
														<h6 class="title">Vé Máy Bay & Visa</h6>
														<ul class="circle">
																<li><%= link_to "Đặt Vé Máy Bay", plane_ticket_booking_path %></li>
																<li><%= link_to "Làm Thẻ Visa", visa_card_path %></li>
														</ul>
												</div>
										</div>
								</div>
						</div>
				</div>
		</section>

    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>