<p>-------- NewDiscovery.vn - Đăng Ký Phòng Khách Sạn --------</p>
<p>Họ & Tên: <%= @booking_hotel.full_name %></p>
<p>Email: <%= @booking_hotel.email %></p>
<p>Số điện thoại: <%= @booking_hotel.phone %></p>
<p>Địa chỉ: <%= @booking_hotel.address %></p>
<p>ID/Passport: #<%= @booking_hotel.passport %></p>
<p>Ngày nhận phòng: <%= @booking_hotel.date_from.strftime("%d/%m/%Y") %></p>
<p>Ngày giao phòng: <%= @booking_hotel.date_to.strftime("%d/%m/%Y") %></p>
<p>Số người lớn: <%= @booking_hotel.adult %></p>
<p>Số trẻ em: <%= @booking_hotel.child %></p>
<p>Số phòng cần đặt: <%= @booking_hotel.room_number %></p>
<p>Loại phòng: <%= @booking_hotel.hotel_room_name %></p>
<p>Lời nhắn: <%= @booking_hotel.message.html_safe %></p>
<p>Ngày gửi: <%= @booking_hotel.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %> (GMT+07:00)</p>