<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty7">

        <h1>FIND YOUR PERFECT DOMAIN NAME.
        <em>Register your perfect domain name today.</em></h1>

        <div class="serch_area">
            
            <% if params[:enter_domain_name].present? %>
            
                <% if @domain_name == "0" %>
                
                    <div id="div2" class="successmes">
                        <div class="message-box-wrap">
                        <a class="close-but" id="colosebut2">close</a> <strong><%= params[:enter_domain_name] %></strong> is available.</div>
                    </div>
                    <br/>
                    
                <% end %>
                
                <% if @domain_name == "1" %>
                    <div id="div4" class="errormes">
                        <div class="message-box-wrap">
                            <a class="close-but" id="colosebut4">close</a> <strong><%= params[:enter_domain_name] %></strong> is already registered.</div>
                    </div>
                    <br/>
                <% end %>
                
            <% end %>
            
            <%= form_for("", url: {controller: 'domains', action: 'index'}, html: {id: 'enter_domain_name'}, method: "get") do |f| %>
                <%= text_field_tag :enter_domain_name, nil, class: "enter_email_input required", placeholder: "Enter your domain name here..." %>
                <input name="" value="Search Domain" class="input_submit" type="submit">
            <% end %>
            
            <br />
            <div class="molinks"><a href="#"><i class="fa fa-caret-right"></i> Domain Name Search - Advanced Domain Search Tool</a></div>
        </div>
        <!-- end section -->

    </div>
    <!-- end search section -->


    <div class="clearfix"></div>


    <div class="feature_section10">
        <div class="container">

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.biz</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>$4.50</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.club</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>$7.95</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.wales</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>$9.75</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.co.uk</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>$18.25</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less last">
                <div class="box">
                    <h1 class="sitecolor"><strong>.mobi</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>$12.99</strong><em>/year</em></h1>
                </div>
            </div>

        </div>
    </div>
    <!-- end featured section 10 -->


    <div class="clearfix"></div>


    <div class="feature_section12">
        <div class="container">

            <div class="one_fourth">

                <i class="fa fa-check"></i>
                <h4 class="light">Easy Domain Setup No Technical Skills</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Free Email Address - Forwarding</h4>

            </div>
            <!-- end section -->

            <div class="one_fourth">

                <i class="fa fa-check"></i>
                <h4 class="light">FREE Domain Privacy Protection</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Unlimited Sub Domains</h4>

            </div>
            <!-- end section -->

            <div class="one_fourth">

                <i class="fa fa-check"></i>
                <h4 class="light">Advanced DNS Controls</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Multi-Year Registration</h4>

            </div>
            <!-- end section -->

            <div class="one_fourth last">

                <i class="fa fa-check"></i>
                <h4 class="light">Domain Locking &amp; Forwarding</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Free 24×7/365 Support</h4>

            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 12 -->


    <div class="clearfix"></div>


    <div class="feature_section11">
        <div class="container">

            <h1 class="caps"><strong>Domain Pricing</strong></h1>
            <h5 class="less1 light">Normal distribution of letters, as opposed to using making it look like readable english many desktop publishing packages and web page editors now use model text and a search for many web sites.</h5>

            <div class="clearfix margin_bottom5"></div>

            <ul class="tabs">
                <li class="active">.VN (Vietnam Domains)</li>
                <li>International Domains</li>
            </ul>

            <ul class="tab__content">

                <li class="active">
                    <div class="content__wrapper">

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Domain Extension</strong></h6></li>
                            <li><strong>.com</strong></li>
                            <li><strong>.net</strong></li>
                            <li><strong>.co.uk</strong></li>
                            <li><strong>.email</strong></li>
                            <li><strong>.today</strong></li>
                            <li><strong>.guru</strong></li>
                            <li><strong>.org</strong></li>
                            <li><strong>.info</strong></li>
                            <li><strong>.photos</strong></li>
                            <li><strong>.asia</strong></li>
                            <li><strong>.deals</strong></li>
                            <li><strong>.in</strong></li>
                            <li><strong>.mobi</strong></li>
                            <li><strong>.jobs</strong></li>
                            <li><strong>.name</strong></li>
                            <li><strong>.biz</strong></li>
                            <li><strong>.me</strong></li>
                            <li><strong>.co</strong></li>
                            <li><strong>.host</strong></li>
                            <li><strong>.gallery</strong></li>
                            <li><strong>.tv</strong></li>
                            <li><strong>.org.au</strong></li>
                            <li><strong>.ca</strong></li>
                            <li><strong>.it</strong></li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Phí khởi tạo</strong></h6></li>
                            <li><em>$12.75</em> $9.75</li>
                            <li><em>$12.75</em> $9.75</li>
                            <li>$12.75</li>
                            <li><em>$9.75</em> $5.75</li>
                            <li><em>$18.99</em> $14.99</li>
                            <li><em>$14.99</em> $12.99</li>
                            <li><em>$12.99</em> $9.99</li>
                            <li><em>$9.50</em> $7.50</li>
                            <li><em>$20.99</em> $14.99</li>
                            <li>$27.99</li>
                            <li>$25.99</li>
                            <li>.$12.99</li>
                            <li><em>$14.99</em> $10.99</li>
                            <li>$5.00</li>
                            <li>$12.50</li>
                            <li><em>$25.99</em> $18.99</li>
                            <li><em>$28.50</em> $22.50</li>
                            <li>$3.99</li>
                            <li><em>$12.99</em> $9.99</li>
                            <li><em>$16.00</em> $14.00</li>
                            <li>$27.50</li>
                            <li><em>$18.99</em> $16.99</li>
                            <li><em>$9.99</em> $5.99</li>
                            <li><em>$12.50</em> $7.50</li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Phí duy trì / năm</strong></h6></li>
                            <li><em>$12.75</em> $19.50</li>
                            <li><em>$12.75</em> $19.50</li>
                            <li>$25.50</li>
                            <li><em>$9.75</em> $11.50</li>
                            <li><em>$18.99</em> $28.99</li>
                            <li><em>$14.99</em> $24.99</li>
                            <li><em>$12.99</em> $18.99</li>
                            <li><em>$9.50</em> $15.00</li>
                            <li><em>$20.99</em> $28.99</li>
                            <li>$55.00</li>
                            <li>$50.99</li>
                            <li>.$24.99</li>
                            <li><em>$14.99</em> $20.99</li>
                            <li>$10.00</li>
                            <li>$25.00</li>
                            <li><em>$25.99</em> $36.99</li>
                            <li><em>$28.50</em> $45.00</li>
                            <li>$7.00</li>
                            <li><em>$12.99</em> $18.99</li>
                            <li><em>$16.00</em> $24.00</li>
                            <li>$55.00</li>
                            <li><em>$18.99</em> $32.99</li>
                            <li><em>$9.99</em> $10.99</li>
                            <li><em>$12.50</em> $15.00</li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Free with Unlimited Hosting</strong></h6></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                        </ul>
                        <!-- end section -->

                    </div>
                </li>
                <!-- end tab 1 -->

                <li>
                    <div class="content__wrapper">

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Domain Extension</strong></h6></li>
                            <li><strong>.com</strong></li>
                            <li><strong>.net</strong></li>
                            <li><strong>.co.uk</strong></li>
                            <li><strong>.email</strong></li>
                            <li><strong>.today</strong></li>
                            <li><strong>.guru</strong></li>
                            <li><strong>.org</strong></li>
                            <li><strong>.info</strong></li>
                            <li><strong>.photos</strong></li>
                            <li><strong>.asia</strong></li>
                            <li><strong>.deals</strong></li>
                            <li><strong>.in</strong></li>
                            <li><strong>.mobi</strong></li>
                            <li><strong>.jobs</strong></li>
                            <li><strong>.name</strong></li>
                            <li><strong>.biz</strong></li>
                            <li><strong>.me</strong></li>
                            <li><strong>.co</strong></li>
                            <li><strong>.host</strong></li>
                            <li><strong>.gallery</strong></li>
                            <li><strong>.tv</strong></li>
                            <li><strong>.org.au</strong></li>
                            <li><strong>.ca</strong></li>
                            <li><strong>.it</strong></li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Phí khởi tạo</strong></h6></li>
                            <li><em>$12.75</em> $9.75</li>
                            <li><em>$12.75</em> $9.75</li>
                            <li>$12.75</li>
                            <li><em>$9.75</em> $5.75</li>
                            <li><em>$18.99</em> $14.99</li>
                            <li><em>$14.99</em> $12.99</li>
                            <li><em>$12.99</em> $9.99</li>
                            <li><em>$9.50</em> $7.50</li>
                            <li><em>$20.99</em> $14.99</li>
                            <li>$27.99</li>
                            <li>$25.99</li>
                            <li>.$12.99</li>
                            <li><em>$14.99</em> $10.99</li>
                            <li>$5.00</li>
                            <li>$12.50</li>
                            <li><em>$25.99</em> $18.99</li>
                            <li><em>$28.50</em> $22.50</li>
                            <li>$3.99</li>
                            <li><em>$12.99</em> $9.99</li>
                            <li><em>$16.00</em> $14.00</li>
                            <li>$27.50</li>
                            <li><em>$18.99</em> $16.99</li>
                            <li><em>$9.99</em> $5.99</li>
                            <li><em>$12.50</em> $7.50</li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Phí duy trì / năm</strong></h6></li>
                            <li><em>$12.75</em> $19.50</li>
                            <li><em>$12.75</em> $19.50</li>
                            <li>$25.50</li>
                            <li><em>$9.75</em> $11.50</li>
                            <li><em>$18.99</em> $28.99</li>
                            <li><em>$14.99</em> $24.99</li>
                            <li><em>$12.99</em> $18.99</li>
                            <li><em>$9.50</em> $15.00</li>
                            <li><em>$20.99</em> $28.99</li>
                            <li>$55.00</li>
                            <li>$50.99</li>
                            <li>.$24.99</li>
                            <li><em>$14.99</em> $20.99</li>
                            <li>$10.00</li>
                            <li>$25.00</li>
                            <li><em>$25.99</em> $36.99</li>
                            <li><em>$28.50</em> $45.00</li>
                            <li>$7.00</li>
                            <li><em>$12.99</em> $18.99</li>
                            <li><em>$16.00</em> $24.00</li>
                            <li>$55.00</li>
                            <li><em>$18.99</em> $32.99</li>
                            <li><em>$9.99</em> $10.99</li>
                            <li><em>$12.50</em> $15.00</li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Free with Unlimited Hosting</strong></h6></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                            <li><i class="fa fa-check fa-lg sitecolor"></i></li>
                            <li>-</li>
                            <li>-</li>
                        </ul>
                        <!-- end section -->

                    </div>
                </li>
                <!-- end tab 2 -->

            </ul>

        </div>
    </div>
    <!-- end featured section -->


    <div class="clearfix"></div>
    
    <div class="price_compare">
        <div class="container">

            <h1 class="caps"><strong>Web Hosting Plan Perfect For You!</strong></h1>
            <div class="clearfix margin_bottom5"></div>

            <table>
                <tr>
                    <td class="first rowfirst">
                        <div class="title">
                            <div class="arrow_box">
                                <h5>All Shared Hosting Features</h5>
                                <h3 class="caps">Choose Perfect Plan</h3>
                            </div>
                        </div>
                    </td>
                    <td class="rowsremain">
                        <div class="prices">
                            <h4 class="caps">Starter</h4>
                            <strong>$2.95<i>/M</i></strong> <b>Regularly <em>$4.99</em></b>
                            <a href="#">Buy Now</a>
                        </div>
                    </td>
                    <td class="rowsremain center">
                        <div class="prices">
                            <span>best value</span>
                            <h4 class="caps white">Business</h4>
                            <strong>$4.50<i>/M</i></strong> <b>Regularly <em>$8.99</em></b>
                            <a href="#">Buy Now</a>
                        </div>
                    </td>
                    <td class="rowsremain">
                        <div class="prices">
                            <h4 class="caps">Premium</h4>
                            <strong>$9.75<i>/M</i></strong> <b>Regularly <em>$18.99</em></b>
                            <a href="#">Buy Now</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="alileft">Number of Websites</th>
                    <th>1 Website</th>
                    <th>Multiple Websites</th>
                    <th>Multiple Websites</th>
                </tr>
                <tr>
                    <td class="alileft">Free Domain Registration</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Web Space</th>
                    <th>5,000MB</th>
                    <th>Unlimited</th>
                    <th>Unlimited</th>
                </tr>
                <tr>
                    <td class="alileft">Email Accounts</td>
                    <td>25</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <th class="alileft">MySQL Databases</th>
                    <th><i class="fa fa-times gray"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">Free App Store</td>
                    <td><i class="fa fa-times gray"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">cPanel Control Panel</th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">Free Daily Backups</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Search Engine Optimization</th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">99.9% Uptime Guarantee</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Bandwidth</th>
                    <th>20GB</th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">Free Setup</td>
                    <td>$1.99</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Advanced Security Features</th>
                    <th>Extra</th>
                    <th>Extra</th>
                    <th>Free</th>
                </tr>
                <tr>
                    <td class="alileft">Cloud Hosting</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Marketing Offers &amp; Credits </th>
                    <th><i class="fa fa-times gray"></i></th>
                    <th>$250</th>
                    <th>$500</th>
                </tr>
                <tr>
                    <td class="alileft">24/7/365 Support</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Website Builder</th>
                    <th>1</th>
                    <th>50</th>
                    <th>Unlimited</th>
                </tr>
                <tr>
                    <td class="alileft">30 Day Money Back Guarantee</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>

            </table>

        </div>
    </div>
    <!-- end choose plans -->
    
    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>
<script>
    $(document).ready(function(){
        $("#enter_domain_name").validate();
    });
</script>