<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty7">

        <h1>FIND YOUR PERFECT DOMAIN NAME.
        <em>Register your perfect domain name today.</em></h1>

        <div class="serch_area">
            
            <% if params[:enter_domain_name].present? %>
            
                <% if @domain_name == "0" %>
                
                    <div id="div2" class="successmes">
                        <div class="message-box-wrap">
                        <a class="close-but" id="colosebut2">close</a> <strong><%= params[:enter_domain_name] %></strong> is available.</div>
                    </div>
                    <br/>
                    
                <% end %>
                
                <% if @domain_name == "1" %>
                    <div id="div4" class="errormes">
                        <div class="message-box-wrap">
                            <a class="close-but" id="colosebut4">close</a> <strong><%= params[:enter_domain_name] %></strong> is already registered.</div>
                    </div>
                    <br/>
                <% end %>
                
            <% end %>
            
            <%= form_for("", url: {controller: 'domains', action: 'index'}, html: {id: 'enter_domain_name'}, method: "get") do |f| %>
                <%= text_field_tag :enter_domain_name, nil, class: "enter_email_input required", placeholder: "Enter your domain name here..." %>
                <input name="" value="Search Domain" class="input_submit" type="submit">
            <% end %>
            
            <br />
            <div class="molinks"><a href="#"><i class="fa fa-caret-right"></i> Domain Name Search - Advanced Domain Search Tool</a></div>
        </div>
        <!-- end section -->

    </div>
    <!-- end search section -->


    <div class="clearfix"></div>


    <div class="feature_section10">
        <div class="container">

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.com</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>280.000đ</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.net</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>280.000đ</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.org</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>300.000đ</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less last">
                <div class="box">
                    <h1 class="sitecolor"><strong>.info</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>300.000đ</strong><em>/year</em></h1>
                </div>
            </div>

            <div class="one_fifth_less">
                <div class="box">
                    <h1 class="sitecolor"><strong>.vn</strong></h1>
                    <h6>Now Avaliable</h6>
                    <h1><strong>480.000đ</strong><em>/year</em></h1>
                </div>
            </div>

        </div>
    </div>
    <!-- end featured section 10 -->


    <div class="clearfix"></div>


    <div class="feature_section12">
        <div class="container">

            <div class="one_fourth">

                <i class="fa fa-check"></i>
                <h4 class="light">Easy Domain Setup No Technical Skills</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Free Email Address - Forwarding</h4>

            </div>
            <!-- end section -->

            <div class="one_fourth">

                <i class="fa fa-check"></i>
                <h4 class="light">FREE Domain Privacy Protection</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Unlimited Sub Domains</h4>

            </div>
            <!-- end section -->

            <div class="one_fourth">

                <i class="fa fa-check"></i>
                <h4 class="light">Advanced DNS Controls</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Multi-Year Registration</h4>

            </div>
            <!-- end section -->

            <div class="one_fourth last">

                <i class="fa fa-check"></i>
                <h4 class="light">Domain Locking &amp; Forwarding</h4>

                <div class="clearfix margin_bottom4"></div>

                <i class="fa fa-check"></i>
                <h4 class="light">Free 24×7/365 Support</h4>

            </div>
            <!-- end section -->

        </div>
    </div>
    <!-- end featured section 12 -->


    <div class="clearfix"></div>


    <div class="feature_section11">
        <div class="container">

            <h1 class="caps"><strong>Domain Pricing</strong></h1>
            <h5 class="less1 light">Normal distribution of letters, as opposed to using making it look like readable english many desktop publishing packages and web page editors now use model text and a search for many web sites.</h5>

            <div class="clearfix margin_bottom5"></div>

            <ul class="tabs">
                <li class="active">.VN (Vietnam Domains)</li>
                <li>International Domains</li>
            </ul>

            <ul class="tab__content">

                <li class="active">
                    <div class="content__wrapper">

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Domain Extension</strong></h6></li>
                            <li><strong>.vn</strong></li>
                            <li><strong>.com.vn</strong></li>
                            <li><strong>.net.vn | .biz.vn</strong></li>
                            <li><strong>.gov.vn | .org.vn | .edu.vn | .pro.vn</strong></li>
                            <li><strong>.int.vn|.ac.vn|.info.vn|.health.vn</strong></li>
                            <li><strong>.name.vn</strong></li>
                            <li><strong>Tên miền theo địa giới hành chính</strong></li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>initial fee</strong></h6></li>
                            <li><em></em> 350.000đ</li>
                            <li><em></em> 350.000đ</li>
                            <li>350.000đ</li>
                            <li><em></em> 200.000đ</li>
                            <li><em></em> 200.000đ</li>
                            <li><em></em> 30.000đ</li>
                            <li><em></em> 200.000đ</li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>maintain fee / year</strong></h6></li>
                            <li><em></em> 480.000đ</li>
                            <li><em></em> 350.000đ</li>
                            <li>350.000đ</li>
                            <li><em></em> 200.000đ</li>
                            <li><em></em> 200.000đ</li>
                            <li><em></em> 30.000đ</li>
                            <li><em></em> 200.000đ</li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Free with Unlimited Hosting</strong></h6></li>
                            <li><!--<i class="fa fa-check fa-lg sitecolor"></i>-->-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</i></li>
                        </ul>
                        <!-- end section -->

                    </div>
                </li>
                <!-- end tab 1 -->

                <li>
                    <div class="content__wrapper">

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Domain Extension</strong></h6></li>
                            <li><strong>.com | .net | .org</strong></li>
                            <li><strong>.us</strong></li>
                            <li><strong>.biz</strong></li>
                            <li><strong>.info</strong></li>
                            <li><strong>.co.in | .net.in | .org.in | .firm.in | .gen.in | .ind.in</strong></li>
                            <li><strong>.cc</strong></li>
                            <li><strong>.ws</strong></li>
                            <li><strong>.tv</strong></li>
                            <li><strong>.mobi</strong></li>
                            <li><strong>.eu</strong></li>
                            <li><strong>.asia</strong></li>
                            <li><strong>.me</strong></li>
                            <li><strong>.tel</strong></li>
                            <li><strong>.co</strong></li>
                            <li><strong>.com.co | .net.co | .nom.co</strong></li>
                            <li><strong>.in</strong></li>
                            <li><strong>.co.uk | .org.uk | .ltd.uk | .plc.uk | .me.uk</strong></li>
                            <li><strong>.com.tw | .idv.tw | .game.tw | .ebiz.tw | .club.tw</strong></li>
                            <li><strong>.tw</strong></li>
                            <li><strong>.name</strong></li>
                            <li><strong>.jp</strong></li>
                            <li><strong>.bio</strong></li>
                            <li><strong>.press | .bar | .build</strong></li>
                            <li><strong>.tienda | .bayern | .viajes</strong></li>
                            <li><strong>.partners | .limo | .ventures | .diamonds</strong></li>
                            <li><strong>.voyage | .careers | .finance</strong></li>
                            <li><strong>.financial | .fund | .furniture</strong></li>
                            <li><strong>.holiday | .restaurant | .surgery</strong></li>
                            <li><strong>.university | .cruises | .flights</strong></li>
                            <li><strong>.black | .villas | .healthcare | .codes</strong></li>
                            <li><strong>.holdings | .tax | .capital | .claims</strong></li>
                            <li><strong>.clinic | .condos | .dating | .delivery</strong></li>
                            <li><strong>.dental | .engineering | .expert</strong></li>
                            <li><strong>.insure | .lease | .maison</strong></li>
                            <li><strong>.hamburg | .london</strong></li>
                            <li><strong>.mortgage | .degree</strong></li>
                            <li><strong>.photography | .technology | .photos</strong></li>
                            <li><strong>.equipment | .gallery | .graphics | .lighting</strong></li>
                            <li><strong>.directory | .today | .tips | .company</strong></li>
                            <li><strong>.systems | .management | .center</strong></li>
                            <li><strong>.support | .email | .solutions</strong></li>
                            <li><strong>.ninja | .reisen | .rip | .supply</strong></li>
                            <li><strong>.agency | .exposed | .institute | .gratis</strong></li>
                            <li><strong>.report | .schule | .supplies | .hiphop</strong></li>
                            <li><strong>.education | .international | .city</strong></li>
                            <li><strong>.network</strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                            <li><strong></strong></li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>initial fee</strong></h6></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                            <li><div class="free_setup">Free</div></li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>maintain fee / year</strong></h6></li>
                            <li><em></em> 280.000đ</li>
                            <li><em></em> 270.000đ</li>
                            <li>290.000đ</li>
                            <li><em></em> 300.000đ</li>
                            <li><em></em> 260.000đ</li>
                            <li><em></em> 800.000đ</li>
                            <li><em></em> 290.000đ</li>
                            <li><em></em> 940.000đ</li>
                            <li><em></em> 480.000đ</li>
                            <li>290.000đ</li>
                            <li>420.000đ</li>
                            <li>650.000đ</li>
                            <li><em></em> 360.000đ</li>
                            <li>820.000đ</li>
                            <li>480.000đ</li>
                            <li>500.000đ</li>
                            <li>380.000đ</li>
                            <li>840.000đ</li>
                            <li>980.000đ</li>
                            <li>290.000đ</li>
                            <li>2.460.000đ</li>
                            <li>1.932.000đ</li>
                            <li>1.921.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.198.000đ</li>
                            <li>1.514.000đ</li>
                            <li>1.153.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li>475.000đ</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- end section -->

                        <ul class="domlist1">
                            <li class="title">
                                <h6 class="caps gray"><strong>Free with Unlimited Hosting</strong></h6></li>
                            <li>-<!--i class="fa fa-check fa-lg sitecolor"></i>--></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                        </ul>
                        <!-- end section -->

                    </div>
                </li>
                <!-- end tab 2 -->

            </ul>

        </div>
    </div>
    <!-- end featured section -->


    <div class="clearfix"></div>
    
    <div class="price_compare">
        <div class="container">

            <h1 class="caps"><strong>Web Hosting Plan Perfect For You!</strong></h1>
            <div class="clearfix margin_bottom5"></div>

            <table>
                <tr>
                    <td class="first rowfirst">
                        <div class="title">
                            <div class="arrow_box">
                                <h5>All Shared Hosting Features</h5>
                                <h3 class="caps">Choose Perfect Plan</h3>
                            </div>
                        </div>
                    </td>
                    <td class="rowsremain">
                        <div class="prices">
                            <h4 class="caps">Starter</h4>
                            <strong>$2.95<i>/M</i></strong> <b>Regularly <em>$4.99</em></b>
                            <a href="#">Buy Now</a>
                        </div>
                    </td>
                    <td class="rowsremain center">
                        <div class="prices">
                            <span>best value</span>
                            <h4 class="caps white">Business</h4>
                            <strong>$4.50<i>/M</i></strong> <b>Regularly <em>$8.99</em></b>
                            <a href="#">Buy Now</a>
                        </div>
                    </td>
                    <td class="rowsremain">
                        <div class="prices">
                            <h4 class="caps">Premium</h4>
                            <strong>$9.75<i>/M</i></strong> <b>Regularly <em>$18.99</em></b>
                            <a href="#">Buy Now</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="alileft">Number of Websites</th>
                    <th>1 Website</th>
                    <th>Multiple Websites</th>
                    <th>Multiple Websites</th>
                </tr>
                <tr>
                    <td class="alileft">Free Domain Registration</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Web Space</th>
                    <th>5,000MB</th>
                    <th>Unlimited</th>
                    <th>Unlimited</th>
                </tr>
                <tr>
                    <td class="alileft">Email Accounts</td>
                    <td>25</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <th class="alileft">MySQL Databases</th>
                    <th><i class="fa fa-times gray"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">Free App Store</td>
                    <td><i class="fa fa-times gray"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">cPanel Control Panel</th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">Free Daily Backups</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Search Engine Optimization</th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">99.9% Uptime Guarantee</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Bandwidth</th>
                    <th>20GB</th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                    <th><i class="fa fa-check sitecolor"></i></th>
                </tr>
                <tr>
                    <td class="alileft">Free Setup</td>
                    <td>$1.99</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Advanced Security Features</th>
                    <th>Extra</th>
                    <th>Extra</th>
                    <th>Free</th>
                </tr>
                <tr>
                    <td class="alileft">Cloud Hosting</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Marketing Offers &amp; Credits </th>
                    <th><i class="fa fa-times gray"></i></th>
                    <th>$250</th>
                    <th>$500</th>
                </tr>
                <tr>
                    <td class="alileft">24/7/365 Support</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>
                <tr>
                    <th class="alileft">Website Builder</th>
                    <th>1</th>
                    <th>50</th>
                    <th>Unlimited</th>
                </tr>
                <tr>
                    <td class="alileft">30 Day Money Back Guarantee</td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                    <td><i class="fa fa-check sitecolor"></i></td>
                </tr>

            </table>

        </div>
    </div>
    <!-- end choose plans -->
    
    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>
<script>
    $(document).ready(function(){
        $("#enter_domain_name").validate();
    });
</script>