<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty12">
        <div class="container alicent">

            <h1>Newsletter</h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="content_fullwidth">
        <div class="container">

            <div class="error_pagenotfound">

                <b>Thank you for your subscription!</b>
                
                <em>Email newsletter successful signup.</em>
                
                <p>Visit <%= link_to "Our Services", services_sub_1_path %></p>

                <div class="clearfix margin_top3"></div>
                
                <%= link_to '<i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp; Go to Home Page'.html_safe, root_path, class: "but_medium1" %>

            </div>
            <!-- end error page notfound -->

        </div>
    </div>


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->
    
</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- get jQuery used for the theme - only 404 page -->
<script src="/frontend/js/timeline/modernizr.js"></script>
<script>
    (function($) {
        "use strict";

        jQuery(document).ready(function($) {
            var $timeline_block = $('.cd-timeline-block');

            //hide timeline blocks which are outside the viewport
            $timeline_block.each(function() {
                if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                }
            });

            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function() {
                $timeline_block.each(function() {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                });
            });
        });

    })(jQuery);
</script>