<div class="pageWrap">

    <%= render "/home/tp_bar" %>
    <!-- /tp-bar -->

    <%= render "/home/main_bar" %>
    <!-- /main-bar -->

    <section class="section-banner">
        <div class="container">
            <ul class="breadcrumb">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= @product.name %></li>
            </ul>
        </div>
    </section>
    <!-- /section-banner -->

    <section class="section-compact">
        <div class="container">

            <div class="single-container">
                <div class="product-single">
                    <div class="featured-box">
                        <div class="row">
                            <div class="col-sm-5">
                                <figure class="image">
                                    <% if @product.get_main_image.present? %>
										<%= image_tag(@product.get_main_image.image_url.large_image) %>
									<% else %>
										<img src="frontend/images/resource/no-image-main.png" alt="image">
									<% end %>
                                </figure>
                            </div>
                            <div class="col-sm-7">
                                <div class="text">
                                    <h4><a><%= @product.name %></a></h4><br/>
                                    <div class="collapse in">
                                        <p>Xuất xứ:
											<% if !@product.made_in.nil? %>
                                                <%= @product.made_in %>
                                            <% else %>
                                                Đang cập nhật
                                            <% end %>
										</p>
                                        <p>Thương hiệu:
                                            <% if !@product.manufacturer.nil? %>
                                                <%= @product.manufacturer.name %>
                                            <% else %>
                                                Đang cập nhật
                                            <% end %>
                                        </p>
                                        <p>Giá: <span class="text-primary"><%= format_number(@product.price) %> VNĐ</span></p>
                                        <p class="text-justify">Mô tả ngắn: <%= @product.short_description %></p>
										
										<form action="<%= add_to_cart_line_items_path(product_id: @product) %>" method="get">
											<input type="hidden" name="product_id" value="<%= @product.id %>" />
											<% if !@product.get_colors.empty? %>
												<p>Màu sắc: <br/>
													<input type="hidden" name="color" value="" />
													<% @product.get_colors.each do |color| %>
														<a class="active_color" rel="<%= color %>" style="padding: 0 15px; background-color: <%= color %>; border: solid 1px <%= color %>; margin-right: 5px;" href="#color"></a>
													<% end %>
												</p>
											<% end %>
											<p>Số lượng: 
												<div class="input-group spinner" data-trigger="spinner">
													<input type="text" name="quantity" class="form-control text-center" value="1" data-rule="quantity">
													<div class="input-group-addon">
													  <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
													  <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
													</div>
												</div>
											</p>
											<input type="submit" class="btn btn-default add_to_cart_button" value="Thêm vào giỏ hàng" />
										</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /featured-box -->
                    
                    <div class="other-products">
                        <header class="heading">
                            <span class="caro-prev other-prev"><i class="flaticon-arrowhead7"></i></span>
                            <span class="caro-next other-next"><i class="flaticon-arrow487"></i></span>
                            <h4>Hình Ảnh Liên Quan</h4>
                        </header>
                        <div class="carousel-multiple owl-carousel">
                            <% @product.product_images.each do |item| %>
                                <div class="item">
                                    <div class="thumbnail thumbnail-product">
                                        <figure class="image-zoom">
                                            <% if item.image_url.present? %>
                                                <%= image_tag(item.image_url.medium_image) %>
                                            <% end %>
                                        </figure>
                                    </div>
                                    <!-- /thumbail -->
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <!-- /other-products -->
                </div>
                <!-- /product-single -->

                <div class="product-description">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="prod-desc-box">
                                <h4>Mô Tả Sản Phẩm</h4>
                                <p class="text-justify">
                                    <% if !@product.description.empty? %>
                                        <%= @product.description %>
                                    <% else %>
                                        Hiện tại chưa có mô tả cho sản phẩm này
                                    <% end %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product-description -->
                
                <% if !@product.get_related_products.nil? %>
                    <div class="other-products">
                        <header class="heading">
                            <span class="caro-prev other-prev"><i class="flaticon-arrowhead7"></i></span>
                            <span class="caro-next other-next"><i class="flaticon-arrow487"></i></span>
                            <h4>Sản Phẩm Liên Quan</h4>
                        </header>
                        <div class="carousel-multiple owl-carousel">
                            <% @product.get_related_products.each do |product| %>
                                <div class="item">
                                    <div class="thumbnail thumbnail-product">
                                        <figure class="image-zoom">
                                            <% if product.get_main_image.present? %>
                                                <%= image_tag(product.get_main_image.image_url.medium_image) %>
                                            <% else %>
                                                <img src="frontend/images/resource/no-image.png" alt="image">
                                            <% end %>
                                        </figure>
                                        <div class="caption text-center">
                                            <h5 class="format_name">
                                                <%= link_to product.name, { controller: "product", action: "index", product_id: product.id }, title: product.name %>
                                            </h5>
                                            <!-- /rating-star -->
                                            <p class="prod-price text-primary">Giá: <%= format_number(product.price) %> VNĐ</p>
                                        </div>
                                    </div>
                                    <!-- /thumbail -->
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <!-- /other-products -->
                <% end %>

            </div>
            <!-- /single-container -->
        </div>
    </section>
    
    <%= render "/home/footer" %>

</div>
<!-- /pageWrap -->


<div class="preloader-container">
    <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
        <div class="object" id="object_big"></div>
    </div>
    <!-- /loading-center-absolute -->
</div>
<!-- /preloader-container -->


<!-- JavaScript
================================================== -->
<%= javascript_include_tag "/frontend/js/jquery-1.11.2.min.js" %>
<%= javascript_include_tag "/frontend/js/bootstrap.min.js" %>
<%= javascript_include_tag "/frontend/js/owl.carousel.min.js" %>
<%= javascript_include_tag "/frontend/js/script.js" %>

<%= javascript_include_tag "/frontend/js/ie10-viewport-bug-workaround.js" %>
<%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

<%= javascript_include_tag "/frontend/dist/jquery.spinner.js" %>
<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
<script>
    $(document).ready(function(){
      $('#customize-spinner').spinner('changed',function(e, newVal, oldVal){
        $('#old-val').text(oldVal);
        $('#new-val').text(newVal);
      });
	  
		// first select		
		$('.active_color').click(function() {
			var color = $(this).attr("rel");
			$("input[name='color']").val(color);
			$('.active_color').removeClass("active");
			$(this).addClass("active");
		});
		$('.active_color').eq(0).click();
    })
</script>
