<%= form_for(@quick_booking_hotel) do |f| %>
  <% if @quick_booking_hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quick_booking_hotel.errors.count, "error") %> prohibited this quick_booking_hotel from being saved:</h2>

      <ul>
      <% @quick_booking_hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :passport %><br>
    <%= f.text_field :passport %>
  </div>
  <div class="field">
    <%= f.label :hotel_name %><br>
    <%= f.text_field :hotel_name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date_from %><br>
    <%= f.datetime_select :date_from %>
  </div>
  <div class="field">
    <%= f.label :date_to %><br>
    <%= f.datetime_select :date_to %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :adult %><br>
    <%= f.number_field :adult %>
  </div>
  <div class="field">
    <%= f.label :child %><br>
    <%= f.number_field :child %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
