<div class="pageWrapper">

    <!-- Header start -->
    <header class="top-head minimal">
        <div class="container">
            <!-- Logo start -->
            <%= render "/home/logo" %>
            <!-- Logo end -->
            
            <div class="responsive-nav">
                <!-- top navigation menu start -->
                <%= render "/home/top_navigation_menu" %>
                <!-- top navigation menu end -->
                <div class="f-right">
                    <!-- top search start -->
                    <%= render "/home/top_search" %>
                    <!-- top search end -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header start -->
    
    <!-- Content start -->
    <div class="pageContent">
            
        <div class="xl-padding parallax portfolio single-pro-img" style="background-image: url(<%= @project.image_url %>);" data-stellar-background-ratio="0.65" data-overlay="rgba(0,0,0,.7)">
            <div class="container">
                <div class="row">
                    <div class="t-center margin-top-100">
                        <h1 class="white font-50"><%= @project.name %></h1>
                    </div>
                </div>
            </div>
        </div>
                        
        <div class="md-padding">
            <div class="container">
                <div class="row row-eq-height">
                    <div class="col-md-4">
                        <div class="heading style3">
                            <h3 class="uppercase"><i class="fa fa-info-circle"></i><span class="main-color">Project </span>Info</h3>
                        </div>
                        <ul class="list lg-v-pad">
                            <li>
                                <i class="fa fa-tag"></i> <span class="bold main-color">Category:</span> <% @project.project_categories.each do |cat| %><%= cat.name %><% end %>
                            </li>
                            <li>
                                <i class="fa fa-user"></i> <span class="bold main-color">By:</span> Global Naturesoft
                            </li>
                            <li>
                                <i class="fa fa-calendar"></i> <span class="bold main-color">Start Date:</span> <%= @project.start_date.strftime("%d / %m / %Y") %>
                            </li>
                            <li>
                                <i class="fa fa-calendar"></i> <span class="bold main-color">End Date:</span> <%= @project.end_date.strftime("%d / %m / %Y") %>
                            </li>
                            <li><i class="fa fa-check"></i> <span class="bold main-color">Customer:</span> <%= @project.author %></li>
                            <li class="social-list">
                                <span class="f-left m-r-1" style="margin-top: 5px"><i class="fa fa-share-alt"></i> <span class="bold main-color">Share Project:</span> </span>
                                    <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook ic-facebook sm-icon no-border"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter ic-twitter sm-icon no-border"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Linkedin"><i class="fa fa-linkedin ic-linkedin sm-icon no-border"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Dribbble"><i class="fa fa-dribbble ic-dribbble sm-icon no-border"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Google Plus"><i class="fa fa-google-plus ic-gplus sm-icon no-border"></i></a>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="vertical-sep"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="heading style3">
                            <h3 class="uppercase"><i class="fa fa-desktop"></i><span class="main-color">Case </span>Study</h3>
                        </div>
                        <p class="text-justify"><%= @project.description %></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="md-padding">
            <div class="container">
                <div class="heading style3">
                    <h3 class="uppercase"><i class="fa fa-file-photo-o"></i><span class="main-color">Related </span>Images</h3>
                </div>
                <div class="horizontal-slider marginelements" data-slides_count="5" data-scroll_amount="1" data-slider-speed="600" data-center-mode="1" data-slider-infinite="1" data-slider-dots="0" data-slider-arrows="1">
                    <% @project.project_images.each do |item| %>
                    <div>
                        <a class="zoom" href="<%= item.image_url %>"><img alt="" src="<%= item.image_url %>"></a>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="md-padding gry-bg">
            <div class="container">
                <div class="heading style3">
                    <h3 class="uppercase"><i class="fa fa-desktop"></i><span class="main-color">Related </span>Projects</h3>
                </div>
                <div class="row">
                    <div class="portfolio p-style3">
                        <% if @project.project_type == "design" %>
                            <% Project.get_related_project_designs.each do |item| %>
                            <div class="portfolio-item col-md-4">
                                <figure>
                                    <img alt="" src="<%= item.image_url %>">
                                    <figcaption>
                                        <div class="port-captions">
                                            <h4><%= link_to item.name, portfolio_detail_path(project_id: item.id, name: item.url_friendly) %></h4>
                                            <p class="description"><% item.project_categories.each do |cat| %><%= cat.name %><% end %></p>
                                        </div>
                                        <div class="icon-links">
                                            <%= link_to '<i class="fa fa-link"></i>'.html_safe, portfolio_detail_path(project_id: item.id, name: item.url_friendly), class: "link" %>
                                            <a href="<%= item.image_url %>" class="zoom" title="<%= item.name %>"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </figcaption>			
                                </figure>
                            </div>
                            <% end %>
                        <% else %>
                            <% Project.get_related_project_web_baseds.each do |item| %>
                            <div class="portfolio-item col-md-4">
                                <figure>
                                    <img alt="" src="<%= item.image_url %>">
                                    <figcaption>
                                        <div class="port-captions">
                                            <h4><%= link_to item.name, portfolio_detail_path(project_id: item.id, name: item.url_friendly) %></h4>
                                            <p class="description"><% item.project_categories.each do |cat| %><%= cat.name %><% end %></p>
                                        </div>
                                        <div class="icon-links">
                                            <%= link_to '<i class="fa fa-link"></i>'.html_safe, portfolio_detail_path(project_id: item.id, name: item.url_friendly), class: "link" %>
                                            <a href="<%= item.image_url %>" class="zoom" title="<%= item.name %>"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </figcaption>			
                                </figure>
                            </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>


    </div>			    
    <!-- Content start -->

    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->

</div>

<!-- Back to top Link -->
<a id="to-top" href="#"><span class="fa fa fa-angle-up"></span></a>

<%= render "/home/js_files" %>