<div class="pageWrapper">

    <!-- Top bar start -->
    <%= render "/home/top_bar" %>
    <!-- Top bar end -->
    
    <!-- Header start -->
    <header class="top-head minimal">
        <div class="container">
            
            <!-- Logo start -->
            <%= render "/home/logo" %>
            <!-- Logo end -->

            <div class="responsive-nav">
                
                <!-- top navigation menu start -->
                <%= render "/home/top_navigation_menu" %>
                <!-- top navigation menu end -->
                
                <div class="f-right">
                    <!-- top search start -->
                    <%= render "/home/top_search" %>
                    <!-- top search end -->
                </div>
                
            </div>
        </div>
    </header>
    <!-- Header start -->
    
    <!-- Content start -->
    <div class="pageContent">
        
        <div class="page-title tbg">
            <div class="container">
                <h1>Portfolio</h1>
            </div>
        </div>
        <div class="breadcrumbs">
            <div class="container">
                <%= link_to "Home", root_path %><i class="fa fa-long-arrow-right main-color"></i><span>Portfolio</span>
            </div>
        </div>

        <div class="md-padding">
            <div class="container">
                <div class="portfolio p-1-col simple" id="container">
                    <% @projects.each do |item| %>
                    <div class="portfolio-item develop">
                        <div class="img-holder">
                            <%= link_to image_tag("/frontend/assets/images/portfolio/small/1.jpg", alt: item.name), portfolio_detail_path(project_id: item.id, name: item.url_friendly) %>
                        </div>
                        <div class="name-holder">
                            <h4><%= link_to item.name, portfolio_detail_path(project_id: item.id, name: item.url_friendly) %></h4>
                            <p class="description"><%= truncate(strip_tags(item.description), length: 150) %></p>
                            <div class="meta">
                                <ul class="list">
                                    <li><i class="fa fa-folder-open-o main-color"></i> <strong>Categories:</strong> <a href="#">Design</a>, <a href="#">Development</a></li>
                                    <li><i class="fa fa-user main-color"></i> <strong>By:</strong> Global Naturesoft</li>
                                    <li><i class="fa fa-clock-o main-color"></i> <strong>Start Date:</strong> <%= item.start_date.strftime("%d / %m / %Y") %></li>
                                    <li><i class="fa fa-clock-o main-color"></i> <strong>End Date:</strong> <%= item.end_date.strftime("%d / %m / %Y") %></li>
                                    <li><i class="fa fa-tags main-color"></i> <strong>Tags:</strong> <a href="#">News</a>, <a href="#">Computers</a>, <a href="#">Just Food</a></li>
                                </ul>
                            
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <nav>
                    <ul class="pagination style2">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-long-arrow-left"></i></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-long-arrow-right"></i></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>			    
    <!-- Content start -->

    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->

</div>

<!-- Back to top Link -->
<a id="to-top" href="#"><span class="fa fa fa-angle-up"></span></a>

<%= render "/home/js_files" %>