<p>-------- NewDiscovery.vn - Đặt Phòng Khách Sạn Nhanh --------</p>
<p>Tên khách hàng: <%= @quick_booking_hotel.name %></p>
<p>Email: <%= @quick_booking_hotel.email %></p>
<p>Số điện thoại: <%= @quick_booking_hotel.phone %></p>
<p>ID/Passport: #<%= @quick_booking_hotel.passport %></p>
<p>Tên khách sạn: <%= @quick_booking_hotel.hotel_name %></p>
<p>Tỉnh/Thành phố: <%= @quick_booking_hotel.location %></p>
<p>Số người lớn: <% @quick_booking_hotel.adult.to_s %></p>
<p>Số trẻ em: <% @quick_booking_hotel.child.to_s %></p>
<p>Số phòng: <% @quick_booking_hotel.number.to_s %></p>
<p>Ngày nhận phòng: <%= @quick_booking_hotel.date_from.strftime("%d/%m/%Y") %></p>
<p>Ngày trả phòng: <%= @quick_booking_hotel.date_to.strftime("%d/%m/%Y") %></p>
<p>Lời nhắn: <%= @quick_booking_hotel.message %></p>
<p>Ngày gửi yêu cầu: <%= @quick_booking_hotel.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %> (GMT+07:00)</p>
