<div id="page-wrapper" class="service-page">
    
    <!-- HEADER -->
    <%= render "/home/header" %>

    <div class="page-title-container style4">
        <div class="container">
            <div class="page-title">
                <h2 class="entry-title">Dịch Vụ Khác</h2>
            </div>
            <ul class="breadcrumbs">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li class="active">Dịch Vụ Khác</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="row image-box style2">
                    <div class="col-md-6">
                        <article class="box">
                            <figure>
                                <%= link_to image_tag("/frontend/images/booking_plane.jpg", alt: "Dịch Vụ Đặt Vé Máy Bay", size: "272x192"), plane_ticket_booking_path, title: "Dịch Vụ Đặt Vé Máy Bay" %>
                            </figure>
                            <div class="details">
                                <h4><%= link_to "Dịch Vụ Đặt Vé Máy Bay", plane_ticket_booking_path, title: "Dịch Vụ Đặt Vé Máy Bay" %></h4>
                                <p class="text-justify">
                                    - Nhanh, gọn, dễ dàng, tiết kiệm thời gian mua vé.<br>
                                    - Hỗ trợ bạn mọi lúc, mọi nơi.
                                </p>
                                <%= link_to "CHỌN DỊCH VỤ", plane_ticket_booking_path, class: "button btn-small sky-blue1", title: "Dịch Vụ Đặt Vé Máy Bay" %>
                            </div>
                        </article>
                    </div>
                    
                    <div class="col-md-6">
                        <article class="box">
                            <figure>
                                <%= link_to image_tag("/frontend/images/booking_visa.jpg", alt: "Dịch Vụ Làm Thẻ Visa", size: "272x192"), visa_card_path, title: "Dịch Vụ Làm Thẻ Visa" %>
                            </figure>
                            <div class="details">
                                <h4><%= link_to "Dịch Vụ Làm Thẻ Visa", visa_card_path, title: "Dịch Vụ Làm Thẻ Visa" %></h4>
                                <p class="text-justify">
                                    - Uy tín, nhanh chóng, chi phí hợp lí.<br>
                                    - Tư vấn miễn phí.
                                </p>
                                <%= link_to "CHỌN DỊCH VỤ", visa_card_path, class: "button btn-small sky-blue1", title: "Dịch Vụ Làm Thẻ Visa" %>
                            </div>
                        </article>
                    </div>
                    
                    <div class="col-md-6">
                        <article class="box">
                            <figure>
                                <%= link_to image_tag("/frontend/images/plane_ticket_booking.jpg", alt: "Đặt Khách Sạn", size: "272x192"), hotel_listing_path, title: "Đặt Khách Sạn" %>
                            </figure>
                            <div class="details">
                                <h4><%= link_to "Đặt Khách Sạn", plane_ticket_booking_path, title: "Đặt Khách Sạn" %></h4>
                                <p class="text-justify">
                                    - Nhanh, gọn, dễ dàng, tiết kiệm thời gian đặt phòng.<br>
                                    - Hỗ trợ bạn mọi lúc, mọi nơi.
                                </p>
                                <%= link_to "CHỌN DỊCH VỤ", hotel_listing_path, class: "button btn-small sky-blue1", title: "Đặt Khách Sạn" %>
                            </div>
                        </article>
                    </div>
                    
                    <div class="col-md-6">
                        <article class="box">
                            <figure>
                                <%= link_to image_tag("/frontend/images/car_hire.jpg", alt: "Thuê Xe Giá Rẻ", size: "272x192"), car_hire_path, title: "Thuê Xe Giá Rẻ" %>
                            </figure>
                            <div class="details">
                                <h4><%= link_to "Thuê Xe Giá Rẻ", car_hire_path, title: "Thuê Xe Giá Rẻ" %></h4>
                                <p class="text-justify">
                                    - Uy tín, nhanh chóng, chi phí hợp lí.<br>
                                    - Xe đời mới, nhiều sự lựa chọn.
                                </p>
                                <%= link_to "CHỌN DỊCH VỤ", car_hire_path, class: "button btn-small sky-blue1", title: "Thuê Xe Giá Rẻ" %>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>