<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>
    
    <div class="page-title-container style2">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Dịch Vụ Đặt Vé Máy Bay</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li class="active">Dịch Vụ Đặt Vé Máy Bay</li>
            </ul>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                    <div class="booking-section travelo-box">
                        <%= form_for @booking_plane, html: {class: "booking-form", id: "booking_plane_validate"} do |f| %>  
                            <div class="person-information">
                                <h2>ĐĂNG KÝ VÉ MÁY BAY TẠI ĐÂY</h2>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-10">
                                        <label>Tên Khách Hàng <span class="text-required">*</span></label>
                                        <%= f.text_field :full_name, class: "input-text full-width required", placeholder: "Vui lòng nhập họ & tên khách hàng đăng ký tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-10">
                                        <label>Địa Chỉ <span class="text-required">*</span></label>
                                        <%= f.text_field :address, class: "input-text full-width required", placeholder: "Vui lòng nhập địa chỉ tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số Điện Thoại <span class="text-required">*</span></label>
                                        <%= f.text_field :phone, class: "input-text full-width required", placeholder: "Vui lòng nhập số điện thoại tại đây....." %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Địa Chỉ Email <span class="text-required">*</span></label>
                                        <%= f.text_field :email, class: "input-text full-width required email", placeholder: "Vui lòng nhập địa chỉ email tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số Người Lớn <span class="text-required">*</span></label>
                                        <%= f.text_field :adult, class: "input-text full-width required", placeholder: "Mặc định số  người lớn: 1" %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Số Trẻ Em <span class="text-required">*</span></label>
                                        <%= f.text_field :child, class: "input-text full-width required", placeholder: "Nhập 0 nếu không có trẻ em" %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>ID/Passport</label>
                                        <%= f.text_field :passport, class: "input-text full-width", placeholder: "Vui lòng nhập id/passport tại đây (nếu có)....." %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Loại vé <span class="text-required">*</span></label>
                                        <div class="selector">
                                            <%= f.select(:ticket_type, ['Một Chiều', 'Khứ Hồi'], {}, { :class => 'full-width required' })%>
                                        </div>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Địa điểm khởi hành <span class="text-required">*</span></label>
                                        <%= f.text_field :address_from, class: "input-text full-width required", placeholder: "Vui lòng nhập điểm khởi hành tại đây....." %>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Địa điểm đến <span class="text-required">*</span></label>
                                        <%= f.text_field :address_to, class: "input-text full-width required", placeholder: "Vui lòng nhập điểm đến tại đây....." %>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-5">
                                        <label>Ngày đi <span class="text-required">*</span></label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="booking_plane[date_from]" id="booking_plane_date_from" class="input-text full-width required" placeholder="Chọn ngày đi (yy/mm/dd)" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <label>Ngày về</label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="booking_plane[date_to]" id="booking_plane_date_to" class="input-text full-width" placeholder="Chọn ngày về nếu có (yy/mm/dd)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label>Lời Nhắn</label>
                                        <%= f.text_area :message, rows: '8', class: "input-text full-width", placeholder: "Nhằm nâng cao chất lượng dịch vụ. Quý khách hàng vui lòng nhập lời nhắn (nếu có) tại đây....." %>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 col-md-5">
                                    <button type="submit" class="full-width btn-large sky-blue1">ĐẶT VÉ MÁY BAY</button>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="sidebar col-sms-6 col-sm-4 col-md-3">
                    
                    <%= render "/service/right_sidebar_visa_card" %>
                    
                    <%= render "/home/need_help" %>
                    
                    <%= render "/tour_handbook/right_sidebar" %>
                
                </div>
            </div>
        </div>
    </section>
    
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script>
    jQuery(document).ready(function($){
        $("#booking_plane_validate").validate();
    });
</script>