<div id="page-wrapper">
    
    <%= render "/home/header" %>

    <div class="page-title-container style4">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Dịch Vụ Làm Thẻ Visa</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li><%= link_to "Vé Máy Bay & Visa", service_path %></li>
                <li class="active">Dịch Vụ Làm Thẻ Visa</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="toggle-container filters-container">
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#modify-search-panel" aria-expanded="true">Quốc Gia Cần Đăng Ký</a>
                            </h4>
                            <div id="modify-search-panel" class="panel-collapse collapse in">
                                <div class="panel-content">
                                    <ul class="circle box">
                                        <% Country.order("name asc").each do |item| %>
                                        <li<% if params[:country_id].to_i == item.id %> class="active"<% end %>><%= link_to item.name, visa_card_path(country_id: item.id), class: "country-size" %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <%= render "/service/right_sidebar_plane_ticket" %>
                    <%= render "/home/need_help" %>
                </div>
                <div id="main" class="col-sm-8 col-md-9">
                    <% if params[:country_id].present? %>
                    <div class="page">
                        <h2 class="transform-capitalize">Làm Thẻ Visa <%= @country.name %></h2>
                        <% if @visa_detail.present? %>
                        <div class="toggle-container box" id="accordion1">
                            <% if !@visa_detail.title_1.empty? && !@visa_detail.content_1.empty? %>
                            <div class="panel style1">
                                <h4 class="panel-title transform-capitalize">
                                    <a href="#acc1" data-toggle="collapse" data-parent="#accordion1"><%= @visa_detail.title_1 %></a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc1">
                                    <div class="panel-content text-justify">
                                        <%= @visa_detail.content_1.html_safe  %>    
                                    </div>
                                    <!-- end content -->
                                </div>
                            </div>
                            <% end %>
                        
                            <% if !@visa_detail.title_2.empty? && !@visa_detail.content_2.empty? %>
                            <div class="panel style1">
                                <h4 class="panel-title transform-capitalize">
                                    <a href="#acc2" data-toggle="collapse" data-parent="#accordion1"><%= @visa_detail.title_2 %></a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc2">
                                    <div class="panel-content text-justify">
                                        <%= @visa_detail.content_2.html_safe  %>    
                                    </div>
                                    <!-- end content -->
                                </div>
                            </div>
                            <% end %>
                        
                            <% if !@visa_detail.title_3.empty? && !@visa_detail.content_3.empty? %>
                            <div class="panel style1">
                                <h4 class="panel-title transform-capitalize">
                                    <a href="#acc3" data-toggle="collapse" data-parent="#accordion1"><%= @visa_detail.title_3 %></a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc3">
                                    <div class="panel-content text-justify">
                                        <%= @visa_detail.content_3.html_safe  %>    
                                    </div>
                                    <!-- end content -->
                                </div>
                            </div>
                            <% end %>
                        
                            <% if !@visa_detail.title_4.empty? && !@visa_detail.content_4.empty? %>
                            <div class="panel style1">
                                <h4 class="panel-title transform-capitalize">
                                    <a href="#acc4" data-toggle="collapse" data-parent="#accordion1"><%= @visa_detail.title_4 %></a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc4">
                                    <div class="panel-content text-justify">
                                        <%= @visa_detail.content_4.html_safe  %>    
                                    </div>
                                    <!-- end content -->
                                </div>
                            </div>
                            <% end %>
                        
                            <% if !@visa_detail.title_5.empty? && !@visa_detail.content_5.empty? %>
                            <div class="panel style1">
                                <h4 class="panel-title transform-capitalize">
                                    <a href="#acc5" data-toggle="collapse" data-parent="#accordion1"><%= @visa_detail.title_5 %></a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc5">
                                    <div class="panel-content text-justify">
                                        <%= @visa_detail.content_5.html_safe  %>    
                                    </div>
                                    <!-- end content -->
                                </div>
                            </div>
                            <% end %>
                        
                            <% if !@visa_detail.title_6.empty? && !@visa_detail.content_6.empty? %>
                            <div class="panel style1">
                                <h4 class="panel-title transform-capitalize">
                                    <a href="#acc6" data-toggle="collapse" data-parent="#accordion1"><%= @visa_detail.title_6 %></a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc6">
                                    <div class="panel-content text-justify">
                                        <%= @visa_detail.content_6.html_safe  %>    
                                    </div>
                                    <!-- end content -->
                                </div>
                            </div>
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                    <% else %>
                    <div class="post">
                        <% if @visa_card.present? %>
                        <figure class="image-container">
                            <img src="<%= @visa_card.image_url.large_image %>" alt="" />
                        </figure>
                        <div class="details">
                            <h1 class="entry-title"><%= @visa_card.title %></h1>
                            <div class="post-content text-justify">
                                <%= @visa_card.content.html_safe if !@visa_card.content.empty? %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>