<!--<h4 class="caps"><strong><%= t(:address) %></strong></h4>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<div id="map_canvas" style="height: 500px; width: 100%;">
    
    // map center
    <script type="text/javascript"> 
         function init_map(){
             var myOptions = {zoom:16,center:new google.maps.LatLng(10.847659, 106.657580),
             mapTypeId: google.maps.MapTypeId.ROADMAP};
             map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
             marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(10.847659, 106.657580)});
             infowindow = new google.maps.InfoWindow({content:"<div class='noScroll'><b><%= @company.name %></b><br/><%= @company.head_office_address %><br/>Phone: <%= @company.phone %><br/>Hotline: <%= @company.hotline %><br/>E-mail: <a href='mailto:<%= @company.email %>'><%= @company.email %></a><br /></div>" });
             google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
             infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
     </script>
    
</div>
<br />
<small><a class="but_thumbs_down" href="https://www.google.com/maps/place/45%2F22C+L%C3%AA+V%C4%83n+Th%E1%BB%8D,+ph%C6%B0%E1%BB%9Dng+16,+G%C3%B2+V%E1%BA%A5p,+H%E1%BB%93+Ch%C3%AD+Minh,+Vietnam/@10.8476616,106.6564857,18z/data=!4m5!3m4!1s0x317529bc96b68a43:0x417a67c38124ede3!8m2!3d10.847659!4d106.65758?hl=en-US" target="_blank"><i class="fa fa-share fa-lg"></i>  <%= t(:view_larger_map) %></a></small> </div>-->