<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty13">
        <div class="container alileft">

            <h1>Contact</h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="content_fullwidth less2">
        <div class="container">

            <div class="one_half">

                <p>Feel free to talk to our online representative at any time you please using our Live Chat system on our website or one of the below instant messaging programs.</p>
                <br />
                <p>Please be patient while waiting for response. (24/7 Support!) <strong> <br/>
                Phone General Inquiries: 1-888-123-4567-8900</strong></p>
                <br /><br />

                <div class="cforms">
                    
                    <%= form_for @contact, html: {id: "contact_form_validate"} do |f| %>
                        
                        <label class="label">Name <em>*</em></label>
                        <label class="input">
                            <%= f.text_field :name, class: "required" %>
                        </label>

                        <div class="clearfix"></div>

                        <label class="label">E-mail <em>*</em></label>
                        <label class="input">
                            <%= f.text_field :email, class: "required email" %>
                        </label>

                        <div class="clearfix"></div>

                        <label class="label">Phone</label>
                        <label class="input">
                            <%= f.text_field :phone %>
                        </label>

                        <div class="clearfix"></div>

                        <label class="label">Subject <em>*</em></label>
                        <label class="input">
                            <%= f.text_field :subject, class: "required" %>
                        </label>

                        <div class="clearfix"></div>

                        <label class="label">Message <em>*</em></label>
                        <label class="textarea">
                            <%= f.text_area :message, rows: '5', class: "required" %>
                        </label>

                        <div class="clearfix"></div>
                        
                        <button type="submit" class="button"><i class="fa fa-paper-plane"></i> Send Message</button>

                    <% end %>

                </div>

            </div>

            <div class="one_half last">

                <div class="address_info">

                    <h4 class="caps">Company  <strong>Address</strong></h4>
                    <ul>
                        <li>
                            <strong>Chi Nhánh Công Ty TNHH Giải Pháp CNTT & TT Hoàng Khang</strong><br />
                            188, Street 1, Ward 16, Go Vap District, Ho Chi Minh City<br />
                            Phone: (08) 3984 7690<br />
                            Hotline: (08) 2212 9454 (hành chính)<br />
                            Fax: (08) 3984 7691<br />
                            E-mail: <a href="mailto:soft.support@hoangkhang.com.vn ">soft.support@hoangkhang.com.vn </a><br />
                            Website: <%= link_to "http://hoangkhang.com.vn/", root_path, target: "_blank" %>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <h4 class="caps">Find the <strong>Address</strong></h4>
                <div id="map-canvas"/></div>
                <br />
                <small><a class="but_thumbs_down" href="https://www.google.com/maps/place/45%2F22C+L%C3%AA+V%C4%83n+Th%E1%BB%8D,+ph%C6%B0%E1%BB%9Dng+16,+G%C3%B2+V%E1%BA%A5p,+H%E1%BB%93+Ch%C3%AD+Minh,+Vietnam/@10.8476616,106.6564857,18z/data=!4m5!3m4!1s0x317529bc96b68a43:0x417a67c38124ede3!8m2!3d10.847659!4d106.65758?hl=en-US" target="_blank"><i class="fa fa-share fa-lg"></i>  View Larger Map</a></small> </div>

        </div>
    </div>


    <div class="clearfix"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?language=fra&amp;sensor=false"></script> 
<!-- get jQuery used for the theme - contact form validate -->
<script>
    $(document).ready(function(){
        $("#contact_form_validate").validate();
    });
    /*
    * 5 ways to customize the Google Maps infowindow
    * 2015 - en.marnoto.com
    * http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html
    */
   // map center
   var center = new google.maps.LatLng(10.847707, 106.657580);
   
   // marker position
   var factory = new google.maps.LatLng(10.847707, 106.657580);
   
   function initialize() {
       var mapOptions = {
           center: center,
           zoom: 16,
           mapTypeId: google.maps.MapTypeId.ROADMAP
       };
   
       var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
   
       // InfoWindow content
       var content = '<div id="iw-container">' +
           '<div class="iw-title">Hoang Khang Incotech<br>Software Development</div>' +
           '<div class="iw-content">' +
           '<img src="http://maps.marnoto.com/en/5wayscustomizeinfowindow/images/vistalegre.jpg" alt="Porcelain Factory of Vista Alegre" height="115" width="83">' +
           '<div class="iw-subTitle">Contacts</div>' +
           '<p>188, Street 1, Ward 16, Go Vap District, Ho Chi Minh City' +
           '<br><strong>Phone</strong>: (08) 3984 7690<br><strong>Hotline</strong>: (08) 2212 9454<br><strong>E-mail</strong>: soft.support@hoangkhang.com.vn<br><strong>Website</strong>: http://hoangkhang.com.vn/</p>' +
           '</div>' +
           '<div class="iw-bottom-gradient"></div>' +
           '</div>';
   
       // A new Info Window is created and set content
       var infowindow = new google.maps.InfoWindow({
           content: content,
   
           // Assign a maximum value for the width of the infowindow allows
           // greater control over the various content elements
           maxWidth: 350
       });
   
       // marker options
       var marker = new google.maps.Marker({
           position: factory,
           map: map,
           title: "Porcelain Factory of Vista Alegre"
       });
   
       // This event expects a click on a marker
       // When this event is fired the Info Window is opened.
       google.maps.event.addListener(marker, 'click', function() {
           infowindow.open(map, marker);
       });
   
       // Event that closes the Info Window with a click on the map
       google.maps.event.addListener(map, 'click', function() {
           infowindow.close();
       });
   
       // *
       // START INFOWINDOW CUSTOMIZE.
       // The google.maps.event.addListener() event expects
       // the creation of the infowindow HTML structure 'domready'
       // and before the opening of the infowindow, defined styles are applied.
       // *
       google.maps.event.addListener(infowindow, 'domready', function() {
   
           // Reference to the DIV that wraps the bottom of infowindow
           var iwOuter = $('.gm-style-iw');
   
           /* Since this div is in a position prior to .gm-div style-iw.
            * We use jQuery and create a iwBackground variable,
            * and took advantage of the existing reference .gm-style-iw for the previous div with .prev().
            */
           var iwBackground = iwOuter.prev();
   
           // Removes background shadow DIV
           iwBackground.children(':nth-child(2)').css({
               'display': 'none'
           });
   
           // Removes white background DIV
           iwBackground.children(':nth-child(4)').css({
               'display': 'none'
           });
   
           // Moves the infowindow 115px to the right.
           iwOuter.parent().parent().css({
               left: '115px'
           });
   
           // Moves the shadow of the arrow 76px to the left margin.
           iwBackground.children(':nth-child(1)').attr('style', function(i, s) {
               return s + 'left: 76px !important;'
           });
   
           // Moves the arrow 76px to the left margin.
           iwBackground.children(':nth-child(3)').attr('style', function(i, s) {
               return s + 'left: 76px !important;'
           });
   
           // Changes the desired tail shadow color.
           iwBackground.children(':nth-child(3)').find('div').children().css({
               'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px',
               'z-index': '1'
           });
   
           // Reference to the div that groups the close button elements.
           var iwCloseBtn = iwOuter.next();
   
           // Apply the desired effect to the close button
           iwCloseBtn.css({
               opacity: '1',
               right: '38px',
               top: '3px',
               'border-radius': '13px',
               'box-shadow': '0 0 5px #3990B9'
           });
   
           // If the content of infowindow not exceed the set maximum height, then the gradient is removed.
           if ($('.iw-content').height() < 140) {
               $('.iw-bottom-gradient').css({
                   display: 'none'
               });
           }
   
           // The API automatically applies 0.7 opacity to the button after the mouseout event. This function reverses this event to the desired value.
           iwCloseBtn.mouseout(function() {
               $(this).css({
                   opacity: '1'
               });
           });
       });
   }
   google.maps.event.addDomListener(window, 'load', initialize);
</script>