<div class="pageWrap">

    <%= render "/home/tp_bar" %>
    <!-- /tp-bar -->

    <%= render "/home/main_bar" %>
    <!-- /main-bar -->

    <section class="section-banner">
        <div class="container">
            <ul class="breadcrumb">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li class="active">Liên Hệ</li>
            </ul>
        </div>
    </section>
    <!-- /section-banner -->

    <section class="section-compact">
        <div class="container">
            <div class="cart-block">

                <div class="form-main-container">
                    <div class="row">
                        <div class="col-sm-5 col-lg-4">
                            <header class="heading-5">
                                <h4>01/</h4>
                                <span>Thông Tin <br>Liên Hệ</span>
                            </header>
                            <% if !@info_contact.get_company.nil? %>
                                <ul class="contact-list">
                                    <li><span class="iconic"><i class="flaticon-call36"></i></span><a href="tel:<%= @info_contact.get_company.phone %>"><%= @info_contact.get_company.phone %></a></li>
                                    <li><span class="iconic"><i class="flaticon-email15"></i></span><a href="mailto:<%= @info_contact.get_company.email %>"><%= @info_contact.get_company.email %></a></li>
                                    <!--<li><span class="iconic"><i class="flaticon-twitter16"></i></span><a href="#">@followperfume</a></li>-->
                                    <li><span class="iconic"><i class="flaticon-facebook43"></i></span><a href="https://www.facebook.com/Lumla-shop-Đẹp-1401009733493121">Lumla Shop-Đẹp+</a></li>
                                </ul>
                            <% end %>
                        </div>
                        <div class="col-sm-7 col-lg-8">
                            <div class="form-section-box">
                                <header class="heading-5 text-center">
                                    <h4>02/</h4>
                                    <span>Gửi Tin Nhắn<br> Liên Hệ</span>
                                </header>
                                <div id="message"></div>
                                <%= form_for Contact.new, url: {controller: "contact", action: "index"}, html: {class: "checkout-form validate-form", "id" => "form_validate" } do |f| %>

                                    <div class="form-group row">
                                        <%= f.label "Họ và Tên *", class: "col-md-3 label-md" %>
                                        <div class="col-md-9">
                                            <%= f.text_field :name, class: "form-control name required", required: true, placeholder: "Nhập họ & tên.....", id: "contact_name" %>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <%= f.label "Email *", class: "col-md-3 label-md" %>
                                        <div class="col-md-9">
                                            <%= f.text_field :email, class: "form-control email required", required: true, placeholder: "Nhập địa chỉ email.....", id: "contact_email" %>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <%= f.label "Số Điện Thoại *", class: "col-md-3 label-md" %>
                                        <div class="col-md-9">
                                            <%= f.text_field :phone, class: "form-control phone required", required: true, placeholder: "Nhập số điện thoại.....", id: "contact_phone" %>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <%= f.label "Tin Nhắn *", class: "col-md-3 label-md" %>
                                        <div class="col-md-9">
                                            <%= f.text_area :message, rows: '5', class: "form-control message required", required: true, placeholder: "Nhập nội dung cần gửi.....", id: "contact_message" %>
                                        </div>
                                    </div>
                                    
                                    <p class="text-center">
                                        <%= f.submit 'GỬI TIN NHẮN', class: 'btn btn-default btn-lg', id: "submit_btns" %>
                                    </p>

                                <% end %>
                            </div>
                            <!-- /form-section-box -->
                        </div>
                    </div>
                </div>
                <!-- /form-main-container -->


            </div>
            <!-- /cart-block -->
        </div>

    </section>

    <%= render "/home/footer" %>

</div>
<!-- /pageWrap -->


<div class="preloader-container">
    <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
        <div class="object" id="object_five"></div>
        <div class="object" id="object_six"></div>
        <div class="object" id="object_seven"></div>
        <div class="object" id="object_eight"></div>
        <div class="object" id="object_big"></div>
    </div>
    <!-- /loading-center-absolute -->
</div>
<!-- /preloader-container -->


<!-- JavaScript
================================================== -->
<%= javascript_include_tag "/frontend/js/jquery-1.11.2.min.js" %>
<%= javascript_include_tag "/frontend/js/bootstrap.min.js" %>
<%= javascript_include_tag "/frontend/js/script.js" %>

<%= javascript_include_tag "/frontend/js/ie10-viewport-bug-workaround.js" %>
<%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>
<script>
    jQuery(document).ready(function($){
        $("#form_validate").validate();
    });
</script>