<div id="page-wrapper">
    
    <!-- HEADER -->
    <%= render "/home/header" %>

    <div class="page-title-container style4">
        <div class="container">
            <div class="page-title">
                <h2 class="entry-title">Liên Hệ</h2>
            </div>
            <ul class="breadcrumbs">
                <li><%= link_to "Trang Chủ", root_path %></li>
                <li class="active">Liên Hệ</li>
            </ul>
        </div>
    </div>
    
    <section id="content">
        <div class="container">
            <div id="main">
                <div class="contact-address row block">
                    <div class="col-md-4">
                        <div class="icon-box style5">
                            <i class="soap-icon-phone"></i>
                            <div class="description">
                                <small>Hỗ trợ khách hàng</small>
                                <h5>
                                    HOTLINE 1: <a href="tel:<%= Company.get_company.hotline %>"><%= Company.get_company.hotline %></a><br />
                                    HOTLINE 2: <a href="tel:<%= Company.get_company.hotline %>"><%= Company.get_company.hotline_2 %></a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box style5">
                            <i class="soap-icon-message"></i>
                            <div class="description">
                                <small>Email</small>
                                <h5><a href="mailto:<%= Company.get_company.email %>"><%= Company.get_company.email %></a><br/>
                                    <a href="mailto:<%= Company.get_company.email_2 %>"><%= Company.get_company.email_2 %></a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box style5">
                            <i class="soap-icon-conference"></i>
                            <div class="description">
                                <small>Thời gian làm việc</small>
                                <h5>Sáng: 8h00 - 12h00<br>
                                    Chiều: 13h00 - 17h30
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-address row block">
                    <div class="col-md-12">
                        <div class="icon-box style5">
                            <i class="soap-icon-address"></i>
                            <div class="description">
                                <small>Địa chỉ</small>
                                <h5><strong><%= Company.get_company.name %></strong><br>
                                    <%= Company.get_company.sales_office_address %>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="travelo-box box-full">
                    <div class="contact-form">
                        <h2>Liên Hệ</h2>
                        <%= form_for @contact, html: {id: "form-validate"} do |f| %>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Họ & Tên <span class="text-required">*</span></label>
                                        <%= f.text_field :name, class: "input-text full-width required", placeholder: "Nhập họ & tên tại đây....." %>
                                    </div>
                                    <div class="form-group">
                                        <label>Email <span class="text-required">*</span></label>
                                        <%= f.text_field :email, class: "input-text full-width required email", placeholder: "Nhập địa chỉ email tại đây....." %>
                                    </div>
                                    <div class="form-group">
                                        <label>Số Điện Thoại <span class="text-required">*</span><span class="text-required"></label>
                                        <%= f.text_field :phone, class: "input-text full-width required", placeholder: "Nhập số điện thoại tại đây....." %>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Lời Nhắn <span class="text-required">*</span></label>
                                        <%= f.text_area :message, rows: '8', class: "input-text full-width required", placeholder: "Nhập lời nhắn quý khách cần gửi tại đây....." %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sms-offset-6 col-sm-offset-6 col-md-offset-8 col-lg-offset-9">
                                <button class="btn-medium full-width sky-blue1">GỬI LỜI NHẮN</button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%= render "/home/footer" %>
    
</div>

<!-- Javascript -->
<%= render "/home/js_files" %>

<script>
    jQuery(document).ready(function($){
        $("#form-validate").validate();
    });
</script>