<div class="site_wrapper">

    <%= render "/home/top_navigation" %>
    <!-- end top navigation links -->


    <div class="clearfix"></div>


    <%= render "/home/header" %>
    <!-- end header -->


    <div class="clearfix"></div>


    <div class="page_title1 sty12">
        <div class="container alicent">

            <h1><%= t(:customer_support) %></h1>

        </div>
    </div>
    <!-- end page title -->


    <div class="clearfix"></div>


    <div class="feature_section17">
        <div class="container">

            <div class="one_third">
                <i class="fa fa-envelope-o"></i>
                <h3 class="caps"><strong><%= t(:email_support) %></strong></h3>
                <h5 class="light">Slightly you are needs to be sure chunks is therefore always.</h5>
                <a href="mailto:<%= Company.get_company.email %>"><strong><%= Company.get_company.email %></strong></a><br />
            </div>
            <!-- end section -->

            <div class="one_third">
                <i class="fa fa-phone"></i>
                <h3 class="caps"><strong><%= t(:phone_support) %></strong></h3>
                <h5 class="light">Slightly you are needs to be sure chunks is therefore always. <br />
                Office: <strong><%= Company.get_company.phone %></strong> <br />
                Technical: <strong>+84 97 600 9003</strong> <br />
                Hotline: <strong><%= Company.get_company.hotline %></strong>
            </h5>
            </div>
            <!-- end section -->

            <div class="one_third last">
                <i class="fa fa-comments-o"></i>
                <h3 class="caps"><strong><%= t(:live_chat) %></strong></h3>
                <h5 class="light">Slightly you are needs to be tend need to be sure there to repeat is therefore always.</h5>
                <strong class="marg-right"><a href="skype:luanpm88?chat"><img src="/frontend/images/skype.png" border="0" height="23px" alt=""></a></strong> <strong><a href="viber://+84976009003?callto"><img src="/frontend/images/viber.png" border="0" height="23px" alt=""></a></strong>
            </div>
            <!-- end section -->
            
        </div>
    </div>
    <!-- featured section 17 -->


    <div class="clearfix"></div>


    <div class="container">

        <h2><strong>Frequently Asked Questions</strong></h2>

        <div id="st-accordion-four" class="st-accordion-four">
            <ul>
                <li>
                    <a href="#">Responsive Theme with 3 Diffrent Demos<span class="st-arrow">Open or Close</span></a>
                    <div class="st-content">

                        <p>There are many variations of but the majority have suffered alteration in some form, by injected humour, or randomised words which looks. Lorem Ipsum is simply dummy text of the printing and typesetting indust been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into. Lorem Ipsum is simply dummy text of the printing and typesetting indust been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book not only five centuries, but also the leap into.</p>

                    </div>
                </li>
                <!-- end section -->

                <li>
                    <a href="#">Well Commented and Structured Code<span class="st-arrow">Open or Close</span></a>
                    <div class="st-content">

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into. Lorem Ipsum is simply dummy text of the printing and typesetting indust been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into. </p>

                    </div>
                </li>
                <!-- end section -->

                <li>
                    <a href="#">Awesome Different Styles of Slideshows<span class="st-arrow">Open or Close</span></a>
                    <div class="st-content">
                        <p>There are many variations of but the majority have suffered alteration in some form, by injected humour, or randomised words which looks.</p>
                    </div>
                </li>
                <!-- end section -->

                <li>
                    <a href="#">Custom BG Patterns, Unlimited Colors and Shortcodes<span class="st-arrow">Open or Close</span></a>
                    <div class="st-content">
                        <p>There are many variations of but the majority have suffered alteration in some form, by injected humour, or randomised words which looks. There are many variations of but the majority have suffered alteration in some form, by injected humour, or randomised words which looks.</p>
                    </div>
                </li>
                <!-- end section -->

                <li>
                    <a href="#">Designed for Law and Business Websites with Mega Menu<span class="st-arrow">Open or Close</span></a>
                    <div class="st-content">
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
                    </div>
                </li>
                <!-- end section -->

                <li>
                    <a href="#">Cross Browser Support and Layered PSD Files<span class="st-arrow">Open or Close</span></a>
                    <div class="st-content">
                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
                    </div>
                </li>
                <!-- end section -->

                <li>
                    <a href="#">Get Much More...<span class="st-arrow">Open or Close</span></a>
                    <div class="st-content">
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words.</p>
                    </div>
                </li>
                <!-- end section -->

            </ul>
        </div>


    </div>


    <div class="clearfix margin_bottom7"></div>


    <%= render "/home/footer" %>
    <!-- end footer -->


    <div class="clearfix"></div>


    <a href="#" class="scrollup">Scroll</a>
    <!-- end scroll to top of the page-->

</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery used for the theme -->
<%= render "/home/js_files" %>

<!-- get jQuery used for the theme - only support page -->
<script src="/frontend/js/timeline/modernizr.js"></script>
<script>
    (function($) {
        "use strict";

        jQuery(document).ready(function($) {
            var $timeline_block = $('.cd-timeline-block');

            //hide timeline blocks which are outside the viewport
            $timeline_block.each(function() {
                if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                }
            });

            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function() {
                $timeline_block.each(function() {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                });
            });
        });

    })(jQuery);
</script>